/*Field Labels*/
:--namespace form.glsr-form .glsr-field-toggle label,
:--namespace form.glsr-form .glsr-field-choice span label {
    font-size: 1.6rem;
    font-weight: normal;
    letter-spacing: 0;
    text-transform: none;
}
@media screen and (min-width: 46.25em) {
    :--namespace form.glsr-form .glsr-field-toggle label,
    :--namespace form.glsr-form .glsr-field-choice span label {
        font-size: 1.7rem;
    }
}
@media screen and (min-width: 55em) {
    :--namespace form.glsr-form .glsr-field-toggle label,
    :--namespace form.glsr-form .glsr-field-choice span label {
        font-size: 1.9rem;
    }
}
@media screen and (min-width: 59.6875em) {
    :--namespace form.glsr-form .glsr-field-toggle label,
    :--namespace form.glsr-form .glsr-field-choice span label {
        font-size: 1.6rem;
    }
}
@media screen and (min-width: 68.75em) {
    :--namespace form.glsr-form .glsr-field-toggle label,
    :--namespace form.glsr-form .glsr-field-choice span label {
        font-size: 1.7rem;
    }
}
@media screen and (min-width: 77.5em) {
    :--namespace form.glsr-form .glsr-field-toggle label,
    :--namespace form.glsr-form .glsr-field-choice span label {
        font-size: 1.9rem;
    }
}
