$glsr: (
    parent: '#et-boc .glsr-divi, .glsr-divi',
);

@import "../public/variables";
@import "../public/base";
@import "../public/reviews";
@import "../public/reviews-summary";

#{glsr(parent)} {
    .glsr-has-errors {
        color: #F00;
    }
}
