@import "../public/variables";
@import "node_modules/star-rating.js/src/star-rating";

@keyframes glsr-loader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#et-boc form.glsr-form,
form.glsr-form {
    label {
        float: none;
        display: block;
        hyphens: none;
    }
    label.glsr-checkbox-label,
    label.glsr-radio-label {
        display: inline;
    }
    select.glsr-star-rating {
        visibility: hidden !important;
        display: block;
    }
    input[type=text],
    input[type=email],
    textarea {
        float: none;
        display: block;
        width: 100%;
        min-width: 100%;
        font-size: inherit;
        line-height: inherit;
        box-sizing: border-box;
    }
    [type=submit] {
        white-space: nowrap !important;
    }
    [type=submit] .glsr-button-loading {
        display: none;
    }
    [type=submit][disabled] .glsr-button-loading {
        display: inline;
        position: relative;
    }
    [type=submit] .glsr-button-loading::before,
    [type=submit] .glsr-button-loading::after {
        display: inline-block;
        position: absolute;
        top: 50%;
        height: 1em;
        width: 1em;
        content: '';
        border: 0.2em solid currentColor;
        border-radius: 100%;
        box-sizing: border-box;
        margin: -0.5em auto 0;
        animation: glsr-loader 0.5s infinite linear;
    }
    [type=submit] .glsr-button-loading::before {
        opacity: 0.5;
        border-top-color: transparent;
    }
    [type=submit] .glsr-button-loading::after {
        border-color: transparent;
        border-top-color: currentColor;
    }
}
#et-boc .glsr-ltr form.glsr-form,
.glsr-ltr form.glsr-form {
    [type=submit][disabled] .glsr-button-loading {
        margin-right: 1.65em;
    }
    [type=submit] .glsr-button-loading::before,
    [type=submit] .glsr-button-loading::after {
        left: 0;
    }
    .glsr-required label span::after {
        margin-left: 0.33em;
    }
}
#et-boc .glsr-rtl form.glsr-form,
.glsr-rtl form.glsr-form {
    [type=submit][disabled] .glsr-button-loading {
        margin-left: 1.65em;
    }
    [type=submit] .glsr-button-loading::before,
    [type=submit] .glsr-button-loading::after {
        right: 0;
    }
    .glsr-required label span::after {
        margin-right: 0.33em;
    }
}
#et-boc .glsr-disabled .glsr-button,
.glsr-disabled .glsr-button {
    pointer-events: none;
    cursor: wait;
    opacity: .5;
}
#et-boc .glsr-field,
.glsr-field {
    position: relative;
}
#et-boc .glsr-field ul,
.glsr-field ul {
    list-style-type: none;
}
#et-boc .glsr-error,
.glsr-error {
    font-size: 0.875em;
}
#et-boc .glsr-hidden,
.glsr-hidden {
    display: none;
}
#et-boc .glsr-loader,
.glsr-loader {
    display: none;
    position: absolute;
    bottom: 0;
    left: calc(50% - 12px);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: glsr-loader 0.5s infinite linear;
    transform: translateZ(0);
    margin: 0;
    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        background: rgba(0,0,0,0.75);
        border-radius: 50%;
    }
    &::before {
        top: 0;
        left: 0;
    }
    &::after {
        bottom: 0;
        right: 0;
    }
}
#et-boc .glsr-hide .glsr-loader,
.glsr-hide .glsr-loader {
    display: block;
}
#et-boc .glsr-read-more,
.glsr-read-more {
    white-space: nowrap;
    &::before {
        content: '\2026';
    }
}
#et-boc .glsr-ltr .glsr-read-more::before,
.glsr-ltr .glsr-read-more::before {
    margin-right: 0.5em;
}
#et-boc .glsr-rtl .glsr-read-more::before,
.glsr-rtl .glsr-read-more::before {
    margin-left: 0.5em;
}
#et-boc .glsr-visible + .glsr-read-more::before,
.glsr-visible + .glsr-read-more::before {
    content: '';
}
#et-boc .glsr-recaptcha-holder,
.glsr-recaptcha-holder {
    margin-top: 1em;
}
#et-boc .glsr-reviews-wrap,
.glsr-reviews-wrap {
    position: relative;
    &::after {
        display: table;
        content: '';
        clear: both;
    }
}
#et-boc .glsr-summary-wrap .screen-reader-text,
#et-boc .glsr-reviews-wrap .screen-reader-text,
.glsr-summary-wrap .screen-reader-text,
.glsr-reviews-wrap .screen-reader-text {
    position: absolute;
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    word-wrap: normal !important;
    padding: 0;
    margin: -1px;
}
#et-boc .glsr-default,
.glsr-default {
    .glsr-review::after,
    .glsr-pagination::after {
        content: '';
        display: table;
        clear: both;
    }
    .glsr-review {
        margin-bottom: $glsr-font-size*3;
    }
    .glsr-review > div {
        margin-bottom: $glsr-font-size;
    }
    .glsr-review > div:last-of-type {
        margin-bottom: 0;
    }
    .glsr-review p {
        white-space: pre-line;
        margin: 0 0 $glsr-font-size;
    }
    .glsr-review,
    .glsr-pagination .navigation {
        opacity: 1;
        transition: opacity 500ms;
    }
    &.glsr-hide .glsr-review,
    &.glsr-hide .glsr-pagination .navigation {
        opacity: 0 !important;
    }
    .glsr-review-assigned_to {
        display: block;
        font-style: italic;
    }
    .glsr-review-author {
        display: inline-block;
        vertical-align: top;
    }
    .glsr-review-avatar + .glsr-review-author {
        margin-top: 0.5em;
    }
    *:not(.glsr-review-avatar) + .glsr-review-author::before {
        content: '\2014'; // &mdash;
    }
    .glsr-review-avatar img {
        display: block;
        object-fit: cover;
    }
    .glsr-review-content p {
        line-height: 1.5;
    }
    .glsr-review-date {
        display: inline-block;
        font-style: italic;
        white-space: nowrap;
    }
    .glsr-review-rating {
        display: inline-block;
    }
    .glsr-review-response {
        position: relative;
        clear: both;
    }
    .glsr-review-response p:last-of-type {
        font-size: $glsr-font-size-small;
        margin-bottom: 0;
    }
    .glsr-review-response-background {
        opacity: $glsr-opacity;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: currentColor;
        border-radius: 2px;
        padding: 1em;
    }
    .glsr-review-response-background::before {
        content: '';
        display: block;
        position: absolute;
        top: -1.5em;
        height: 0;
        width: 0;
        border-style: solid;
        border-color: currentColor transparent;
        border-width: 0 0 1.5em 0;
    }
    .glsr-review-response-inner {
        position: relative;
        padding: 1em;
        z-index: 1;
    }
}
#et-boc .glsr-ltr .glsr-default,
.glsr-ltr .glsr-default {
    .glsr-review-avatar {
        float: left;
        margin-right: 1em;
    }
    .glsr-review-rating {
        margin-right: 0.5em;
    }
    .glsr-review-response-background::before {
        right: 3em;
        border-right-width: 2em;
    }
}
#et-boc .glsr-rtl .glsr-default,
.glsr-rtl .glsr-default {
    .glsr-review-avatar {
        float: right;
        margin-left: 1em;
    }
    .glsr-review-rating {
        margin-left: 0.5em;
    }
    .glsr-review-response-background::before {
        left: 3em;
        border-left-width: 2em;
    }
}
#et-boc .glsr-star,
.glsr-star {
    font-size: inherit;
    background-size: $glsr-star-size;
    height: $glsr-star-size;
    width: $glsr-star-size;
    display: inline-block;
    background-repeat: no-repeat;
}
#et-boc .glsr-default,
.glsr-default {
    &.glsr-summary {
        position: relative;
        width: 100%;
        max-width: $glsr-summary-max-width;
        font-size: $glsr-summary-font-size;
        line-height: 1.5;
    }
    &.glsr-summary > div {
        margin-bottom: $glsr-summary-font-size/2;
    }
    &.glsr-summary > div:last-of-type {
        margin-bottom: 0;
    }
    .glsr-bar {
        display: table-row;
        white-space: nowrap;
    }
    .glsr-bar > span {
        display: table-cell;
        vertical-align: middle;
    }
    .glsr-bar-background {
        position: relative;
        width: 100%;
    }
    .glsr-bar-background::before {
        opacity: $glsr-opacity;
        display: block;
        position: absolute;
        content: '';
        width: 100%;
        height: $glsr-summary-bar-height;
        background-color: currentColor;
    }
    .glsr-bar-background-percent {
        position: relative;
        display: block;
        height: $glsr-summary-bar-height;
        background-color: #ffb900;
    }
    .glsr-bar-percent {
        text-align: right;
        font-size: $glsr-summary-font-size-small;
    }
    .glsr-summary-percentage {
        position: relative;
        width: 100%;
        max-width: $glsr-summary-max-width;
        font-size: $glsr-summary-font-size;
        line-height: 1.5;
    }
    .glsr-summary-rating {
        display: inline-block;
        line-height: 1.25;
        font-size: $glsr-summary-star-size;
        font-weight: 700;
        vertical-align: top;
    }
    .glsr-summary-stars {
        display: inline-block;
    }
    .glsr-summary-stars .glsr-star {
        width: $glsr-summary-star-size;
        height: $glsr-summary-star-size;
        background-size: $glsr-summary-star-size;
    }
    .glsr-summary-text {
        // font-size: $glsr-summary-font-size-small;
        // margin-bottom: 0.5em;
    }
}
#et-boc .glsr-ltr .glsr-default,
.glsr-ltr .glsr-default {
    .glsr-bar-label {
        padding-right: $glsr-summary-spacing;
    }
    .glsr-bar-percent {
        padding-left: $glsr-summary-spacing;
    }
    .glsr-summary-rating,
    .glsr-summary-stars {
        margin-right: $glsr-summary-spacing;
    }
}
#et-boc .glsr-rtl .glsr-default,
.glsr-rtl .glsr-default {
    .glsr-bar-label {
        padding-left: $glsr-summary-spacing;
    }
    .glsr-bar-percent {
        padding-right: $glsr-summary-spacing;
    }
    .glsr-summary-rating,
    .glsr-summary-stars {
        margin-left: $glsr-summary-spacing;
    }
    .glsr-summary-stars .glsr-star {
        transform: scaleX(-1);
    }
}
