$glsr-star-empty: '../../images/star-empty.svg';
$glsr-star-full: '../../images/star-filled.svg';
$glsr-star-half: '../../images/star-half.svg';

@import "../public/variables";
@import "../public/base";
@import "../public/reviews";
@import "../public/reviews-summary";
