@import "../public/variables";

$glsr: (
    parent: '.glsr-minimal',
);

@import "../public/base";
@import "../public/reviews";
@import "../public/reviews-summary";

.glsr-field {
	margin-bottom: 1em;
}
