@import "../public/variables";

$glsr: (
    parent: '.glsr-twentyseventeen',
);

@import "../public/base";
@import "../public/reviews";
@import "../public/reviews-form";
@import "../public/reviews-summary";

.glsr-loader {
	bottom: 7em;
}

@media screen and (min-width: 48em) {
	.glsr-loader {
		bottom: 7.5em;
	}
}
