$glsr: (
    color-grey-dark: #4a4a4a,
    color-grey: #767676,
    font-family: '-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif',
    font-size-large: 1.125em,
    font-size-small: 0.71111em,
    font-size: 0.88889em,
    parent: '.glsr-twentynineteen',
    star-size: 1.125em,
    summary-font-size-small: inherit,
    summary-font-size: 0.71111em,
    summary-star-size: 1.125em,
);


@import "../public/variables";

$star-rating: (
    base-height: 34px,
    star-size  : 32px,
);

@import "../public/base";
@import "../public/reviews";
@import "../public/reviews-summary";

#{glsr(parent)} {
    // Reviews
    .glsr-review > div,
    .glsr-review p {
        margin-bottom: 20px;
    }
    .glsr-review-title h3 {
        font-size: glsr(font-size-large);
    }
    .glsr-field-error,
    .glsr-review-date,
    .glsr-review-author {
        font-size: glsr(font-size-small);
    }
    .glsr-review-date,
    .glsr-review-author {
        color: glsr(color-grey);
        font-weight: 500;
    }
    .glsr-review-rating,
    .glsr-stars {
        height: glsr(font-size-small) * 1.6;
        vertical-align: middle;
    }
    .glsr-review-date {
        font-style: normal;
        line-height: 1.6;
        vertical-align: middle;
    }
    .glsr-review-date,
    .glsr-review-author,
    .glsr-review-response strong {
        font-family: glsr(font-family);
    }
    .glsr-review-response p,
    .glsr-review-response p:last-of-type {
        font-size: glsr(font-size);
        line-height: 1.6;
    }
    // Summary
    .glsr-summary {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        font-size: 1em;
    }
    .glsr-summary-stars {
        font-size: glsr(summary-star-size);
        line-height: 1.25;
    }
    .glsr-summary-text {
        font-size: glsr(summary-font-size);
    }
    // Form
    form.glsr-form .glsr-field {
        line-height: 1.6;
    }
    form.glsr-form label:not(.glsr-checkbox-label) {
        display: inline;
        font-family: glsr(font-family);
        font-size: glsr(font-size-small);
        color: glsr(color-grey);
    }
    form.glsr-form .glsr-field-choice {
        position: relative;
        display: block;
    }
    form.glsr-form .glsr-field-choice input {
        position: absolute;
        height: glsr(font-size) * 1.6;
        box-sizing: border-box;
        padding: 0;
    }
    form.glsr-form .glsr-field-choice label {
        display: inline-block;
        font-size: glsr(font-size);
        margin: 0;
    }
    form.glsr-form .glsr-required label span::after {
        content: '\002a';
    }
    form.glsr-form .glsr-form-messages {
        color: glsr(color-success);
    }
    form.glsr-form .glsr-form-messages p {
        margin-top: glsr(font-size);
    }
    form.glsr-form .glsr-field-error {
        font-family: glsr(font-family);
        font-size: glsr(font-size-small);
    }
    form.glsr-form .glsr-field-error,
    form.glsr-form .glsr-has-errors {
        color: glsr(color-error);
    }
    form.glsr-form input:not([type=checkbox]):not([type=radio]),
    form.glsr-form textarea {
        padding-bottom: 0.18rem;
    }
    form.glsr-form input:not([type=checkbox]):not([type=radio]).glsr-is-invalid,
    form.glsr-form textarea.glsr-is-invalid {
        border-color: glsr(color-error);
    }
    form.glsr-form .gl-star-rating[data-star-rating] {
        line-height: 1;
    }
    &.glsr-ltr form.glsr-form .glsr-field input[type=checkbox],
    &.glsr-ltr form.glsr-form .glsr-field input[type=radio] {
        left: 0;
    }
    &.glsr-ltr form.glsr-form .glsr-field-choice {
        padding-left: 1.25rem;
    }
    &.glsr-rtl form.glsr-form .glsr-field input[type=checkbox],
    &.glsr-rtl form.glsr-form .glsr-field input[type=radio] {
        right: 0;
    }
    &.glsr-rtl form.glsr-form .glsr-field-choice {
        padding-right: 1.25rem;
    }
}
