.wp-block-site-reviews-surecart-product-reviews {
    a.page-numbers,
    span.page-numbers {
        align-items: center;
        color: inherit;
        display: inline-flex;
        gap: var(--sc-spacing-xx-small);
        line-height: 1;
        padding: 0.25em;
        text-decoration: none;
    }
    a.page-numbers:focus:not(:focus-visible) {
        outline: none;
    }
    span.page-numbers {
        opacity: 0.5;
        pointer-events: none;
    }
    .nav-links {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: var(--sc-spacing-xx-small);
    }
    .nav-links [data-type] {
        display: flex;
        flex: 1;
    }
    .nav-links [data-type="prev"] {
        justify-content: start;
        .prev {
            padding-inline-start: 0;
        }
    }
    .nav-links [data-type="next"] {
        justify-content: end;
        .next {
            padding-inline-end: 0;
        }
    }
}

