// =============================================================================
// Partials -> Twenty Ten
// =============================================================================

$twenty-ten-error: #ff4b33;
$twenty-ten-success: #2b54d6;
$twenty-ten-sans-serif: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;

.glsr-form-messages {
	color: $twenty-ten-success;
}

.gslr-has-errors {
	color: $twenty-ten-error;
}

.shortcode-reviews-form {
	position: relative;
	border-top: 1px solid #e7e7e7;
	margin: 24px 0;
}

#content .glsr-form-title,
.glsr-form-title {
	color: #000;
	font-size: 20px;
	font-weight: 600;
	font-family: $twenty-ten-sans-serif;
	margin: 18px 0;
}

.glsr-form-description span {
	color: $twenty-ten-error;
}

.glsr-field {
	margin: 0 0 9px;

	&-error {
		color: $twenty-ten-error;
	}

	label[for^="rating"]:after,
	&.glsr-required label:after {
		color: $twenty-ten-error;
	}

	input[type="text"],
	input[type="email"],
	input[type="url"] {
		width: 98%;
		margin: 0;
	}

	input[type="checkbox"] {
		margin-right: 0.25em;
	}

	textarea {
		width: 98%;
	}
}

#content .glsr-review-response p {
	margin-bottom: 1em;

	&:last-of-type {
		margin-bottom: 0;
	}
}
