.*
!.babelrc
!.gitattributes
!.gitignore
!.jshintrc
!.scrutinizer.yml
!.travis.yml
!.wp-env.json
*.LICENSE.txt
*.log
*.map
coverage.xml
mix-manifest.json
npm-debug.log*

coverage
node_modules
vendor

/*.html
/*.md
