.*
!.gitattributes
!.gitignore
!.jshintrc
!.scrutinizer.yml
!.travis.yml
*.log
*.map
coverage.xml

/_
/node_modules
/vendor/*/*

!/vendor/qcubed/i18n
!/vendor/sinergi/browser-detector
!/vendor/vectorface/whip
/vendor/*.php
/vendor/**/.git*
/vendor/**/Tests
/vendor/**/tests
/vendor/**/*.json
/vendor/**/*.yml
/vendor/**/CHANGELOG*
/vendor/**/CONTRIBUTING*
/vendor/**/Makefile
/vendor/**/phar-stub.php
/vendor/**/phpunit.*
/vendor/**/README*
/vendor/**/UPGRADING*
/vendor/composer/installers
/vendor/qcubed/i18n/src/*.php
/vendor/qcubed/i18n/test
/vendor/qcubed/i18n/tools
/vendor/sinergi/browser-detector/src/AcceptLanguage.php
/vendor/sinergi/browser-detector/src/Device*
/vendor/sinergi/browser-detector/src/Language*
/vendor/sinergi/browser-detector/src/Os*
