*       text=auto
/.*     export-ignore
/*.js   export-ignore
/*.json export-ignore
/*.lock export-ignore
/*.log  export-ignore
/*.md   export-ignore
/*.sh   export-ignore
/*.xml  export-ignore
/src    export-ignore
/tests  export-ignore
