includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
  bootstrapFiles:
    - autoload.php
    - helpers.php
    - tests/phpstan/bootstrap.php
  excludePaths:
    - plugin/Controllers/IntegrationController.php
    - plugin/Integrations
  ignoreErrors:
    # Uses func_get_args()
    - '#^Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.$#'
    # These are ArrayObject classes
    - '#Access to an undefined property WP_|GeminiLabs\\SiteReviews\\(Arguments|Request)::(.+)#'
    # get_views() is in the $compat_methods array for public access, leave this for now
    - '#Call to protected method get_views\(\) of class WP_Posts_List_Table.#'
    # Akismet functions
    - '#Call to static method [a-zA-Z_\(\)]+ on an unknown class Akismet.#'
    # Polylang functions
    - '#Function pll_[a-z_]+ not found.#'
    # This usage is acceptable in the project
    - '#Unsafe usage of new static\(\).#'
    # PHPStan has trouble recognizing global functions as callbacks
    - "#^Parameter \\#2 \\$callback of function array_filter expects (callable\\(mixed, mixed\\): bool|null), 'strlen' given\\.$#"
    # The wpdb class provides access to $dbname with __get
    - '#Access to protected property wpdb::\$dbname.#'
  level: 5
  paths:
    - config/
    - plugin/
