includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
  level: 5
  bootstrapFiles:
    - tests/phpstan/bootstrap.php
    - autoload.php
    - helpers.php
  paths:
    - plugin/
  ignoreErrors:
    # Uses func_get_args()
    - '#^Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.$#'
    # TODO
    - '#^Unsafe usage of new static\(\)\.$#'
    # TODO Add Akismet stubs
    - '#^Call to static method (get_api_key|http_post)\(\) on an unknown class Akismet\.$#'
    # get_views() is in the $compat_methods array for public access
    - '#^Call to protected method get_views\(\) of class WP_Posts_List_Table\.$#'
    # TODO Add Polylang stubs
    - '#^Function (pll_get_post|pll_get_post_language|pll_get_post_translations) not found\.$#'
    # Define properties!!
    - '#^Access to an undefined property GeminiLabs\\SiteReviews\\(Arguments|Request)::\S+\.$#'
    # PHPStan has trouble recognizing global functions as callbacks
    - "#^Parameter \\#2 \\$callback of function array_filter expects callable\\(mixed, mixed\\): bool, '(strlen|trim)' given\\.$#"
