<phpunit
	bootstrap="tests/Bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	verbose="true"
	>
	<testsuites>
		<testsuite name="basic-tests">
			<directory>tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory>plugin/</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-clover" target="tests/coverage.xml" />
	</logging>
</phpunit>
