:root .glsr * + * {
    box-sizing: border-box;
}
:root .glsr,
:root .glsr-modal {
    border-width: 0;
    font-size: var(--glsr-text-base);
}
:root .glsr .screen-reader-text,
:root .glsr-modal .screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}
:root .glsr-captcha-holder iframe {
    margin: 0 !important;
}
:root .glsr-captcha-holder[data-size=invisible]:not([data-badge=inline]) {
    bottom: 0;
    position: absolute;
}
:root .glsr-captcha-holder > div {
    display: flex;
}
:root .glsr-fade-out {
    opacity: 0 !important;
    transition: visibility 0s cubic-bezier(0,0,.2,1) var(--glsr-duration-slow),
                opacity var(--glsr-duration-slow) !important;
    visibility: hidden !important;
}
:root .glsr-reviews-wrap,
:root .glsr-reviews {
    display: grid;
    gap: var(--glsr-gap-xl);
}
