:--namespace button.glsr-button {
    align-items: center;
    display: flex;
    cursor: pointer;
    white-space: nowrap;
}
:--namespace button.glsr-button:not(.wp-block-search__button) {
    margin: 0;
}
:--namespace button.glsr-button[aria-busy=true] {
    gap: var(--glsr-gap-sm);
}
:--namespace .wp-block-button {
    margin: 0;
}
