:--namespace form.glsr-form label.glsr-label {
    display: block;
    float: none;
    hyphens: none;
    margin: 0;
}
:--namespace form.glsr-form .glsr-description {
    display: block;
    font-weight: normal;
}
