:--namespace form.glsr-form .glsr-range-labels {
  display: grid;
  font-size: var(--glsr-text-sm);
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  line-height: 1.5;
  text-align: center;
  :first-child {
    text-align: start;
  }
  :last-child {
    text-align: end;
  }
}
:--namespace form.glsr-form .glsr-range-options {
  align-items: center;
  display: flex;
  font-size: var(--glsr-text-base);
  gap: var(--glsr-gap-lg);
  justify-content: space-between;
  margin-bottom: calc(var(--glsr-text-sm) * 1.5);
  padding-top: var(--glsr-gap-xs);
  padding-bottom: var(--glsr-gap-xs);
  position: relative;
  &::before {
    background-color: var(--glsr-input-border-color);
    content: '';
    display: block;
    height: var(--glsr-input-border-width);
    min-height: 1px;
    position: absolute;
    width: 100%;
  }
}
:--namespace form.glsr-form .glsr-range-options:has(.glsr-is-invalid)::before {
  background-color: var(--glsr-form-error);
}
:--namespace form.glsr-form .glsr-field-range {
  display: flex;
  position: initial;
  z-index: 1;
}
:--namespace form.glsr-form .glsr-range-options input[type="radio"].glsr-input-range {
  border-radius: 50%;
  display: block;
  flex-shrink: 0;
  height: var(--glsr-range-size);
  width: var(--glsr-range-size);
}
:--namespace form.glsr-form .glsr-range-options label {
  display: none;
}
:--namespace form.glsr-form .glsr-range-options input[type="radio"]:checked + label {
  display: flex;
  font-size: var(--glsr-text-sm);
  font-weight: 400;
  left: 0;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
}
:--namespace form.glsr-form .glsr-range-options:not(:has(input[type="radio"]:checked))::after {
  content: attr(data-placeholder);
  display: flex;
  font-size: var(--glsr-text-sm);
  line-height: 1.5;
  left: 0;
  position: absolute;
  top: 100%;
}
