:root form.glsr-form .glsr-star-rating:not([data-star-rating]) .glsr-star-rating--stars {
    display: none !important;
}
:root form.glsr-form .glsr-star-rating > select {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px !important;
    margin: 0 !important;
    opacity: 0 !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    top: 0 !important;
    visibility: visible !important;
    white-space: nowrap !important;
    width: 1px !important;
    &::before,
    &::after {
        display: none !important;
    }
    &:focus + .glsr-star-rating--stars::before {
        box-shadow: 0 0 0 3px -moz-mac-focusring;
        box-shadow: 0 0 0 3px -webkit-focus-ring-color;
        box-shadow: 0 0 0 3px Highlight;
        content: '';
        display: block;
        height: 100%;
        outline: 1px solid transparent;
        pointer-events: none;
        position: absolute;
        width: 100%;
    }
}
:root form.glsr-form .glsr-star-rating--ltr > select {
    left: 0 !important;
}
:root form.glsr-form .glsr-star-rating--rtl > select {
    right: 0 !important;
}
:root form.glsr-form .glsr-star-rating--stars {
    align-items: center;
    cursor: pointer;
    display: flex;
    position: relative;
}
:root form.glsr-form select[disabled] + .glsr-star-rating--stars {
    cursor: default;
}
:root form.glsr-form .glsr-star-rating--stars > span {
    display: flex;
    height: var(--glsr-form-star);
    margin: 0;
    width: var(--glsr-form-star);
}
:root form.glsr-form .glsr-star-rating--stars[class*=" s"] > span {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}













:root form.glsr-form [data-rating][aria-label]::before,
:root form.glsr-form [data-rating][aria-label]::after {
    backface-visibility: hidden;
    bottom: auto;
    box-sizing: border-box;
    left: 100%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    opacity: .9;
    transform-origin: top;
    transform: translate3d(0,-50%,0);
    white-space: nowrap;
    z-index: 10;
}
:root form.glsr-form [data-rating][aria-label]::before {
    background-size: 100% auto !important;
    background-position: 50% !important;
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 31"%3E%3Cpath fill="%23111" d="M12.002 31C12.002 25 0 19.838 0 15.5 0 11.24 12 6 12 0l.002 31z"/%3E%3C/svg%3E') no-repeat;
    content: '';
    height: 18px;
    margin-bottom: 0;
    margin-left: var(--glsr-tooltip-size);
    width: var(--glsr-tooltip-size);
}
:root form.glsr-form  [data-rating][aria-label]::after {
    background: #111;
    border-radius: var(--glsr-tooltip-border-radius);
    color: #fff;
    content: attr(aria-label);
    font-size: var(--glsr-tooltip-font-size);
    font-weight: normal;
    margin-left: var(--glsr-tooltip-margin);
    padding: var(--glsr-tooltip-padding);
    text-transform: none;
}
:root form.glsr-form .glsr-star-rating--rtl [data-rating][aria-label]::before,
:root form.glsr-form .glsr-star-rating--rtl [data-rating][aria-label]::after {
    left: auto;
    right: 100%;
}
:root form.glsr-form .glsr-star-rating--rtl [data-rating][aria-label]::before {
    transform: scaleX(-1) translate3d(0,-50%,0);
    margin-left: 0;
    margin-right: var(--glsr-tooltip-size);
}
:root form.glsr-form .glsr-star-rating--rtl [data-rating][aria-label]::after {
    margin-left: 0;
    margin-right: var(--glsr-tooltip-margin);
}
