:--namespace form.glsr-form .glsr-field-toggle {
  --toggle-h: calc(.75em + calc(var(--toggle-p) * 2));
  --toggle-p: .125em;
  --toggle-w: calc(1.5em + calc(var(--toggle-p) * 2));
  --transition-timing-fn: cubic-bezier(.4,0,.2,1);
    display: flex;
    gap: var(--glsr-gap-sm);
}
:--namespace form.glsr-form .glsr-field-toggle > span:not(.glsr-toggle) {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 1.5em;
}
:--namespace form.glsr-form .glsr-toggle {
  display: grid;
  font-size: var(--glsr-toggle-size); /* This set the overall size of the toggle! */
  height: var(--toggle-h);
  position: relative;
  width: var(--toggle-w);
}
:--namespace form.glsr-form .glsr-toggle input {
  all: unset !important;
  appearance: none !important;
  inset: 0 !important;
  position: absolute !important;
  z-index: 0 !important;
  &::before,
  &::after {
    display: none !important;
  }
}
:--namespace form.glsr-form .glsr-toggle-track {
  border-radius: var(--glsr-toggle-radius);
  box-sizing: border-box;
  inset: 0;
  padding: var(--toggle-p);
  pointer-events: none;
  position: absolute;
  width: 100%;
}
:--namespace form.glsr-form .glsr-toggle-track::before {
  background-color: var(--glsr-toggle-bg);
  border-radius: var(--glsr-toggle-radius);
  box-sizing: border-box;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: var(--glsr-toggle-opacity);
  position: absolute;
  top: 0;
  transition-duration: var(--glsr-duration-fast);
  transition-property: background-color,opacity;
  transition-timing-function: var(--transition-timing-fn);
  width: 100%;
}
:--namespace form.glsr-form .glsr-toggle-track::after {
  background-color: var(--glsr-toggle-color);
  border-radius: calc(var(--glsr-toggle-radius) - var(--toggle-p));
  box-shadow: 0 .05em .1em var(--glsr-toggle-shadow-color), 0 .05em .15em var(--glsr-toggle-shadow-color);
  box-sizing: border-box;
  content: '';
  display: block;
  height: .75em;
  pointer-events: none;
  position: relative;
  transition: transform var(--glsr-duration-fast) var(--transition-timing-fn);
  width: .75em;
  z-index: 1;
}
:--namespace form.glsr-form input:checked + .glsr-toggle-track::before {
  background-color: var(--glsr-toggled-bg);
  opacity: var(--glsr-toggled-opacity);
  transition-duration: var(--glsr-duration-fast);
  transition-property: background-color,opacity;
  transition-timing-function: var(--transition-timing-fn);
}
:--namespace form.glsr-form input:checked + .glsr-toggle-track::after {
  transform: translateX(.75em);
}
:--namespace.glsr-rtl form.glsr-form input:checked + .glsr-toggle-track::after {
  transform: translateX(-.75em);
}
