:--namespace form.glsr-form .glsr-range-labels {
  display: grid;
  font-size: var(--glsr-text-sm);
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  line-height: 1.5;
  text-align: center;
  :first-child {
    text-align: start;
  }
  :last-child {
    text-align: end;
  }
}
:--namespace form.glsr-form .glsr-range-options {
  align-items: center;
  display: flex;
  font-size: var(--glsr-text-base);
  gap: var(--glsr-gap-lg);
  justify-content: space-between;
  margin-bottom: calc(var(--glsr-text-sm) * 1.5);
  padding-top: var(--glsr-gap-xs);
  padding-bottom: var(--glsr-gap-xs);
  position: relative;
  &::before {
    background-color: var(--glsr-input-border-color);
    content: '';
    display: block;
    height: var(--glsr-input-border-width);
    min-height: 1px;
    position: absolute;
    width: 100%;
  }
}
:--namespace form.glsr-form .glsr-range-options:has(.glsr-is-invalid)::before {
  background-color: var(--glsr-form-error);
}
:--namespace form.glsr-form .glsr-field-range {
  display: flex;
  position: initial;
  z-index: 1;
}
:--namespace form.glsr-form .glsr-range-options label {
  display: none;
}
:--namespace form.glsr-form .glsr-range {
  display: grid;
  font-size: var(--glsr-range-size); /* This set the overall size of the input! */
  height: 1.25em;
  width: 1.25em;
}
:--namespace form.glsr-form .glsr-range input {
  box-sizing: border-box;
  display: block;
  left: 0;
  margin: 0;
  outline: none;
  padding: 0;
  position: relative;
  top: 0;
  user-select: none;
}
:--namespace form.glsr-form .glsr-field-range:has(input:checked) label,
:--namespace form.glsr-form .glsr-range-options:not(:has(input:checked))::after {
  display: flex;
  font-size: var(--glsr-text-sm);
  justify-content: start;
  left: 0;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}
:--namespace form.glsr-form .glsr-range-options:not(:has(input:checked))::after {
  content: attr(data-placeholder);
}
