:--namespace form.glsr-hide-form {
    max-height: 0 !important;
    opacity: 0;
    overflow: hidden;
}
:--namespace form.glsr-form {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    position: relative;
    row-gap: var(--glsr-gap-md);
}
:--namespace .glsr-field {
    position: relative;
}
:--namespace .glsr-field:not(.glsr-field-is-invalid) .glsr-field-error,
:--namespace .glsr-form-message:not(.glsr-form-failed):not(.glsr-form-success) {
    display: none;
}
/* Errors and Messages */
:--namespace .glsr-field-error {
    color: var(--glsr-form-error);
    font-size: var(--glsr-text-sm);
}
:--namespace .glsr-form-failed {
    color: var(--glsr-form-error);
}
:--namespace .glsr-form-success {
    color: var(--glsr-form-success);
}
:--namespace .glsr-is-invalid {
    border-color: var(--glsr-form-error) !important;
}
