:root .glsr-modal {
    display: none;
    pointer-events: none;
    position: fixed;
    z-index: -1;
}
:root .glsr-modal.is-open {
    display: block;
    pointer-events: auto;
    z-index: 99999; /* this z-index is the same as wpadminbar and spotlight.js */
}
:root .glsr-modal__overlay {
    align-items: center;
    background: rgba(0,0,0,0.6);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}
:root .glsr-modal__dialog {
    background-color: var(--gl-modal-bg);
    border-radius: var(--gl-radius);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07),
                0 2px 4px rgba(0,0,0,0.07),
                0 4px 8px rgba(0,0,0,0.07),
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07),
                0 32px 64px rgba(0,0,0,0.07);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: var(--gl-text-base);
    line-height:var(--gl-leading);
    min-width: 320px;
    min-height: 150px;
    max-height: calc(100vh - 2em);
    max-width: 700px;
    overflow: hidden;
    position: relative;
    width: calc(100vw - 2em);
    will-change: transform;
}
:root [aria-hidden="false"] .glsr-modal__dialog {
  animation: gl-zoomIn var(--gl-duration-slow) cubic-bezier(0,0,.2,1);
}
:root [aria-hidden="true"] .glsr-modal__dialog {
  animation: gl-zoomOut var(--gl-duration-fast) cubic-bezier(0,0,.2,1);
}
:root .glsr-modal__header {
    position: relative;
    padding-right: 40px;
}
:root .glsr-modal__content {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    padding: 1.5em;
    position: relative;
}
:root .glsr-modal .glsr-button {
    border: none;
}
:root .glsr-modal button.glsr-modal__close,
:root .glsr-modal button.glsr-modal__close:hover,
:root .glsr-modal button.glsr-modal__close:focus {
    appearance: none;
    background: transparent !important;
    border: 0;
    box-shadow: none;
    color: var(--gl-black) !important;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: arial;
    font-size: 32px;
    height: 40px;
    line-height: 1;
    margin: 1.5em;
    outline-offset: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(1);
    transition: transform var(--gl-duration-fast) ease-in;
    width: 40px;
    z-index: 10;
}
:root .glsr-modal button.glsr-modal__close:hover {
    transform: scale(1.1);
}
:root .glsr-modal button.glsr-modal__close::before {
    all: revert;
    content: "\2715";
    font-weight: 700;
}
:root .glsr-modal button.glsr-modal__close::after,
:root .glsr-modal[aria-hidden="true"] .glsr-modal__close {
    display: none !important;
}

:root .glsr-modal .glsr-modal__overlay {
    animation-timing-function: cubic-bezier(0,0,.2,1);
}
:root .glsr-modal[aria-hidden="false"] .glsr-modal__overlay {
    animation-duration: var(--gl-duration-slow);
    animation-name: gl-fadeIn;
}
:root .glsr-modal[aria-hidden="true"] .glsr-modal__overlay {
    animation-duration: var(--gl-duration-fast);
    animation-name: gl-fadeOut;
}

:root #glsr-modal-review .glsr-read-more  {
    display: none !important;
}
:root #glsr-modal-review .glsr-hidden  {
    display: inline !important;
}
