:root .glsr-modal {
    display: none;
    font-size: var(--glsr-text-base);
    line-height: var(--glsr-leading);
    pointer-events: none;
    position: fixed;
    z-index: -1;
}
:root .glsr-modal.is-open {
    display: block;
    pointer-events: auto;
    z-index: 99999; /* this z-index is the same as wpadminbar and spotlight.js */
}
:root .glsr-modal__overlay {
    align-items: center;
    background: rgba(0,0,0,0.6);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}
:root .glsr-modal__dialog {
    background-color: var(--glsr-modal-bg);
    border-radius: var(--glsr-modal-radius);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07),
                0 2px 4px rgba(0,0,0,0.07),
                0 4px 8px rgba(0,0,0,0.07),
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07),
                0 32px 64px rgba(0,0,0,0.07);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 150px;
    max-height: calc(100vh - 2em);
    max-width: 700px;
    overflow: hidden;
    position: relative;
    width: calc(100vw - 2em);
    will-change: transform;
}
:root .glsr-modal-small .glsr-modal__dialog {
    min-height: auto;
    width: 480px;
}
:root [aria-hidden="false"] .glsr-modal__dialog {
  animation: gl-zoomIn var(--glsr-duration-slow) cubic-bezier(0,0,0.2,1);
}
:root [aria-hidden="true"] .glsr-modal__dialog {
  animation: gl-zoomOut var(--glsr-duration-fast) cubic-bezier(0,0,0.2,1);
}
:root .glsr-modal__header {
    font-weight: 600;
}
:root .glsr-modal__header,
:root .glsr-modal__footer {
    align-items: center;
    box-shadow: 0 0 1px 0 color-mix(in srgb, currentColor 10%, transparent),
                0 0 1em 0 hsl(0 0% 0% / 10%);
    display: flex;
    flex-shrink: 0;
    gap: var(--glsr-gap-md);
    padding: 0 var(--glsr-modal-padding);
    position: relative;
    z-index: 1;
}
:root .glsr-modal__header > div,
:root .glsr-modal__footer > div {
    align-items: center;
    display: flex;
    flex: 1;
    gap: var(--glsr-gap-md);
    padding: .75em 0;
}
:root .glsr-modal__content {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    padding: var(--glsr-modal-padding);
    position: relative;
}
/*
:root .glsr-modal .glsr-button {
    border: none;
}
*/
:root .glsr-modal button.glsr-modal__close,
:root .glsr-modal button.glsr-modal__close:hover,
:root .glsr-modal button.glsr-modal__close:focus {
    appearance: none;
    align-items: center;
    background: transparent !important;
    border: 0;
    box-shadow: none;
    color: currentColor !important;
    cursor: pointer;
    display: flex;
    font-size: 1em;
    height: 1.5em;
    justify-content: center;
    line-height: 1;
    margin: .75em 1em;
    outline-offset: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(1);
    transition: transform var(--glsr-duration-fast) ease-in;
    width: 1.5em;
    z-index: 10;
}
:root .glsr-modal button.glsr-modal__close:hover {
    transform: scale(1.1);
}
:root .glsr-modal button.glsr-modal__close::before {
    all: revert;
    content: "\2715";
    font-family: arial;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1;
}
:root .glsr-modal button.glsr-modal__close::after,
:root .glsr-modal[aria-hidden="true"] .glsr-modal__close {
    display: none !important;
}

:root .glsr-modal .glsr-modal__overlay {
    animation-timing-function: cubic-bezier(0,0,0.2,1);
}
:root .glsr-modal[aria-hidden="false"] .glsr-modal__overlay {
    animation-duration: var(--glsr-duration-slow);
    animation-name: gl-fadeIn;
}
:root .glsr-modal[aria-hidden="true"] .glsr-modal__overlay {
    animation-duration: var(--glsr-duration-fast);
    animation-name: gl-fadeOut;
}

:root .glsr-modal-error .glsr-modal__content,
:root .glsr-modal-success .glsr-modal__content {
    display: flex;
    gap: var(--glsr-gap-md);
}
:root .glsr-modal-error .glsr-modal__content::before,
:root .glsr-modal-success .glsr-modal__content::before {
    content: '';
    display: block;
    flex-shrink: 0;
    height: 2em;
    margin-top: -.25em;
    mask-repeat: no-repeat;
    opacity: .75;
    width: 2em;
}
:root .glsr-modal-error .glsr-modal__content::before {
    background-color: var(--glsr-red);
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M10 2a8 8 0 1 1 0 16 8 8 0 1 1 0-16zm1.13 9.38l.35-6.46H8.52l.35 6.46h2.26zm-.09 3.36c.24-.23.37-.55.37-.96 0-.42-.12-.74-.36-.97s-.59-.35-1.06-.35-.82.12-1.07.35-.37.55-.37.97c0 .41.13.73.38.96.26.23.61.34 1.06.34s.8-.11 1.05-.34z'/%3E%3C/svg%3E%0A");
}
:root .glsr-modal-success .glsr-modal__content::before {
    background-color: var(--glsr-green);
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M10 2a8 8 0 1 0 0 16 8 8 0 1 0 0-16zm-.615 12.66h-1.34l-3.24-4.54 1.341-1.25 2.569 2.4 5.141-5.931 1.34.94-5.811 8.381z'/%3E%3C/svg%3E%0A");
}

:root #glsr-modal-review .glsr-read-more  {
    display: none !important;
}
:root #glsr-modal-verified .glsr-modal__footer {
    box-shadow: inset 0 .5px 0 var(--glsr-review-verified);
    color: var(--glsr-review-verified);
}
:root #glsr-modal-verified .glsr-modal__footer::after {
    background: currentColor;
    content: '';
    height: 100%;
    left: 0;
    opacity: .125;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
