:root .glsr-review {
    opacity: 1;
    quotes: "“" "”";
    transition: opacity .5s;
    word-break: break-word;
}
:root .glsr-reviews > p {
    opacity: 1;
    transition: opacity .5s;
}
:root .glsr-hide .glsr-review,
:root .glsr-hide .glsr-reviews > p {
    opacity: 0 !important;
}
:root .glsr-review p:first-of-type {
    margin-top: 0 !important;
}
:root .glsr-review p:last-of-type,
:root .glsr-review [data-expanded="false"] p.glsr-hidden-text {
    margin-bottom: 0 !important;
}
:root .glsr-review-date {
    white-space: nowrap;
}
:root .glsr-review-rating {
    align-items: center;
    display: inline-flex;
    gap: .5em;
    justify-content: center;
}
:root .glsr-review-response {
    padding: var(--glsr-py) var(--glsr-px);
    position: relative;
    width: 100%;
    &::before {
        border-color: currentColor transparent;
        border-style: solid;
        border-bottom-width: calc(var(--glsr-text-md) * 1.5);
        border-left-width: 0;
        border-right-width: calc(var(--glsr-text-md) * 2);
        border-top-width: 0;
        content: '';
        height: 0;
        opacity: .1;
        position: absolute;
        right: calc(var(--glsr-text-md) * 1.5);
        top: calc(-1 * calc(var(--glsr-text-md) * 1.5));
        width: 0;
    }
    &::after {
        background-color: currentColor;
        border-radius: var(--glsr-radius);
        content: '';
        height: 100%;
        left: 0;
        opacity: .1;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
:root .glsr-rtl .glsr-review-response::before {
    border-left-width: calc(var(--glsr-text-md) * 2);
    border-right-width: 0;
    left: calc(var(--glsr-text-md) * 1.5);
    right: auto;
}
:root .glsr-review-response-inner {
    position: relative;
    z-index: 1;
}

:--namespace .glsr-review {
    display: flex;
    flex-wrap: wrap;
    gap: var(--glsr-gap-md);
}
:--namespace .glsr-review p {
    margin-bottom: var(--glsr-text-md);
    margin-top: 0;
}
:--namespace .glsr-tag-label {
    font-weight: var(--glsr-tag-label-weight);
}
:--namespace .glsr-review-assigned_links,
:--namespace .glsr-review-assigned_posts,
:--namespace .glsr-review-assigned_terms,
:--namespace .glsr-review-assigned_users {
    width: 100%;
}
:--namespace .glsr-review-author {
    align-items: center;
    display: inline-flex;
    gap: .5em;
}
:--namespace .glsr-review-avatar {
    flex: 0 0;
}
:--namespace .glsr-review-avatar img {
    border-width: 0;
    display: flex;
    margin: 0;
    max-height: none;
    max-width: none;
    object-fit: cover;
}
:--namespace .glsr-review-content {
    width: 100%;
}
:--namespace .glsr-review-date {
    align-items: center;
    display: inline-flex;
    flex: 1 0;
    font-style: italic;
    white-space: nowrap;
}
:--namespace .glsr-review-rating {
    align-items: center;
    display: inline-flex;
    flex-shrink: 0;
    gap: .5em;
}
:--namespace .glsr-review-response {
    width: 100%;
}
:--namespace .glsr-review-title {
    width: 100%;
    & h3,
    & h4,
    & h5 {
        margin-bottom: 0;
        margin-top: 0;
    }
}
:--namespace .glsr-review-verified {
    align-items: center;
    color: var(--glsr-review-verified);
    display: flex;
    font-size: var(--glsr-text-sm);
    gap: .25em;
}
:--namespace .glsr-read-more {
    white-space: nowrap;
}
:--namespace .glsr-read-more::before {
    content: '';
    margin-left: 0;
    margin-right: 0.5em;
}
:--namespace.glsr-rtl .glsr-read-more::before {
    margin-left: 0.5em;
    margin-right: 0;
}
:--namespace [data-expanded="false"] .glsr-read-more::before {
    content: '\2026';
}
:--namespace [data-expanded="false"] .glsr-hidden {
    display: none;
}
