:--namespace form.glsr-form {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    row-gap: var(--glsr-base-font-size);
}
:--namespace form.glsr-hide-form {
    max-height: 0 !important;
    opacity: 0;
    overflow: hidden;
}
:--namespace form.glsr-form .glsr-field {
    position: relative;
}
:--namespace form.glsr-form .glsr-field-error {
    color: var(--glsr-red);
}
:--namespace form.glsr-form .glsr-field:not(.glsr-field-is-invalid) .glsr-field-error,
:--namespace form.glsr-form .glsr-form-message:not(.glsr-form-failed):not(.glsr-form-success) {
    display: none;
}
:--namespace form.glsr-form .glsr-form-failed {
    color: var(--glsr-red);
}
:--namespace form.glsr-form .glsr-form-success {
    color: var(--glsr-green);
}
