:root .glsr-star-rating {
    align-items: center;
    display: flex;
    position: relative;
}
:root .glsr-stars {
    justify-content: center;
}
:root .glsr-star {
    background-size: var(--glsr-review-star);
    flex-shrink: 0;
    font-size: inherit;
    height: var(--glsr-review-star);
    width: var(--glsr-review-star);
}
:root .glsr-summary .glsr-star {
    background-size: var(--glsr-summary-star);
    height: var(--glsr-summary-star);
    width: var(--glsr-summary-star);
}
