:root .glsr-summary {
    align-items: center;
    column-gap: var(--glsr-gap-sm);
    display: flex;
    flex-wrap: wrap;
    justify-content: var(--glsr-summary-align);
    max-width: var(--glsr-max-w);
    position: relative;
    width: 100%;
}
:root .glsr-summary-rating {
    display: flex;
    font-size: var(--glsr-text-lg);
    font-weight: 700;
    line-height: 1;
    white-space: nowrap;
}
:root .glsr-summary-stars {
    display: flex;
}
:root .glsr-summary-text {
    flex: 1 1 100%;
    text-align: var(--glsr-summary-align);
}
:root .glsr-summary-percentages {
    column-gap: var(--glsr-bar-spacing);
    display: grid;
    grid-template-columns: auto 1fr auto;
    line-height: 1;
    row-gap: var(--glsr-bar-spacing);
    width: 100%;
}
:root .glsr-summary > div + .glsr-summary-percentages {
    margin-block-start: var(--glsr-gap-sm);
}
:root .glsr-summary-bar {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 3;
    gap: var(--glsr-gap-sm);
}
:root .glsr-summary-bar-label {
    align-items: center;
    display: flex;
    font-size: var(--glsr-summary-text);
    justify-content: start;
    white-space: nowrap;
}
:root .glsr-summary-bar-background {
    align-items: center;
    display: flex;
    position: relative;
    white-space: nowrap;
    &::before {
        background-color: currentColor;
        content: '';
        height: var(--glsr-bar-size);
        opacity: var(--glsr-bar-opacity);
        position: absolute;
        width: 100%;
    }
    &::after {
        background: var(--glsr-bar-bg);
        content: '';
        height: var(--glsr-bar-size);
        position: relative;
        width: var(--glsr-bar-percent);
    }
}
:root .glsr-summary-bar-percent {
    align-items: center;
    display: flex;
    font-size: var(--glsr-summary-text);
    justify-content: end;
    white-space: nowrap;
    &::before {
        content: attr(data-percent);
    }
}
