:root .glsr-summary {
    align-items: center;
    column-gap: var(--glsr-gap-sm);
    display: flex;
    flex-wrap: wrap;
    font-size: var(--glsr-summary-text);
    max-width: var(--glsr-max-w);
    position: relative;
    width: 100%;
}
:root .glsr-summary-rating {
    display: flex;
    font-size: var(--glsr-text-lg);
    font-weight: 700;
    line-height: 1;
    white-space: nowrap;
}
:root .glsr-summary-stars {
    display: flex;
}
:root .glsr-summary-text {
    flex: 1 1 100%;
}
:root .glsr-summary-percentages {
    display: grid;
    font-size: var(--glsr-summary-text);
    gap: var(--glsr-bar-spacing);
    grid-template-columns: auto 1fr auto;
    line-height: 1;
    width: 100%;
}
:root .glsr-summary > div + .glsr-summary-percentages {
    margin-block-start: var(--glsr-gap-sm);
}
:root .glsr-summary .glsr-bar {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 3;
    gap: var(--glsr-gap-sm);
}
:root .glsr-summary .glsr-bar > span {
    display: flex;
    align-items: center;
    white-space: nowrap;
}
:root .glsr-summary .glsr-bar-label {
    justify-content: start;
}
:root .glsr-summary .glsr-bar-background {
  position: relative;
  &::before {
    background-color: currentColor;
    content: '';
    height: var(--glsr-bar-size);
    opacity: var(--glsr-bar-opacity);
    position: absolute;
    width: 100%;
  }
  &::after {
    background: var(--glsr-bar-bg);
    content: '';
    height: var(--glsr-bar-size);
    position: relative;
    width: var(--glsr-bar-percent);
  }
}
:root .glsr-summary .glsr-bar-percent {
    justify-content: end;
    &::before {
        content: attr(data-percent);
    }
}
