:root .glsr-summary {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: var(--glsr-text-sm);
    gap: var(--glsr-gap-sm);
    max-width: var(--glsr-max-w);
    position: relative;
    width: 100%;
}
:root .glsr-summary-rating {
    font-size: var(--glsr-text-lg);
    font-weight: 700;
    line-height: 1;
}
:root .glsr-summary-text {
    flex: 1 1 100%;
    /* flex: 1 1 auto; */
}
:root .glsr-summary-percentages {
    position: relative;
    width: 100%;
}
:root .glsr-summary .glsr-bar {
    display: table-row;
    white-space: nowrap;
}
:root .glsr-summary .glsr-bar > span {
    display: table-cell;
    line-height: var(--glsr-bar-leading);
    vertical-align: middle;
}
:root .glsr-summary .glsr-bar-label {
    padding-left: 0;
    padding-right: var(--glsr-gap-sm);
}
:root .glsr-rtl .glsr-summary .glsr-bar-label {
    padding-left: var(--glsr-gap-sm);
    padding-right: 0;
}
:root .glsr-summary .glsr-bar-background {
    position: relative;
    width: 100%;
    &::before {
        background-color: currentColor;
        content: '';
        display: block;
        height: var(--glsr-text-md);
        margin-top: calc(-1 * calc(var(--glsr-text-md) / 2));
        opacity: var(--glsr-bar-opacity);
        position: absolute;
        top: 50%;
        width: 100%;
    }
}
:root .glsr-summary .glsr-bar-background-percent {
    background-color: currentColor;
    color: var(--glsr-bar-bg);
    display: block;
    height: var(--glsr-text-md);
    position: relative;
}
:root .glsr-summary .glsr-bar-percent {
    padding-left: var(--glsr-gap-sm);
    padding-right: 0;
    text-align: right;
}
:root .glsr-rtl .glsr-summary .glsr-bar-percent {
    padding-left: 0;
    padding-right: var(--glsr-gap-sm);
    text-align: left;
}
