:root {
    /* Colors */
    --gl-white    : #fff;
    --gl-gray-300 : #d3d3d3; /*lightgray*/
    --gl-gray-400 : #c0c0c0; /*silver*/
    --gl-gray-500 : #808080; /*gray*/
    --gl-black    : #000;
    --gl-blue     : #1c64f2; /*blue-600*/
    --gl-green    : #057a55; /*green-600*/
    --gl-red      : #e02424; /*red-600*/
    --gl-yellow   : #faca15; /*yellow-300*/
    --gl-error    : var(--gl-red);
    --gl-success  : var(--gl-green);

    --gl-bar-bg           : var(--gl-yellow);
    --gl-bar-opacity      : 0.1;
    --gl-duration-fast    : .15s;
    --gl-duration-slow    : .3s;
    --gl-gap-lg           : 3em;
    --gl-gap-md           : 0.75em;
    --gl-gap-sm           : 0.5em;
    --gl-leading          : 1.5;
    --gl-max-w            : 480px;
    --gl-modal-bg         : var(--gl-white);
    --gl-px               : calc(var(--gl-text-root) * .75);
    --gl-py               : calc(var(--gl-text-root) / 2);
    --gl-radius           : 3px;
    --gl-star-size        : 1.5em;
    --gl-text-base        : 1em;
    --gl-text-lg          : 1.5em;
    --gl-text-md          : 1em;
    --gl-text-sm          : 0.875em;
    --gl-tog-bg-off       : currentColor;
    --gl-tog-bg-on        : currentColor;
    --gl-tog-color        : var(--gl-white);
    --gl-tog-h            : 1.25em;
    --gl-tog-opacity-off  : 0.15;
    --gl-tog-opacity-on   : 1;
    --gl-tog-p            : 3px;
    --gl-tog-radius-in    : 999px;
    --gl-tog-radius-out   : 999px;
    --gl-tog-shadow-color : rgba(0,0,0,0.2);
    --gl-tog-weight       : normal;
}
