.add-shortcode-items ul .add-shortcode-box .add-shortcode-box-button:has(img[src*="/icons/flatsome/flatsome-"]) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.add-shortcode-items ul .add-shortcode-box img[src*="/icons/flatsome/flatsome-"] {
    height: 40px;
    margin-top: 13px;
}
ux-option[class*="-glsr_group_"] ux-options ux-option.option-checkbox:not(.is-full-width,:has(.option-description)) {
    .option-header {
        max-width: unset;
    }
    .option-body {
        flex: 0;
    }
    .option-template {
        min-width: unset;
    }
}
