/*Form Input*/
:--namespace form.glsr-form input.glsr-input,
:--namespace form.glsr-form select.glsr-select,
:--namespace form.glsr-form textarea.glsr-textarea {
    appearance: none;
    background-clip: padding-box;
    background-color: var(--glsr-form-bg-color);
    border-radius: var(--glsr-form-border-radius);
    border: var(--glsr-form-border-width) solid var(--glsr-form-border-color);
    box-sizing: border-box;
    color: inherit; /* reset text color */
    display: block;
    float: none;
    font-family: inherit;
    font-size: var(--glsr-form-font-size);
    line-height: var(--glsr-form-line-height);
    margin: 0; /* Remove the margin in Firefox and Safari. */
    width: 100%;
}
:--namespace form.glsr-form input.glsr-input {
    overflow: visible; /* Show the overflow in IE and Edge. */
    padding-top: var(--glsr-form-py);
    padding-right: var(--glsr-form-px);
    padding-bottom: var(--glsr-form-py);
    padding-left: var(--glsr-form-px);
}
:--namespace form.glsr-form select.glsr-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none'%3e%3cpath d='M7 7l3-3 3 3m0 6l-3 3-3-3' stroke='%239fa6b2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    color-adjust: exact;
    height: auto;
    max-height: none;
    max-width: none;
    min-height: none;
    min-width: none;
    opacity: 1;
    padding-top: var(--glsr-form-py);
    padding-right: calc(var(--glsr-form-px) * 3);
    padding-bottom: var(--glsr-form-py);
    padding-left: var(--glsr-form-px);
    text-transform: none; /* Remove the inheritance of text transform in Firefox. */
}
@media print and (-ms-high-contrast: active), print and (-ms-high-contrast: none) {
    :--namespace form.glsr-form select.glsr-select {
        padding-right: var(--glsr-form-px);
    }
}
:--namespace form.glsr-form textarea.glsr-textarea {
    padding-top: var(--glsr-form-py);
    padding-right: var(--glsr-form-px);
    padding-bottom: var(--glsr-form-py);
    padding-left: var(--glsr-form-px);
    overflow: auto; /* Remove the default vertical scrollbar in IE 10+. */
    resize: vertical;
}
