:--namespace form.glsr-form {
    display: grid;
    font-size: var(--glsr-form-font-size);
    grid-template-columns: repeat(1, minmax(0, 1fr));
    line-height: var(--glsr-form-line-height);
    row-gap: var(--glsr-form-font-size);
}
:--namespace form.glsr-form .glsr-field {
    position: relative;
}
