:root .components-panel .glsr-checkbox-control:not(:last-of-type) {
    margin-bottom: 8px !important;
}
:root .components-panel .glsr-base-conditional-control {
    margin-top: -16px;
}
@media screen and (max-width: 782px) {
    :root .components-panel select {
        max-width: 100%;
    }
}
:root .glsr {
    font-size: var(--glsr-text-base);
    min-height: 20px;
}
:root .glsr *,
:root .glsr *::before,
:root .glsr *::after {
    box-sizing: border-box;
    cursor: default !important;
    pointer-events: none !important;
}
:--namespace .glsr-block-disabled {
    align-items: center;
    background-color: rgba(0,0,0,0.06);
    display: flex;
    justify-content: center;
    padding: 24px;
    text-align: center;
}
:--namespace .glsr-reviews-wrap,
:--namespace .glsr-reviews {
    display: grid;
    gap: var(--glsr-gap-lg);
}
:--namespace form.glsr-form {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    position: relative;
    row-gap: var(--glsr-gap-md);
}
:--namespace .glsr-field {
    position: relative;
}
:--namespace .glsr-form-message {
    display: none;
}
