[data-block] .glsr {
    min-height: 20px;
}
[data-block] .glsr a,
[data-block] .glsr button,
[data-block] .glsr input,
[data-block] .glsr label,
[data-block] .glsr select,
[data-block] .glsr textarea {
    pointer-events: none !important;
}
[data-block] .glsr .glsr-button,
[data-block] .glsr .page-numbers:not(.dots) {
    background: #f7f7f7;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: inset 0 -1px 0 #ccc;
    color: #1a1a1a;
    font-family: glsr('font-family');
    font-size: glsr('font-size-small');
    line-height: glsr('line-height');
    padding: 6px 10px;
}
[data-block] .glsr-stars {
    display: flex;
}
[data-block] .glsr-star {
    background-repeat: no-repeat;
    background-size: glsr(star-size);
    height: glsr(star-size);
    width: glsr(star-size);
}
[data-block] .glsr-star-empty {
    background-image: url(../images/star-empty.svg) !important;
}
[data-block] .glsr-star-half {
    background-image: url(../images/star-half.svg) !important;
}
[data-block] .glsr-star-full {
    background-image: url(../images/star-full.svg) !important;
}
[data-block] .glsr-block-disabled {
    font-size: 13px;
    text-align: center;
}
.components-panel .glsr-checkbox-control:not(:last-of-type) {
    margin-bottom: 0 !important;
}
