[data-block] .glsr-read-more {
    white-space: nowrap;
}
[data-block] .glsr-reviews {
    font-size: glsr(font-size);
    line-height: glsr(line-height);
}
[data-block] .glsr-review {
    display: flex;
    flex-wrap: wrap;
}
[data-block] .glsr-review:not(:last-child),
[data-block] .glsr-review > div {
    margin-bottom: glsr(spacing);
}
[data-block] .glsr-review-title {
    width: 100%;
}
[data-block] .glsr-review-title * {
    font-size: glsr(font-size-large) !important;
    margin: 0 !important;
}
[data-block] .glsr-review-rating {
    align-items: center;
    display: flex;
}
[data-block] .glsr-review-date {
    flex-grow: 1;
    font-style: italic;
    padding: 0 glsr(spacing) / 2;
    white-space: nowrap;
}
[data-block] .glsr-review-assigned_links {
    font-style: italic;
    width: 100%;
}
[data-block] .glsr-review-content {
    width: 100%;
}
[data-block] .glsr-review-content > p {
    font-size: glsr(font-size);
    line-height: glsr(line-height);
    margin: 0 0 glsr(spacing);
    white-space: pre-line;
}
[data-block] .glsr-review-content > p:last-child {
    margin-bottom: 0;
}
[data-block] .glsr-review-avatar {
    padding: 0 glsr(spacing) 0 0;
}
[data-block] .glsr-rtl .glsr-review-avatar {
    padding: 0 0 0 glsr(spacing);
}
[data-block] .glsr-review-avatar img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}
[data-block] .glsr-review-author {
    align-items: center;
    display: flex;
}
[data-block] div:not(.glsr-review-avatar) + .glsr-review-author::before {
    content: '\2014'; // &mdash;
}
[data-block] .glsr-review-response {
    clear: both;
    position: relative;
}
[data-block] .glsr-review-response p {
    font-size: glsr(font-size);
    line-height: glsr(line-height);
    margin: 0 0 glsr(spacing) / 2;
}
[data-block] .glsr-review-response p:last-of-type {
    margin-bottom: 0;
}
[data-block] .glsr-review-response-background {
    background-color: currentColor;
    border-radius: 2px;
    height: 100%;
    left: 0;
    opacity: glsr(opacity);
    padding: glsr(spacing);
    position: absolute;
    top: 0;
    width: 100%;
}
[data-block] .glsr-review-response-background::before {
    border-color: currentColor transparent;
    border-style: solid;
    border-width: 0 2em 1.5em 0;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    right: 3em;
    top: -1.5em;
    width: 0;
}
[data-block] .glsr-review-response-inner {
    padding: glsr(spacing);
    position: relative;
    z-index: 1;
}
[data-block] .glsr-rtl .glsr-review-response-background::before {
    border-left-width: 2em;
    border-right-width: 0;
    left: 3em;
    right: unset;
}
[data-block] .glsr-pagination {
    margin-top: glsr(spacing);
}
.glsr-base-conditional-control {
    margin-top: 4px;
}
