[data-block] .glsr-summary {
    display: flex;
    flex-wrap: wrap;
    font-size: glsr(font-size);
    max-width: glsr(summary-max-width);
    width: 100%;
}
[data-block] .glsr-summary-rating {
    font-size: glsr(font-size-large);
    font-weight: 600;
    margin-right: glsr(spacing) / 2;
}
[data-block] .glsr-summary-stars {
    align-items: center;
    display: flex;
}
[data-block] .glsr-summary .glsr-star {
    background-size: glsr(summary-star-size);
    height: glsr(summary-star-size);
    width: glsr(summary-star-size);
}
[data-block] .glsr-summary .glsr-stars {
    margin-bottom: 2px;
}
[data-block] .glsr-summary-text {
    margin-bottom: 4px;
    width: 100%;
}
[data-block] .glsr-summary-percentages {
    max-width: glsr(summary-max-width);
    width: 100%;
}
[data-block] .glsr-bar {
    display: table-row;
    line-height: 1.5;
    white-space: nowrap;
}
[data-block] .glsr-bar > span {
    display: table-cell;
    vertical-align: middle;
}
[data-block] .glsr-bar-background {
    padding: 0 glsr(summary-spacing);
    position: relative;
    width: 100%;
}
[data-block] .glsr-bar-background::before {
    background-color: currentColor;
    content: '';
    display: block;
    height: glsr(summary-bar-height);
    opacity: glsr(opacity);
    position: absolute;
    width: calc(100% - #{glsr(summary-spacing) * 2});
}
[data-block] .glsr-bar-background-percent {
    background-color: #ffb900;
    display: block;
    height: glsr(summary-bar-height);
    position: relative;
}
[data-block] .glsr-bar-percent {
    text-align: right;
}
