.wp-block-site-reviews { // ensure that the CSS is used
    display: block;
}

.has-text-align-left .glsr:not([data-theme]) {
    .glsr-review {
        justify-content: start;
        text-align: start;
    }
    .glsr-review-actions,
    .glsr-review-author_actions {
        justify-content: start;
    }
    .glsr-review-date {
        flex: 1;
        justify-content: start;
    }
    .glsr-review-rating {
        flex: 0;
    }
}
.has-text-align-center .glsr:not([data-theme]) {
    .glsr-review {
        justify-content: center;
        text-align: center;
    }
    .glsr-review-actions,
    .glsr-review-author_actions {
        justify-content: center;
    }
    .glsr-review-date {
        flex: auto;
        justify-content: start;
    }
    .glsr-review-rating {
        flex: auto;
        justify-content: end;
    }
}
.has-text-align-right .glsr:not([data-theme]) {
    .glsr-review {
        justify-content: end;
        text-align: end;
    }
    .glsr-review-actions,
    .glsr-review-author_actions {
        justify-content: end;
    }
    .glsr-review-date {
        flex: 0;
    }
    .glsr-review-rating {
        flex: 1;
        justify-content: end;
    }
}

.items-justified-left .glsr:not([data-theme]) {
    .glsr-pagination,
    .nav-links {
        display: flex;
        justify-content: start;
    }
}
.items-justified-center .glsr:not([data-theme]) {
    .glsr-pagination,
    .nav-links {
        display: flex;
        justify-content: center;
    }
}
.items-justified-right .glsr:not([data-theme]) {
    .glsr-pagination,
    .nav-links {
        display: flex;
        justify-content: end;
    }
}
