.wp-block-site-reviews {
    &.has-custom-rating-color .glsr:not([data-theme]) {
        .glsr-star {
            background: var(--glsr-review-star-bg);
            mask-size: 100%;
        }
        .glsr-star-empty {
            mask-image: var(--glsr-star-empty);
        }
        .glsr-star-full {
            mask-image: var(--glsr-star-full);
        }
        .glsr-star-half {
            mask-image: var(--glsr-star-half);
        }
    }
}
