@import "node_modules/star-rating.js/src/star-rating";

@keyframes glsr-loader {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

#{glsr(parent)} {
	// Form
	form.glsr-form label {
		display: block;
		float: none;
		hyphens: none;
	}
	form.glsr-form label.glsr-checkbox-label,
	form.glsr-form label.glsr-radio-label {
		display: inline;
	}
	form.glsr-form select.glsr-star-rating {
		display: block;
		visibility: hidden !important;
	}
	form.glsr-form input[type=text],
	form.glsr-form input[type=email],
	form.glsr-form textarea {
		box-sizing: border-box;
		display: block;
		float: none;
		width: 100%;
	}
	form.glsr-form [type=submit] {
		white-space: nowrap;
	}
	form.glsr-form [type=submit] .glsr-button-loading {
		display: none;
	}
	form.glsr-form [type=submit][disabled] .glsr-button-loading {
		display: inline;
		position: relative;
	}
	form.glsr-form [type=submit] .glsr-button-loading::before,
	form.glsr-form [type=submit] .glsr-button-loading::after {
		animation: glsr-loader 0.5s infinite linear;
		border-radius: 100%;
		border: 0.2em solid currentColor;
		box-sizing: border-box;
		content: '';
		display: inline-block;
		height: 1em;
		margin: -0.5em auto 0;
		position: absolute;
		top: 50%;
		width: 1em;
	}
	form.glsr-form [type=submit] .glsr-button-loading::before {
		border-top-color: transparent;
		opacity: 0.5;
	}
	form.glsr-form [type=submit] .glsr-button-loading::after {
		border-color: transparent;
		border-top-color: currentColor;
	}
	&.glsr-ltr form.glsr-form [type=submit][disabled] .glsr-button-loading {
		margin-right: 1.65em;
	}
	&.glsr-ltr form.glsr-form [type=submit] .glsr-button-loading::before,
	&.glsr-ltr form.glsr-form [type=submit] .glsr-button-loading::after {
		left: 0;
	}
	&.glsr-ltr form.glsr-form .glsr-required label span::after {
		margin-left: 0.33em;
	}
	&.glsr-rtl form.glsr-form [type=submit][disabled] .glsr-button-loading {
		margin-left: 1.65em;
	}
	&.glsr-rtl form.glsr-form [type=submit] .glsr-button-loading::before,
	&.glsr-rtl form.glsr-form [type=submit] .glsr-button-loading::after {
		right: 0;
	}
	&.glsr-rtl form.glsr-form .glsr-required label span::after {
		margin-right: 0.33em;
	}
	.glsr-disabled .glsr-button {
		cursor: wait;
		opacity: .5;
		pointer-events: none;
	}
	.glsr-field {
		position: relative;
	}
	.glsr-field ul {
		list-style-type: none;
	}
	.glsr-error {
		font-size: 0.875em;
	}
	.glsr-hidden {
		display: none;
	}
	.glsr-loader {
		animation: glsr-loader 0.5s infinite linear;
		border-radius: 50%;
		bottom: 0;
		display: none;
		height: 24px;
		left: calc(50% - 12px);
		margin: 0;
		position: absolute;
		transform: translateZ(0);
		width: 24px;
		&::before,
		&::after {
			background: rgba(0,0,0,0.75);
			border-radius: 50%;
			content: '';
			height: 8px;
			position: absolute;
			width: 8px;
		}
		&::before {
			left: 0;
			top: 0;
		}
		&::after {
			bottom: 0;
			right: 0;
		}
	}
	.glsr-hide .glsr-loader {
		display: block;
	}
	.glsr-recaptcha-holder {
		margin-top: 1em;
	}
	// Reviews
	.glsr-read-more {
		white-space: nowrap;
		&::before {
			content: '\2026';
		}
	}
	&.glsr-ltr .glsr-read-more::before {
		margin-right: 0.5em;
	}
	&.glsr-rtl .glsr-read-more::before {
		margin-left: 0.5em;
	}
	.glsr-visible + .glsr-read-more::before {
		content: '';
	}
	.glsr-reviews-wrap {
		position: relative;
		&::after {
			clear: both;
			content: '';
			display: table;
		}
	}
	.screen-reader-text {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		word-wrap: normal !important;
	}
	.glsr-star {
		background-repeat: no-repeat;
		display: inline-block;
	}
}
