@import "node_modules/star-rating.js/src/star-rating";

@keyframes glsr-loader {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

form.glsr-form {
	label {
		float: none;
		display: block;
		hyphens: none;
	}
	label.glsr-checkbox-label,
	label.glsr-radio-label {
		display: inline;
	}
	select.glsr-star-rating {
		visibility: hidden !important;
		display: block;
	}
	input[type=text],
	input[type=email],
	textarea {
		float: none;
		display: block;
		width: 100%;
		// font-size: inherit;
		// line-height: inherit;
		box-sizing: border-box;
	}
	[type=submit] {
		white-space: nowrap;
	}
	[type=submit] .glsr-button-loading {
		display: none;
	}
	[type=submit][disabled] .glsr-button-loading {
		display: inline;
		position: relative;
	}
	[type=submit] .glsr-button-loading::before,
	[type=submit] .glsr-button-loading::after {
		display: inline-block;
		position: absolute;
		top: 50%;
		height: 1em;
		width: 1em;
		content: '';
		border: 0.2em solid currentColor;
		border-radius: 100%;
		box-sizing: border-box;
		margin: -0.5em auto 0;
		animation: glsr-loader 0.5s infinite linear;
	}
	[type=submit] .glsr-button-loading::before {
		opacity: 0.5;
		border-top-color: transparent;
	}
	[type=submit] .glsr-button-loading::after {
		border-color: transparent;
		border-top-color: currentColor;
	}
}
.glsr-ltr form.glsr-form {
	[type=submit][disabled] .glsr-button-loading {
		margin-right: 1.65em;
	}
	[type=submit] .glsr-button-loading::before,
	[type=submit] .glsr-button-loading::after {
		left: 0;
	}
	.glsr-required label span::after {
		margin-left: 0.33em;
	}
}
.glsr-rtl form.glsr-form {
	[type=submit][disabled] .glsr-button-loading {
		margin-left: 1.65em;
	}
	[type=submit] .glsr-button-loading::before,
	[type=submit] .glsr-button-loading::after {
		right: 0;
	}
	.glsr-required label span::after {
		margin-right: 0.33em;
	}
}
.glsr-disabled .glsr-button {
	pointer-events: none;
	cursor: wait;
	opacity: .5;
}
.glsr-field {
	position: relative;
}
.glsr-field ul {
	list-style-type: none;
}
.glsr-error {
	font-size: 0.875em;
}
.glsr-hidden {
	display: none;
}
.glsr-loader {
	display: none;
	position: absolute;
	bottom: 0;
	left: calc(50% - 12px);
	width: 24px;
	height: 24px;
	border-radius: 50%;
	animation: glsr-loader 0.5s infinite linear;
	transform: translateZ(0);
	margin: 0;
	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 8px;
		height: 8px;
		background: rgba(0,0,0,0.75);
		border-radius: 50%;
	}
	&::before {
		top: 0;
		left: 0;
	}
	&::after {
		bottom: 0;
		right: 0;
	}
}
.glsr-hide .glsr-loader {
	display: block;
}
.glsr-read-more {
	white-space: nowrap;
	&::before {
		content: '\2026';
	}
}
.glsr-ltr .glsr-read-more::before {
	margin-right: 0.5em;
}
.glsr-rtl .glsr-read-more::before {
	margin-left: 0.5em;
}
.glsr-visible + .glsr-read-more::before {
	content: '';
}
.glsr-recaptcha-holder {
	margin-top: 1em;
}
.glsr-reviews-wrap {
	position: relative;
	&::after {
		display: table;
		content: '';
		clear: both;
	}
}
.glsr .screen-reader-text {
	position: absolute;
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	word-wrap: normal !important;
	padding: 0;
	margin: -1px;
}

.glsr-star {
	display: inline-block;
	background-repeat: no-repeat;
	// vertical-align: sub;
}
