#{glsr(parent)} {
    .glsr-summary {
        font-size: glsr(summary-font-size);
        line-height: 1.5;
        max-width: glsr(summary-max-width);
        position: relative;
        width: 100%;
    }
    .glsr-summary > div {
        margin-bottom: glsr(summary-font-size) / 2;
    }
    .glsr-summary > div:last-of-type {
        margin-bottom: 0;
    }
    .glsr-bar {
        display: table-row;
        white-space: nowrap;
    }
    .glsr-bar > span {
        display: table-cell;
        vertical-align: middle;
    }
    .glsr-bar-background {
        position: relative;
        width: 100%;
    }
    .glsr-bar-background::before {
        background-color: currentColor;
        content: '';
        display: block;
        height: glsr(summary-bar-height);
        margin-top: -#{glsr(summary-bar-height) / 2};
        top: 50%;
        opacity: glsr(opacity);
        position: absolute;
        width: 100%;
    }
    .glsr-bar-background-percent {
        background-color: #ffb900;
        display: block;
        height: glsr(summary-bar-height);
        position: relative;
    }
    .glsr-bar-percent {
        font-size: glsr(summary-font-size-small);
        text-align: right;
    }
    .glsr-summary-percentages {
        font-size: glsr(summary-font-size);
        line-height: 1.5;
        max-width: glsr(summary-max-width);
        position: relative;
        width: 100%;
    }
    .glsr-summary-rating {
        display: inline-block;
        font-size: glsr(summary-star-size);
        font-weight: 700;
        line-height: 1.25;
        vertical-align: top;
    }
    .glsr-summary-stars {
        display: inline-block;
    }
    .glsr-summary-stars .glsr-star {
        background-size: glsr(summary-star-size);
        height: glsr(summary-star-size);
        width: glsr(summary-star-size);
    }
    // .glsr-summary-text {
    //     font-size: glsr(summary-font-size-small);
    //     margin-bottom: 0.5em;
    // }
    &.glsr-ltr .glsr-bar-label {
        padding-right: glsr(summary-spacing);
    }
    &.glsr-ltr .glsr-bar-percent {
        padding-left: glsr(summary-spacing);
    }
    &.glsr-ltr .glsr-summary-rating,
    &.glsr-ltr .glsr-summary-stars {
        margin-right: glsr(summary-spacing);
    }
    &.glsr-rtl.glsr-bar-label {
        padding-left: glsr(summary-spacing);
    }
    &.glsr-rtl.glsr-bar-percent {
        padding-right: glsr(summary-spacing);
    }
    &.glsr-rtl.glsr-summary-rating,
    &.glsr-rtl.glsr-summary-stars {
        margin-left: glsr(summary-spacing);
    }
    &.glsr-rtl.glsr-summary-stars .glsr-star {
        transform: scaleX(-1);
    }
}
