#{glsr(parent)} {
    .glsr-review::after,
    .glsr-pagination::after {
        clear: both;
        content: '';
        display: table;
    }
    .glsr-review {
        margin-bottom: glsr(font-size) * 3;
    }
    .glsr-review > div {
        margin-bottom: glsr(font-size);
    }
    .glsr-review > div:last-of-type {
        margin-bottom: 0;
    }
    .glsr-review p {
        margin: 0 0 glsr(font-size);
        white-space: pre-line;
    }
    .glsr-review,
    .glsr-pagination .navigation {
        opacity: 1;
        transition: opacity .5s;
    }
    .glsr-hide .glsr-review,
    .glsr-hide .glsr-pagination .navigation {
        opacity: 0 !important;
    }
    .glsr-review-assigned_to {
        display: block;
        font-style: italic;
    }
    .glsr-review-author {
        display: inline-block;
        vertical-align: top;
    }
    .glsr-review-avatar + .glsr-review-author {
        margin-top: 0.5em;
    }
    *:not(.glsr-review-avatar) + .glsr-review-author::before {
        content: '\2014'; // &mdash;
    }
    .glsr-review-avatar img {
        display: block;
        object-fit: cover;
    }
    .glsr-review-content p {
        line-height: 1.5;
    }
    .glsr-review-date {
        display: inline-block;
        font-style: italic;
        white-space: nowrap;
    }
    .glsr-review-rating {
        display: inline-block;
    }
    .glsr-review-response {
        clear: both;
        position: relative;
    }
    .glsr-review-response p:last-of-type {
        font-size: glsr(font-size-small);
        margin-bottom: 0;
    }
    .glsr-review-response-background {
        background-color: currentColor;
        border-radius: 2px;
        height: 100%;
        left: 0;
        opacity: glsr(opacity);
        padding: 1em;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .glsr-review-response-background::before {
        border-color: currentColor transparent;
        border-style: solid;
        border-width: 0 0 1.5em 0;
        content: '';
        display: block;
        height: 0;
        position: absolute;
        top: -1.5em;
        width: 0;
    }
    .glsr-review-response-inner {
        padding: 1em;
        position: relative;
        z-index: 1;
    }
    &.glsr-ltr .glsr-review-avatar {
        float: left;
        margin-right: 1em;
    }
    &.glsr-ltr .glsr-review-rating {
        margin-right: 0.5em;
    }
    &.glsr-ltr .glsr-review-response-background::before {
        border-right-width: 2em;
        right: 3em;
    }
    &.glsr-rtl .glsr-review-avatar {
        float: right;
        margin-left: 1em;
    }
    &.glsr-rtl.glsr-review-rating {
        margin-left: 0.5em;
    }
    &.glsr-rtl.glsr-review-response-background::before {
        border-left-width: 2em;
        left: 3em;
    }
    .glsr-star {
        background-size: glsr(star-size);
        font-size: inherit;
        height: glsr(star-size);
        width: glsr(star-size);
    }
}
