#{glsr(parent)} {
	form.glsr-form {
		font-size: glsr(font-size);
		line-height: 1.5;
		// max-height: 1000px;
		opacity: 1;
		transition: max-height 0.4s, opacity 0.4s;
	}
	form.glsr-form.glsr-hide-form {
		max-height: 0 !important;
		opacity: 0;
		overflow: hidden;
	}

	form.glsr-form .glsr-field-checkbox label,
	form.glsr-form .glsr-field-radio label {
		align-items: flex-start;
		display: inline-flex;
		margin: 0;
	}

	form.glsr-form .glsr-field-checkbox span:first-of-type,
	form.glsr-form .glsr-field-radio span:first-of-type {
		align-items: center;
		display: flex;
	}

	form.glsr-form .glsr-field-checkbox input,
	form.glsr-form .glsr-field-radio input {
		height: 1rem;
		width: 1rem;
	}

	form.glsr-form input.glsr-field-control:not([type=checkbox]):not([type=radio]),
	form.glsr-form textarea.glsr-field-control {
		background-clip: padding-box;
		background-color: #fff;
		border-radius: 0.15rem;
		border: 1px solid glsr(color-grey);
		font-size: 1rem;
		line-height: 1.5;
		min-height: calc(2.25rem + 2px);
		padding: 0.375rem 0.5rem;
		transition: border-color 0.15s ease-in-out;
		&:focus {
			background-color: #fff;
			border-color: glsr(color-grey-dark);
			outline: 0;
		}
	}

	form.glsr-form .glsr-required > label span:last-child::after,
	form.glsr-form .glsr-required > div span:last-child::after {
		color: glsr(color-error);
		content: '\002a';
	}

	form.glsr-form .glsr-required > label ~ div span:last-child::after {
		display: none;
	}




	form.glsr-form .glsr-field {
		margin-bottom: glsr(font-size);
	}
	form.glsr-form .glsr-field-error {
		color: glsr(color-error);
		font-size: glsr(font-size-small);
	}
	form.glsr-form .glsr-form-messages {
		color: glsr(color-success);
	}
	form.glsr-form .glsr-form-messages p {
		margin-top: glsr(font-size);
	}
	form.glsr-form .glsr-has-errors {
		color: glsr(color-error);
	}
	form.glsr-form input:not([type=checkbox]):not([type=radio]).glsr-is-invalid,
	form.glsr-form textarea.glsr-is-invalid {
		border-color: glsr(color-error);
	}
	form.glsr-form .glsr-field-choice input {
		outline: none;
	}
	// form.glsr-form .glsr-has-error .glsr-field-choice input {
	// 	opacity: 0;
	// }
	// form.glsr-form .glsr-has-error .glsr-field-choice label::before {
	// 	border: 1px solid glsr(color-error);
	// 	content: "";
	// 	height: glsr(font-size);
	// 	left: 0;
	// 	line-height: inherit;
	// 	position: absolute;
	// 	top: 5px;
	// 	width: glsr(font-size);
	// }
	&.glsr-ltr form.glsr-form .glsr-field input[type=checkbox],
	&.glsr-ltr form.glsr-form .glsr-field input[type=radio] {
		margin-right: 0.5rem;
	}
	&.glsr-rtl form.glsr-form .glsr-field input[type=checkbox],
	&.glsr-rtl form.glsr-form .glsr-field input[type=radio] {
		margin-left: 0.5rem;
	}
}
