$glsr-color-blue: #1976D2 !default;
$glsr-color-green: #388E3C !default;
$glsr-color-red: #D32F2F !default;
$glsr-color-yellow: #FBC02D !default;
$glsr-color-error: $glsr-color-red !default;
$glsr-color-success: $glsr-color-green !default;
$glsr-font-size-small: 14px !default;
$glsr-font-size: 16px !default;
$glsr-opacity: 0.1 !default; //0.075
$glsr-star-size: 20px !default;

$glsr-summary-bar-height: 12px !default;
$glsr-summary-max-width: 400px !default;
$glsr-summary-spacing: 10px !default;
$glsr-summary-star-size: 24px !default;
$glsr-summary-font-size: 16px !default;
$glsr-summary-font-size-small: 14px !default;

$glsr-color-grey: #BDBDBD  !default;
$glsr-color-grey-dark: #9E9E9E !default;

$star-rating: (
    base-display   : block,
    base-height    : 26px,
    font-size      : 0.8em,
    font-weight    : 600,
    parent         : 'form.glsr-form',
    star-empty     : none,
    star-filled    : none,
    star-half      : none,
    star-size      : 24px,
    text-background: #1a1a1a,
    text-color     : #fff,
) !default;
