$glsr: () !default;

$glsr-defaults: (
    color-blue             : #1976D2,
    color-error            : #D32F2F,
    color-green            : #388E3C,
    color-grey-dark        : #9E9E9E,
    color-grey             : #BDBDBD,
    color-red              : #D32F2F,
    color-success          : #388E3C,
    color-yellow           : #FBC02D,
    font-size-small        : 14px,
    font-size              : 16px,
    opacity                : 0.1, //0.075
    parent                 : '.glsr-default',
    star-size              : 20px,
    summary-bar-height     : 12px,
    summary-font-size-small: 14px,
    summary-font-size      : 16px,
    summary-max-width      : 400px,
    summary-spacing        : 10px,
    summary-star-size      : 24px,
);

$star-rating: (
    base-display   : block,
    base-height    : 26px,
    font-size      : 0.8em,
    font-weight    : 600,
    parent         : 'form.glsr-form',
    star-empty     : none,
    star-full      : none,
    star-half      : none,
    star-size      : 24px,
    text-background: #1a1a1a,
    text-color     : #fff,
);

@function glsr($value) {
    @return map-get(map-merge($glsr-defaults, $glsr), $value);
}
