@mixin pin {
    display: inline-block;
    position: relative;
    content: "\f537";
    font: normal 20px/1 dashicons;
    speak: none;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@mixin verified {
    display: inline-block;
    position: relative;
    content: "\f12a";
    font: normal 20px/1 dashicons;
    speak: none;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@mixin placeholder() {
    color: #72777c !important;
    font-size: inherit !important;
    line-height: inherit !important;
    opacity: 1;
}

@import "admin/addons";
@import "admin/button";
@import "admin/dashboard";
@import "admin/edit-review";
@import "admin/flyoutmenu";
@import "admin/mce-shortcodes";
@import "admin/metabox";
@import "admin/notices";
@import "admin/prismjs";
@import "admin/progress-bar";
@import "admin/rating";
@import "admin/settings";
@import "admin/status-table";
@import "admin/tabs";
@import 'admin/tippy';
@import "admin/welcome";
@import "admin/wp-list-table";
@import "admin/videos";
@import "admin/filters";

#available-widgets [class*="site-reviews"] .widget-title::before {
    content: "\f459";
}

.glsr-tag {
    background-color: #dcdcde;
    border-radius: 3px;
    color: #3c434a;
    display: inline-block;
    font-size: 11px;
    line-height: 1;
    margin-top: -1px;
    margin-bottom: -1px;
    padding: 4px 6px;
    text-transform: uppercase;
}
.glsr-tag.glsr-tag-required {
    background-color: #d63638;
    color: #fff;
}

.glsr-no-margins {
    margin: 0 !important;
}

::placeholder {
    @include placeholder();
}
::-webkit-input-placeholder {
    @include placeholder();
}
:-moz-placeholder {
    @include placeholder();
}
::-moz-placeholder {
    @include placeholder();
}
:-ms-input-placeholder {
    @include placeholder();
}
