@import "admin/addons";
@import "admin/button";
@import "admin/dashboard-widget";
@import "admin/edit-review";
@import "admin/filters";
@import "admin/flyoutmenu";
@import "admin/mce-shortcodes";
@import "admin/metabox";
@import "admin/notices";
@import "admin/panels";
@import "admin/prismjs";
@import "admin/settings";
@import "admin/tabs";
@import 'admin/tippy';
@import "admin/videos";
@import "admin/welcome";
@import "admin/wp-list-table";

#available-widgets [class*="site-reviews"] .widget-title::before {
    content: "\f459";
}

.star-rating .glsr-star {
    width: 16px;
    font-size: 16px;
    line-height: 20px;
    color: #555;
}

.glsr-tag {
    background-color: #dcdcde;
    border-radius: 3px;
    color: #3c434a;
    display: inline-block;
    font-size: 11px;
    line-height: 1;
    margin-top: -1px;
    margin-bottom: -1px;
    padding: 4px 6px;
    text-transform: uppercase;
}
.glsr-tag.glsr-tag-required {
    background-color: #d63638;
    color: #fff;
}

.glsr-no-margins {
    margin: 0 !important;
}

::placeholder {
    color: #72777c !important;
    font-size: inherit !important;
    line-height: inherit !important;
    opacity: 1;
}
