@import "public/minimal/variables";
@import "public/minimal/keyframes";
@import "public/minimal/screen-reader";
@import "public/minimal/reviews";
@import "public/minimal/read-more";
@import "public/minimal/pagination";
@import "public/minimal/field-labels";
@import "public/minimal/field-input";
@import "public/minimal/field-choice";
@import "public/minimal/field-toggle";
@import "public/minimal/field-star-rating";
@import "public/minimal/submit-button";
@import "public/minimal/reviews-summary";

:--namespace form.glsr-form .glsr-form-message {
    margin-left: 0;
    margin-right: 0;
}
:--namespace form.glsr-form .glsr-form-message:not(.glsr-form-failed):not(.glsr-form-success) {
    display: none;
}
