@import "minimal";

:--namespace form.glsr-form .glsr-form-message {
    margin-left: 0;
    margin-right: 0;
}
:--namespace form.glsr-form:not(.glsr-form-is-invalid) .glsr-field-error,
:--namespace form.glsr-form .glsr-form-message:not(.glsr-form-failed):not(.glsr-form-success) {
    display: none;
}
:--namespace form.glsr-form .glsr-field-checkbox,
:--namespace form.glsr-form .glsr-field-radio {
    display: flex;
}
