@import "public/divi/variables";
@import "blocks/minimal/reviews";
@import "blocks/minimal/read-more";
@import "blocks/minimal/field-toggle";
@import "blocks/minimal/reviews-summary";
@import "public/default/field-star-rating";
@import "blocks/base";

:--namespace form.glsr-form p.et_pb_contact_field {
    margin-bottom: 3%;
    margin-top: 0;
    position: relative;
}
:--namespace .et_pb_contact_field:not(.glsr-field-rating) > label.et_pb_contact_form_label {
    display: none;
}
:--namespace .glsr-field-rating > label,
:--namespace .et_pb_contact_field_options_title label {
    font-weight: 600;
}
:--namespace form.glsr-form .et_pb_contact_field > input,
:--namespace form.glsr-form select,
:--namespace form.glsr-form textarea {
    background: var(--glsr-form-bg-color);
    border-radius: var(--glsr-form-border-radius);
    border: var(--glsr-form-border-width) solid var(--glsr-form-border-color);
    box-shadow: none;
    display: block;
    font-family: var(--glsr-font-family-sans);
    font-size: var(--glsr-form-font-size);
    height: auto;
    line-height: var(--glsr-form-line-height);
    margin: 0; /* Remove the margin in Firefox and Safari. */
    max-width: none;
    opacity: 1;
    padding: var(--glsr-form-px);
}
:--namespace form.glsr-form textarea {
    width: 100%;
}
:--namespace form.glsr-form .glsr-field-select::after {
    border: 6px solid;
    border-color: var(--glsr-gray-dark) transparent transparent transparent;
    content: '';
    height: 0;
    margin-top: 3px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
}
:--namespace form.glsr-form .glsr-field-checkbox,
:--namespace form.glsr-form .glsr-field-radio {
    display: flex;
}
:--namespace form.glsr-form .glsr-field-checkbox input[type=checkbox],
:--namespace form.glsr-form .glsr-field-radio input[type=radio] {
    display: none;
}
:--namespace form.glsr-form .glsr-field-checkbox input[type=checkbox] + label,
:--namespace form.glsr-form .glsr-field-radio input[type=radio] + label {
    align-items: flex-start;
    display: inline-flex;
    margin: 0;
}
:--namespace form.glsr-form .glsr-field-checkbox input[type=checkbox] + label span:first-of-type,
:--namespace form.glsr-form .glsr-field-radio input[type=radio] + label span:first-of-type {
    align-items: center;
    display: flex;
}
:--namespace form.glsr-form .glsr-field-checkbox input[type=checkbox] + label i,
:--namespace form.glsr-form .glsr-field-radio input[type=radio] + label i {
    content: '';
    width: 18px;
    height: 18px;
    background-color: var(--glsr-gray-light);
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 6px;
}
:--namespace form.glsr-form .glsr-field-radio input[type=radio] + label i {
    border-radius: 100%;
}
:--namespace form.glsr-form .et_contact_bottom_container {
    text-align: right;
}
:--namespace form.glsr-form button.et_pb_contact_submit {
    background-color: transparent;
    border-radius: 3px;
    border: 2px solid;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7em !important;
    padding: 0.3em 1em;
    position: relative;
    white-space: nowrap;
}
