@import "public/minimal/variables";
@import "public/minimal/keyframes";
@import "public/minimal/base";
@import "public/minimal/loaders";
@import "public/minimal/pagination";
@import "public/minimal/star-rating";
@import "public/minimal/review";
@import "public/minimal/summary";
@import "public/minimal/field-toggle";
@import "public/minimal/field-rating";
@import "public/minimal/button";
@import "public/minimal/modal";
@import "public/minimal/debug";

:root {
    --glsr-blue: #2ea3f2;
    --glsr-toggle-bg-1: var(--glsr-blue);
    --glsr-toggle-h: 20px;
}

:--namespace form.glsr-hide-form {
    max-height: 0 !important;
    opacity: 0;
    overflow: hidden;
}
:--namespace .glsr-field:not(.glsr-field-is-invalid) .glsr-field-error,
:--namespace .glsr-form-message:not(.glsr-form-failed):not(.glsr-form-success) {
    display: none;
}
:--namespace .glsr-field-error {
    display: flex;
}
:--namespace form.glsr-form input.glsr-input,
:--namespace form.glsr-form select.glsr-select,
:--namespace form.glsr-form textarea.glsr-textarea {
    width: 100%;
}
:--namespace .glsr-field-rating::after {
    display: none;
}
:--namespace .glsr-field-rating label,
:--namespace .et_pb_contact_field_options_title label {
    display: block;
    font-weight: 600;
}
