@import "public/divi/variables";
@import "public/minimal/keyframes";
@import "public/minimal/modal";
@import "public/minimal/screen-reader";
@import "public/minimal/reviews";
@import "public/minimal/read-more";
@import "public/minimal/pagination";
@import "public/minimal/field-toggle";
@import "public/minimal/field-star-rating";
@import "public/minimal/submit-button";
@import "public/minimal/reviews-summary";

:--namespace form.glsr-hide-form {
    max-height: 0 !important;
    opacity: 0;
    overflow: hidden;
}
:--namespace form.glsr-form .glsr-recaptcha-holder {
    margin-top: var(--glsr-base-font-size);
}
:--namespace form.glsr-form:not(.glsr-form-is-invalid) .glsr-field-error,
:--namespace form.glsr-form .glsr-form-message:not(.glsr-form-failed):not(.glsr-form-success) {
    display: none;
}
:--namespace form.glsr-form .glsr-field-error {
    display: flex;
}
:--namespace form.glsr-form .glsr-field-error,
:--namespace form.glsr-form .glsr-form-failed {
    color: var(--glsr-red);
}
:--namespace form.glsr-form .glsr-form-success {
    color: var(--glsr-green);
}
:--namespace form.glsr-form input[type=email],
:--namespace form.glsr-form input[type=tel],
:--namespace form.glsr-form input[type=text],
:--namespace form.glsr-form select.glsr-select,
:--namespace form.glsr-form textarea.glsr-textarea {
    width: 100%;
}
:--namespace .glsr-field-rating::after {
    display: none;
}
:--namespace .glsr-field-rating label,
:--namespace .et_pb_contact_field_options_title label {
    display: block;
    font-weight: 600;
}
