@import "minimal";

:root body {
    --glsr-toggled-bg: var( --e-global-color-accent, currentColor);
}

:--namespace .e-form__buttons {
    display: flex;
}
:--namespace form.glsr-form .glsr-field-subgroup label {
    line-height: inherit;
}
:--namespace form.glsr-form .glsr-description {
    font-size: var(--glsr-description-text);
}
