@import "minimal";

:--namespace form.glsr-form label.glsr-label {
    margin-bottom: 0.25em;
    width: 100%;
}
:--namespace form.glsr-review-form .glsr-field {
    flex-basis: 100%;
    margin-bottom: 10px;
}
:--namespace form.glsr-form .glsr-field-error {
    width: 100%;
}
:--namespace form.glsr-form .glsr-toggle,
:--namespace form.glsr-form .glsr-toggle label {
    line-height: var(--glsr-leading);
}
