@mixin pin {
	display: inline-block;
	position: relative;
	content: "\f537";
	font: normal 20px/1 dashicons;
	speak: none;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@mixin placeholder() {
	color: #72777c !important;
	font-size: inherit !important;
	line-height: inherit !important;
	opacity: 1;
}

@import "admin/addons";
@import "admin/dashboard";
@import "admin/edit-review";
@import "admin/mce-shortcodes";
@import "admin/metabox";
@import "admin/notices";
@import "admin/progress-bar";
@import "admin/rating";
@import "admin/settings";
@import "admin/status-table";
@import "admin/wp-list-table";

::placeholder {
	@include placeholder();
}
::-webkit-input-placeholder {
	@include placeholder();
}
:-moz-placeholder {
	@include placeholder();
}
::-moz-placeholder {
	@include placeholder();
}
:-ms-input-placeholder {
	@include placeholder();
}

.glsr-field small code {
	font-size: inherit;
	padding: 0 3px 1px;
}
