@import "public/variables";

$fontFamily: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
$glsr: (
    font-family: $fontFamily,
    font-size-large: 24px,
    font-size-small: 13px,
    font-size: 16px,
    form-star-size: 26px,
    line-height: 1.75,
    opacity: 0.1,
    spacing: 16px,
    star-size: 20px,
    summary-bar-height: 14px,
    summary-max-width: 450px,
    summary-spacing: 10px,
    summary-star-size: 26px,
);

@import "blocks/blocks";
@import "blocks/form";
@import "blocks/reviews";
@import "blocks/summary";
