@import "public/minimal/variables";
@import "public/minimal/keyframes";
@import "public/minimal/base";
@import "public/minimal/loaders";
@import "public/minimal/pagination";
@import "public/minimal/star-rating";
@import "public/minimal/review";
@import "public/minimal/summary";
@import "public/minimal/form";
@import "public/minimal/field-label";
@import "public/minimal/field-input";
@import "public/minimal/field-choice";
@import "public/minimal/field-toggle";
@import "public/minimal/field-rating";
@import "public/minimal/button";
@import "public/minimal/modal";
@import "public/minimal/debug";

:root {
    --gl-radius: 0;
    --gl-px: calc(0.667em + 2px);
    --gl-py: calc(0.667em + 2px);
    --gl-gray-500: #949494;
    --gl-white: #fff;
}
:root .glsr-field-rating {
    --gl-star-size: 2em;
}
:root .glsr-review-response {
    --gl-px: calc(var(--gl-text-md) * 1.25);
    --gl-py: calc(var(--gl-text-md) * 1.25);
}
:root .glsr-button {
    border-width: 0;
}
:--namespace {
    --gl-tog-bg-on: var(--wp--preset--color--primary);
}
:--namespace .glsr-summary {
    font-size: var(--gl-text-sm);
}
:--namespace .glsr-summary-percentages {
    --gl-leading: 1.5;
}
:--namespace form.glsr-form input.glsr-input,
:--namespace form.glsr-form select.glsr-select,
:--namespace form.glsr-form textarea.glsr-textarea {
    background-color: var(--gl-white);
    border-radius: var(--gl-radius);
    border: 1px solid var(--gl-gray-500);
    font-family: var(--wp--preset--font-family--inter);
    font-size: var(--gl-text-md);
    line-height: var(--gl-leading);
    transition: border-color var(--gl-duration) ease-in-out;
    padding-top: var(--gl-py);
    padding-right: var(--gl-px);
    padding-bottom: var(--gl-py);
    padding-left: var(--gl-px);
}
:--namespace .glsr-pagination .nav-links {
    column-gap: var(--gl-gap-sm);
}
:--namespace.glsr-ltr .glsr-pagination .page-numbers.prev,
:--namespace.glsr-rtr .glsr-pagination .page-numbers.next {
    flex: 1;
    text-align: left;
}
:--namespace.glsr-rtl .glsr-pagination .page-numbers.prev,
:--namespace.glsr-ltr .glsr-pagination .page-numbers.next {
    flex: 1;
    text-align: right;
}
