@import "public/minimal/variables";
@import "public/minimal/keyframes";
@import "public/minimal/debug";
@import "public/minimal/modal";
@import "public/minimal/screen-reader";
@import "public/minimal/captcha";
@import "public/minimal/reviews";
@import "public/minimal/read-more";
@import "public/minimal/pagination";
@import "public/minimal/reviews-form";
@import "public/minimal/field-labels";
@import "public/twentytwentytwo/field-input";
@import "public/minimal/field-choice";
@import "public/minimal/field-toggle";
@import "public/minimal/field-star-rating";
@import "public/minimal/button";
@import "public/minimal/reviews-summary";

:root {
    --glsr-gray                    : #949494;
    --glsr-border-radius           : 0;
    --glsr-box-shadow              : none;
    --glsr-form-px                 : calc(0.667em + 2px);
    --glsr-form-py                 : calc(0.667em + 2px);
    --glsr-toggle-bg-active        : var(--wp--preset--color--primary);
}

:--namespace form.glsr-form .glsr-field-error {
    font-family: var(--glsr-font-family-sans);
    font-size: var(--glsr-form-font-size-small);
}
:--namespace button.glsr-button {
    background-color: var(--wp--preset--color--primary);
    border: none;
    color: var(--wp--preset--color--background);
    font-size: var(--wp--preset--font-size--medium);
    padding: var(--glsr-form-px) calc(1.333em + 2px);
}
:--namespace button.glsr-button:hover {
    opacity: 0.90;
}

:--namespace .glsr-pagination .page-numbers {
    margin-bottom: 0.5em;
}
:--namespace .glsr-pagination .page-numbers:not(.prev):not(.next) {
    margin-left: 2px;
    margin-right: 2px;
}
:--namespace .glsr-pagination .page-numbers.prev,
:--namespace .glsr-pagination .page-numbers.next {
    flex: 1;
}
:--namespace.glsr-ltr .glsr-pagination .page-numbers.prev,
:--namespace.glsr-rtr .glsr-pagination .page-numbers.next {
    margin-right: 0.5em;
    text-align: left;
}
:--namespace.glsr-rtl .glsr-pagination .page-numbers.prev,
:--namespace.glsr-ltr .glsr-pagination .page-numbers.next {
    margin-left: 0.5em;
    text-align: right;
}


