@import "public/minimal/variables";
@import "public/minimal/keyframes";
@import "public/minimal/debug";
@import "public/minimal/modal";
@import "public/minimal/screen-reader";
@import "public/minimal/captcha";
@import "public/minimal/reviews";
@import "public/minimal/read-more";
@import "public/minimal/pagination";
@import "public/minimal/reviews-form";
@import "public/minimal/field-labels";
@import "public/minimal/field-input";
@import "public/minimal/field-choice";
@import "public/minimal/field-toggle";
@import "public/minimal/field-star-rating";
@import "public/minimal/button";
@import "public/minimal/reviews-summary";

:--namespace form.glsr-form label.glsr-label {
    font-weight: 800;
}
:--namespace form.glsr-form .glsr-field-choice span label {
    font-weight: normal;
}
