@import "minimal-blocks";

:--namespace {
    --glsr-gray-300: #bbb;
    --glsr-gray-400: #666;
    --glsr-gray-500: #333;
    --glsr-black: #222;
    --glsr-input-px: 0.7em;
    --glsr-input-py: 0.7em;
}
:--namespace .glsr-button {
    border: none;
    border-radius: 2px;
}
:--namespace form.glsr-form label.glsr-label {
    font-weight: 800;
}
:--namespace form.glsr-form .glsr-field-choice span label {
    font-weight: normal;
}

:--namespace form.glsr-form input.glsr-input,
:--namespace form.glsr-form select.glsr-select,
:--namespace form.glsr-form textarea.glsr-textarea {
    border: 1px solid var(--glsr-gray-300);
    border-radius: var(--glsr-radius);
    padding: var(--glsr-input-py) var(--glsr-input-px);
}
:--namespace .glsr-pagination .pagination {
    border-top: 1px solid #eee;
    font-size: 0.875rem;
    font-weight: 800;
    min-height: 56px;
    padding-top: 2em;
    position: relative;
    text-align: center;
}
:--namespace .glsr-pagination .page-numbers {
    border-radius: 0;
    box-shadow: none;
    color: var(--glsr-black);
    display: none;
    line-height: 1.5;
    padding: 0.5em 0.75em;
    @media screen and (min-width: 700px) {
        display: inline-block;
    }
}
:--namespace .glsr-pagination a.next {
    background-color: #ddd;
    border-radius: 2px;
    display: inline-block;
    float: right;
    font-size: 1.5rem;
    line-height: 1;
    padding: 0.25em 0.5em 0.4em;
}
:--namespace .glsr-pagination .current {
    color: #767676;
    display: inline-block;
}
@media screen and (max-width: 699px) {
    :--namespace .glsr-pagination .current .screen-reader-text {
        clip-path: none !important;
        position: static !important;
    }
}
