@import "minimal";

:root {
    --gl-font: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
    --gl-leading: 1.476;
    --gl-px: 1.8rem;
    --gl-py: 1.5rem;
    --gl-black: #c000;
    --gl-red: #cd2653;
    --gl-text-base: 1.8rem;
    --gl-text-sm: 1.6rem;
    --gl-tog-h: 1.8rem;
    @media (min-width: 700px) {
        --gl-text-base: 2.1rem;
    }
}
:root .glsr {
    font-size: var(--gl-text-base);
}
:root .glsr-field-rating {
    --gl-star-size: 2em;
}
:root .glsr-review-response {
    --gl-px: calc(var(--gl-text-md) * 1.25);
    --gl-py: calc(var(--gl-text-md) * 1.25);
}

:--namespace .glsr-toggle,
:--namespace .glsr-toggle > label {
    font-size: 1.6rem;
    font-family: var(--gl-font);
}
:--namespace form.glsr-form .glsr-field-checkbox label,
:--namespace form.glsr-form .glsr-field-radio label {
    font-family: var(--gl-font);
}
:--namespace form.glsr-form label.glsr-label {
    font-family: var(--gl-font);
    margin-bottom: 0.5rem;
}
:--namespace .glsr-field-error {
    font-family: var(--gl-font);
}

