@import "minimal";

:root {
    --gl-blue: #0073aa;
    --gl-text-base: 1rem;
    --gl-tog-bg-on: var(--gl-blue);
    --gl-tog-h: 1rem;
    --gl-font: system-ui;
    --gl-text-sm: 0.71111em;
    --gl-gap-lg: 2em;
}
:root .glsr-field-rating {
    --gl-star-size: 2em;
}
:root .glsr-review-response {
    --gl-px: calc(var(--gl-text-md) * 1.25);
    --gl-py: calc(var(--gl-text-md) * 1.25);
}


:--namespace .glsr-summary-percentages {
    --gl-leading: 1.5;
}
:--namespace .glsr-toggle-switch {
    font-size: var(--gl-text-sm);
}
:--namespace .glsr-review-date {
    font-size: 0.71111em;
    color: #767676;
    font-family: var(--gl-font);
    font-style: normal;
    font-weight: 500;
}
:--namespace .glsr-review-author,
:--namespace .glsr-review-response-inner p:first-of-type strong {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: var(--gl-font);
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 1.2;
}
:--namespace .glsr-review-response-inner p:first-of-type strong {
    font-size: 1.125em;
}
:--namespace form.glsr-form .glsr-field-error {
    font-family: var(--gl-font);
}
:--namespace .glsr-modal__dialog {
    --gl-text-base: 0.88889em;
 }
