@import "minimal-blocks";

:--namespace .glsr {
    --glsr-gray-300: #f7f7f7;
    --glsr-gray-400: #d1d1d1;
    --glsr-gray-500: #686868;
    --glsr-black: #1a1a1a;
    --glsr-blue: #007acc;
    --glsr-toggle-bg-1: var(--glsr-blue);
    --glsr-text-sm: 0.8125rem;
    --glsr-gap-sm: 0.5384615385em;
    --glsr-leading: 1.75;
    --glsr-font: Montserrat, "Helvetica Neue", sans-serif;
    --glsr-input-px: 0.4375em;
    --glsr-input-py: 0.625em;
    --glsr-radius: 2px;
}
:--namespace .glsr-button {
    border: none;
    border-radius: 2px;
}
:--namespace form.glsr-form input.glsr-input,
:--namespace form.glsr-form select.glsr-select,
:--namespace form.glsr-form textarea.glsr-textarea {
    background-color: var(--glsr-gray-300);
    border: 1px solid var(--glsr-gray-400);
    border-radius: var(--glsr-input-radius);
    color: var(--glsr-gray-500);
    font-family: var(--glsr-font);
    font-size: var(--glsr-text-md);
    padding: var(--glsr-input-py) var(--glsr-input-px);
}
:--namespace form.glsr-form label.glsr-label:not(.glsr-label-toggle) {
    color:  var(--glsr-gray-500);
    font-family: var(--glsr-font);
    font-size: var(--glsr-text-sm);
    font-weight: 500;
    letter-spacing: 1px;
    line-height: var(--glsr-leading);
    margin-bottom: calc(var(--glsr-text-sm) * .25);
    text-transform: uppercase;
}
:--namespace .glsr-pagination .pagination {
    border-top: 4px solid var(--glsr-black);
    margin: 0 10%;
    min-height: 56px;
    position: relative;
    &::before,
    &::after {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        background-color: var(--glsr-black);
        color: var(--glsr-white);
        display: inline-block;
        font-family: "dashicons";
        font-size: 24px;
        font-style: normal;
        font-weight: normal;
        height: 52px;
        line-height: 51px;
        position: absolute;
        text-align: center;
        text-transform: none;
        top:0;
        vertical-align: top;
        width: 52px;
        z-index: 0;
    }
    &::before {
        content: "\f344";
        right: 0;
    }
    &::after {
        content: "\f340";
        color: rgba(255,255,255,0.3);
        right: 54px;
    }
}
:--namespace .glsr-pagination .nav-links {
    padding-right: 106px;
    position: relative;
}
:--namespace .glsr-pagination .prev,
:--namespace .glsr-pagination .next {
    display: none !important;
}
:--namespace .glsr-pagination .page-numbers {
    border-radius: 0;
    display: none;
    letter-spacing: 0.013157895em;
    line-height: 1;
    margin: 0 0.7368421053em 0 -0.7368421053em;
    padding: 0.8157894737em 0.7368421053em 0.3947368421em;
    text-transform: uppercase;
    font-family: var(--glsr-font);
    font-size: 1.1875rem;
}
:--namespace .glsr-pagination a.page-numbers {
    box-shadow: 0 1px 0 0 currentColor;
}
:--namespace .glsr-pagination span.page-numbers {
    box-shadow: none;
    color: var(--glsr-black);
}
:--namespace .glsr-pagination .current {
    display: inline-block;
    font-weight: 700;
}
@media screen and (max-width: 699px) {
    :--namespace .glsr-pagination .current .screen-reader-text {
        clip-path: none !important;
        position: static !important;
    }
}
@media screen and (min-width: 700px) {
    :--namespace .glsr-pagination .page-numbers {
        display: inline-block;
    }
}
