@import "minimal-blocks";

:--namespace {
    --glsr-input-px: calc(0.667em + 2px);
    --glsr-input-py: calc(0.667em + 2px);
    --glsr-input-b: 1px solid var(--wp--preset--color--primary);
    --glsr-input-radius: 0;
}
:--namespace form.glsr-form input.glsr-input,
:--namespace form.glsr-form select.glsr-select,
:--namespace form.glsr-form textarea.glsr-textarea {
    background-color: var(--glsr-white);
    border-radius: var(--glsr-input-radius);
    border: var(--glsr-input-b);
    font-size: var(--glsr-text-md);
    line-height: var(--glsr-leading);
    padding-top: var(--glsr-input-py);
    padding-right: var(--glsr-input-px);
    padding-bottom: var(--glsr-input-py);
    padding-left: var(--glsr-input-px);
}
:--namespace form.glsr-form input[type=checkbox].glsr-input-checkbox,
:--namespace form.glsr-form input[type=radio].glsr-input-radio {
    height: var(--glsr-text-lg);
    width: var(--glsr-text-lg);
}
:--namespace .glsr-button {
    border: none;
}
:--namespace .glsr-pagination .nav-links {
    column-gap: var(--glsr-gap-sm);
}
:--namespace.glsr-ltr .glsr-pagination .page-numbers.prev,
:--namespace.glsr-rtr .glsr-pagination .page-numbers.next {
    flex: 1;
    text-align: left;
}
:--namespace.glsr-rtl .glsr-pagination .page-numbers.prev,
:--namespace.glsr-ltr .glsr-pagination .page-numbers.next {
    flex: 1;
    text-align: right;
}
