@import "minimal";

:root {
    --gl-black: #222;
}
:root .glsr-field-rating {
    --gl-star-size: 2em;
}
:root .glsr-review-response {
    --gl-px: calc(var(--gl-text-md) * 1.25);
    --gl-py: calc(var(--gl-text-md) * 1.25);
}
:root .glsr-button {
    border-radius: 2px;
}
:--namespace form.glsr-form label.glsr-label {
    font-weight: 800;
}
:--namespace form.glsr-form .glsr-field-choice span label {
    font-weight: normal;
}
