@import "minimal";

:root body {
    --glsr-gray-300: #dcd7ca;
    --glsr-black: #000;
    --glsr-red: #cd2653;
    --glsr-font: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
    --glsr-font-serif: NonBreakingSpaceOverride, "Hoefler Text", "Noto Serif", Garamond, "Times New Roman", serif;
    --glsr-leading: 1.476;
    --glsr-input-radius: 0;
    --glsr-input-px: 1em;
    --glsr-input-py: 0.83333333em;
    --glsr-text-base: 1.8rem;
    --glsr-text-sm: 0.77777778em;
    --glsr-summary-text: 1em;
    --glsr-toggle-h: 1em;
    --glsr-description-text: 1.6rem;

    @media (min-width: 700px) {
        --glsr-text-base: 2.1rem;
        --glsr-summary-text: 0.83333333em;
    }
}
:root .glsr-modal,
:root .glsr-modal .glsr {
    font-size: var(--glsr-text-sm);
}
:--namespace .glsr-toggle,
:--namespace .glsr-toggle > label {
    font-size: 1.6rem;
}
:--namespace form.glsr-form .glsr-field,
:--namespace form.glsr-form .glsr-field label {
    font-family: var(--glsr-font);
}
:--namespace form.glsr-form label.glsr-label {
    font-weight: var(--glsr-label-weight);
    margin-bottom: var(--glsr-gap-sm);
}
:--namespace form.glsr-form .glsr-description {
    font-size: var(--glsr-description-text);
    margin-bottom: var(--glsr-gap-sm);
}
:--namespace form.glsr-form select.glsr-select {
    background: var(--glsr-white);
    border: solid 0.1rem var(--glsr-gray-300);
    border-radius: var(--glsr-input-radius);
    font-size: 1.6rem;
    letter-spacing: -0.015em;
    padding: var(--glsr-input-py) var(--glsr-input-px);
    &:focus {
        border-color: currentColor;
    }
}
