// =============================================================================
// Partials -> Edit Review Page
// =============================================================================

$editorFontFamily: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;

#titlediv #title {
	margin-bottom: 20px;
}

#titlediv #title,
#contentdiv textarea {
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.04 );
	background-color: rgba( 255, 255, 255, 1 );
}

#contentdiv textarea,
.post-type-site-review .wp-editor-area {
	width: 100%;
	height: 320px;
	font-family: $editorFontFamily;
	font-size: 16px;
	line-height: 1.5;
	padding: 10px;
	resize: vertical;
	-webkit-font-smoothing: antialiased !important;
	overflow-wrap: break-word;
}

body.branch-4,
body.branch-4-1,
body.branch-4-2,
body.branch-4-3 {
	.misc-pub-pinned:before {
		display: none;
	}

	.misc-pub-pinned .pinned-icon {
		position: relative;
		display: inline-block;
		width: 20px;
		padding-right: 2px;
	}

	.misc-pub-pinned .pinned-icon svg {
		position: absolute;
		top: -13px;
		left: -1px;
		width: 19px;
		height: 18px;
		color: #888;
	}
}

.misc-pub-pinned {
	&:before {
		@include pin;
		top: 0;
		left: -1px;
		color: #82878c;
		padding: 0 2px 0 0;
	}

	.pinned-status-text {
		font-weight: 600;
	}

	.pinned-status-select {
		margin-top: 3px;
	}
}

.glsr-response {
	display: block;
	height: 6em;
	width: 100%;
	margin: 12px 0 0;
}
