.wp-block-site-reviews-surecart-product-rating {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1ex;
}

// @todo remove .has-custom-color in v8.1
.has-custom-color:not([data-theme]),
.has-rating-color:not([data-theme]) {
    .glsr-star {
        background: var(--glsr-review-star-bg);
        mask-size: 100%;
    }
    .glsr-star-empty {
        mask-image: var(--glsr-star-empty);
    }
    .glsr-star-full {
        mask-image: var(--glsr-star-full);
    }
    .glsr-star-half {
        mask-image: var(--glsr-star-half);
    }
}
