
:--namespace .glsr-pagination {
    border-top: 4px solid var(--glsr-black);
    margin: 0 10%;
    min-height: 56px;
    position: relative;
}
:--namespace .glsr-pagination::before,
:--namespace .glsr-pagination::after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: var(--glsr-black);
    color: var(--glsr-white);
    display: inline-block;
    font-family: "dashicons";
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    height: 52px;
    line-height: 51px;
    position: absolute;
    text-align: center;
    text-transform: none;
    top:0;
    vertical-align: top;
    width: 52px;
    z-index: 0;
}
:--namespace .glsr-pagination::before {
    content: "\f344";
    right: 0;
}
:--namespace .glsr-pagination::after {
    content: "\f340";
    color: rgba(var(--glsr-white), 0.3);
    right: 54px;
}
:--namespace .glsr-pagination .nav-links {
    padding-right: 106px;
    position: relative;
}
:--namespace .glsr-pagination .prev,
:--namespace .glsr-pagination .next {
    display: none !important;
}
:--namespace .glsr-pagination .page-numbers {
    border-radius: 0;
    display: none;
    line-height: 1;
    margin-left: calc(calc(var(--glsr-base-font-size) * .875) * -1);
    margin-right: calc(var(--glsr-base-font-size) * .875);
    padding: var(--glsr-base-font-size) calc(var(--glsr-base-font-size) * .875) calc(var(--glsr-base-font-size) / 2);
    text-transform: uppercase;
    font-family: var(--glsr-form-font-family-sans);
    font-size: var(--glsr-font-size-large);
}
:--namespace .glsr-pagination a.page-numbers {
    box-shadow: 0 1px 0 0 currentColor;
}
:--namespace .glsr-pagination span.page-numbers {
    box-shadow: none;
    color: var(--glsr-black);
}
:--namespace .glsr-pagination .current {
    display: inline-block;
    font-weight: 700;
}
@media screen and (max-width: 699px) {
    :--namespace .glsr-pagination .current .screen-reader-text {
        clip-path: none !important;
        position: static !important;
    }
}
@media screen and (min-width: 700px) {
    :--namespace .glsr-pagination .page-numbers {
        display: inline-block;
    }
}
