@keyframes glsr-spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.wp-admin .glsr-button {
	position: relative;
	white-space: nowrap;
}
.wp-admin .glsr-button::before,
.wp-admin .glsr-button::after {
	display: inline-block;
	position: absolute;
	top: 50%;
	height: 1em;
	width: 1em;
	border: 0.2em solid currentColor;
	border-radius: 100%;
	box-sizing: border-box;
	margin: -0.5em auto 0;
	animation: glsr-spin 0.5s infinite linear;
}
.wp-admin .glsr-button::before {
	border-top-color: transparent;
	opacity: 0.5;
}
.wp-admin .glsr-button::after {
	border-color: transparent;
	border-top-color: currentColor;
}

.wp-admin .glsr-button[disabled] {
	padding-left: calc(1em + 15px);
}
.wp-admin .glsr-button[disabled]::before,
.wp-admin .glsr-button[disabled]::after {
	content: '';
	left: 10px;
}
.wp-admin .glsr-button[disabled] span {
	visibility: hidden;
	font-size: 0;
}
.wp-admin .glsr-button[disabled] span::after {
	visibility: visible;
	content: attr(data-loading);
	font-size: 13px;
}

.wp-admin .glsr-button:not([disabled]) span[data-alt-text].alt {
	visibility: hidden;
	font-size: 0;
}

.wp-admin .glsr-button:not([disabled]) span[data-alt-text].alt::after {
	visibility: visible;
	content: attr(data-alt-text);
	font-size: 13px;
}
