// =============================================================================
// Partials -> Edit Review Page
// =============================================================================

.post-type-site-review #titlediv #title {
	margin-bottom: 20px;
}
.post-type-site-review #contentdiv textarea,
.post-type-site-review .wp-editor-area {
	display: block;
	width: 100%;
	height: 320px;
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	font-size: 16px;
	line-height: 1.5;
	padding: 10px;
	resize: vertical;
	-webkit-font-smoothing: antialiased !important;
	overflow-wrap: break-word;
}

.post-type-site-review .misc-pub-pinned {
	&::before {
		@include pin;
		top: 0;
		left: -1px;
		color: #82878c;
		padding: 0 2px 0 0;
	}

	.pinned-status-text {
		font-weight: 600;
	}

	.pinned-status-select {
		margin-top: 3px;
	}
}

.wp-admin .glsr-response {
	display: block;
	height: 6em;
	width: 100%;
	margin: 12px 0 0;
}
