// =============================================================================
// Partials -> Metabox
// =============================================================================

#site-review-detailsdiv.postbox .inside {
    padding: 0;
    margin: 0;
}

.glsr-response-postbox {
    margin-top: 20px;
    margin-bottom: 0;
}

.js .glsr-response-postbox .hndle {
    cursor: default;
}

.js .glsr-response-postbox .toggle-indicator::before {
    content: "\f142";
    display: inline-block;
    font: normal 20px/1 dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none !important;
}

.js .glsr-response-postbox.closed .toggle-indicator::before {
    content: "\f140";
}

.glsr-metabox-table {
    width: auto;
    padding: 0 12px 12px;
    margin-top: 12px;
}

.glsr-metabox-table td {
    line-height: 1.5;
    vertical-align: top;
    padding: 0 14px 8px 0;

    &:first-child {
        font-weight: 600;
    }

    &:last-child {
        padding-bottom: 0;
    }
}

.glsr-metabox-actions {
    border-top: 1px solid #ccd0d4;
    background: #f5f5f5;
    padding: 10px;
    clear: both;
}
.glsr-revert-action {
    text-align: right;
    float: right;
    line-height: 1.9;
    .spinner {
        float: left;
    }
}







/**
 * Fix select focus color to match admin color theme
 */
.glsr-metabox-field select:focus {
    border-color: #007cba;
    border-color: var(--wp-admin-theme-color);
    color: #016087;
    color: var(--wp-admin-theme-color-darker-20);
    box-shadow: 0 0 0 1px #007cba;
    box-shadow: 0 0 0 1px var(--wp-admin-theme-color);
}

.glsr-metabox-field {
    box-sizing: border-box;
    position: relative;
}

.glsr-metabox-field:first-child {
    margin-top: 12px;
}
.glsr-metabox-field .glsr-label {
    box-sizing: border-box;
    line-height: 1.5;
    margin: 0;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    white-space: nowrap;
    width: 100%;
}
.glsr-metabox-field .glsr-label label {
    display: block;
    font-size: 14px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
}
.glsr-metabox-field .glsr-input {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    padding: 12px;
    margin: 0;
}
.glsr-metabox-field .glsr-input > img {
    border-radius: 3px;
    margin-top: 12px;
}

.glsr-metabox-field input[type="text"],
.glsr-metabox-field input[type="password"],
.glsr-metabox-field input[type="date"],
.glsr-metabox-field input[type="datetime"],
.glsr-metabox-field input[type="datetime-local"],
.glsr-metabox-field input[type="email"],
.glsr-metabox-field input[type="month"],
.glsr-metabox-field input[type="number"],
.glsr-metabox-field input[type="search"],
.glsr-metabox-field input[type="tel"],
.glsr-metabox-field input[type="time"],
.glsr-metabox-field input[type="url"],
.glsr-metabox-field input[type="week"],
.glsr-metabox-field textarea,
.glsr-metabox-field select {
    margin: 0;
    width: 100%;
    padding: 3px 8px;
    line-height: 1.5;
    min-height: 30px;
}
.glsr-metabox-field .glsr-input label,
.glsr-metabox-field input:disabled,
.glsr-metabox-field select:disabled,
.glsr-metabox-field textarea:disabled {
    cursor: default;
}
.glsr-input-value:disabled {
    color: #32373c !important;
    background-color: #eee !important;
    border-color: #7e8993 !important;
    opacity: 1;
}

@media screen and (min-width: 641px) {
    .glsr-metabox-field {
        display: flex;
        flex: 1 auto;
    }
    .glsr-metabox-field:first-child {
        margin-top: 0;
    }
    .glsr-metabox-field:first-child .glsr-label,
    .glsr-metabox-field:first-child .glsr-input, {
        padding-top: 12px;
    }
    .glsr-metabox-field:last-child .glsr-label,
    .glsr-metabox-field:last-child .glsr-input, {
        padding-bottom: 12px;
    }
    .glsr-metabox-field .glsr-label {
        align-items: flex-start;
        display: flex;
        background: #f9f9f9;
        border-right: 1px solid #ddd;
        padding: 6px 12px;
        min-width: 150px;
        width: 20%;
        line-height: 40px;
    }
    .glsr-metabox-field .glsr-label label {
        font-weight: 600;
    }
    .glsr-metabox-field .glsr-input {
        flex-direction: column;
        justify-content: center;
        display: flex;
        padding: 6px 12px;
        vertical-align: top;
    }
}
@media screen and (min-width: 783px) {
    .glsr-metabox-field .glsr-label {
        line-height: 30px;
    }
}
.glsr-toggle-field {
    display: flex;
    line-height: normal;
    height: 40px;
}
@media screen and (min-width: 641px) {
    .glsr-toggle-field {
        align-items: center;
    }
}
@media screen and (min-width: 783px) {
    .glsr-toggle-field {
        height: 30px;
    }
}



.glsr-toggle {
    position: relative;
    display: inline-block
}
.glsr-toggle .glsr-toggle__track {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    background-color: #fff;
    border: 1px solid #1e1e1e;
    width: 36px;
    height: 18px;
    border-radius: 9px;
    transition: background .2s ease
}
@media (prefers-reduced-motion:reduce) {
    .glsr-toggle .glsr-toggle__track {
        transition-duration: 0s
    }
}
.glsr-toggle .glsr-toggle__thumb {
    display: block;
    position: absolute;
    box-sizing: border-box;
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transition: transform .1s ease;
    background-color: #1e1e1e;
    border: 5px solid #1e1e1e
}
@media (prefers-reduced-motion:reduce) {
    .glsr-toggle .glsr-toggle__thumb {
        transition-duration: 0s
    }
}
.glsr-toggle .glsr-toggle__input[type=checkbox]:checked ~ .glsr-toggle__track {
    background-color: #007cba;
    background-color: var(--wp-admin-theme-color);
    border: 9px solid transparent
}
.glsr-toggle .glsr-toggle__input:focus+.glsr-toggle__track {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3.5px #007cba;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3.5px var(--wp-admin-theme-color);
    outline: 2px solid transparent;
    outline-offset: 2px
}
.glsr-toggle .glsr-toggle__input[type=checkbox]:checked ~ .glsr-toggle__thumb {
    background-color: #fff;
    border-width: 0;
    transform: translateX(18px)
}
.glsr-toggle input.glsr-toggle__input[type=checkbox] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
    border: none
}
.glsr-toggle input.glsr-toggle__input[type=checkbox]:checked {
    background: none
}
.glsr-toggle input.glsr-toggle__input[type=checkbox]:before {
    content: ""
}



.glsr-metabox-field [data-star-rating] > select {
    clip: rect(1px, 1px, 1px, 1px) !important; /*IE/Edge*/
    clip-path: circle(1px at 0 0) !important;
    height: 1px !important;
    margin: 0 !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    top: 0 !important;
    visibility: visible !important;
    white-space: nowrap !important;
    width: 1px !important;
}
.glsr-metabox-field [data-star-rating] > select::before,
.glsr-metabox-field [data-star-rating] > select::after {
    display: none !important;
}
.glsr-metabox-field .glsr-star-rating:not([data-star-rating]) .glsr-star-rating--stars {
    display: none !important;
}
.glsr-metabox-field .glsr-star-rating--stars {
    align-items: center;
    color: #555d66;
    cursor: pointer;
    display: flex;
    float: left;
    position: relative;
    white-space: nowrap;
}
.glsr-metabox-field [data-star-rating] > select[disabled] + .glsr-star-rating--stars {
    color: #72777c;
    cursor: default;
}
.glsr-metabox-field .glsr-star-rating--stars > span {
    -webkit-font-smoothing: antialiased;
    font-family: dashicons;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 1;
    text-align: center;
    transition: color .1s ease-in;
}
@media screen and (min-width: 783px) {
    .glsr-metabox-field .glsr-star-rating--stars > span {
        font-size: 24px;
    }
}
.glsr-metabox-field .glsr-star-rating--stars[class*=" s"] > span::before {
    content: "\f154";
}
.glsr-metabox-field .glsr-star-rating--stars[class*=" s"] > span.gl-active::before,
.glsr-metabox-field .glsr-star-rating--stars[class*=" s"] > span.gl-active.gl-selected::before {
    content: "\f155";
}


/*allow SELECT focus*/
.glsr-metabox-field [data-star-rating] > select:focus + .glsr-star-rating--stars::before {
    border-radius: 3px;
    border: 1px solid #007cba;
    border: 1px solid var(--wp-admin-theme-color);
    box-shadow: 0 0 0 1px #007cba;
    box-shadow: 0 0 0 1px var(--wp-admin-theme-color);
    box-sizing: border-box;
    content: '';
    display: block;
    height: 40px;
    pointer-events: none;
    position: absolute;
    width: 100%;
}
@media screen and (min-width: 783px) {
    .glsr-metabox-field [data-star-rating] > select:focus + .glsr-star-rating--stars::before {
        height: 30px;
    }
}
