// =============================================================================
// Partials -> Metabox
// =============================================================================

#site-reviews_review.postbox .inside {
	padding: 0;
	margin: 0;
}

.glsr-response-postbox {
	margin-top: 20px;
	margin-bottom: 0;
}

.js .glsr-response-postbox .hndle {
	cursor: default;
}

.js .glsr-response-postbox .toggle-indicator:before {
	content: "\f142";
	display: inline-block;
	font: normal 20px/1 dashicons;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
}

.js .glsr-response-postbox.closed .toggle-indicator:before {
	content: "\f140";
}

.glsr-metabox-table {
	width: auto;
	padding: 0 12px 12px;
	margin-top: 12px;
}

.glsr-metabox-table td {
	line-height: 1.5;
	vertical-align: top;
	padding: 0 14px 8px 0;

	&:first-child {
		font-weight: 600;
	}

	&:last-child {
		padding-bottom: 0;
	}

	img {
		// display: block;
	}
}

.revert-action {
	line-height: 23px;
	text-align: right;
	border-top: 1px solid #ddd;
	background: #f5f5f5;
	padding: 10px;

	.spinner {
		float: none;
	}
}

.glsr-search-box .description {
	display: block;
}
.glsr-assigned-post {
	display: block;
	margin-left: 20px;
}
.glsr-remove-button {
	position: absolute;
	left: -4px;
    width: 20px;
    height: 20px;
    border: none;
    margin: 0;
    padding: 0;
    background: 0 0;
    cursor: pointer;
    text-indent: 0;
}
.glsr-remove-button:hover .glsr-remove-icon::before,
.glsr-remove-button:focus .glsr-remove-icon::before {
	color: #c00;
}
.glsr-remove-icon::before {
    margin-left: 0px;
    border-radius: 50%;
    color: #0073aa;
    line-height: 1.28;
	background: 0 0;
    content: "\f153";
    display: block;
    font: 400 16px/20px dashicons;
    speak: none;
    height: 20px;
    text-align: center;
    width: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glsr-assigned-post a {
	// text-overflow: ellipsis;
	// white-space: nowrap;
}
