// =============================================================================
// Partials -> Notices
// =============================================================================

.glsr-notice {
    border-color: var(--wp-admin-theme-color-darker-10);
    border-left-color: var(--wp-admin-theme-color);
}
.glsr-notice-buttons {
    gap: 6px;
    display: flex;
    flex-wrap: wrap;
}
.glsr-notice-buttons .button {
    margin-bottom: 0;
}
.glsr-notice-buttons .button-link {
    padding: 0 6px;
}
.glsr-notice-buttons .button-link:active,
.glsr-notice-buttons .button-link:focus,
.glsr-notice-buttons .button-link:hover {
    background-color: transparent;
}
.glsr-notice-footer {
    background: #fff;
    border-style: solid;
    border-width: 1px;
    border-left-width: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    padding: 1px 12px;
    margin: 10px 0;
}
.glsr-notice-footer .button-link {
    line-height: inherit;
    min-height: auto;
}
#wpfooter .glsr-notice-footer p {
    margin: .5em 0;
    padding: 2px;
}

.glsr-notice-top-of-page {
    background-color: var(--wp-admin-theme-color);
    box-shadow: inset 0 -1px var(--wp-admin-theme-color-darker-20);
    color: #fff;
    display: none;
    font-size: 15px;
    line-height: 1.4;
    margin-left: -10px;
    padding: 12px 60px 16px 20px;
    position: relative;
}
@media screen and (min-width: 783px) {
    .glsr-notice-top-of-page {
        margin-left: -20px;
        padding-top: 10px;
        padding-bottom: 12px;
    }
}
@media screen and (min-width: 1440px) {
    .glsr-notice-top-of-page {
        text-align: center;
    }
}
.glsr-notice-top-of-page a {
    color: #fff;
}
.glsr-notice-top-of-page a:hover {
    text-decoration: none;
}
.glsr-notice-top-of-page .notice-dismiss::before {
    color: #fff;
    text-shadow: 0px -1px 0px #4E426C;
    content: "\f335";
    font: normal 24px/24px dashicons;
    height: 24px;
    width: 24px;
}
@media screen and (min-width: 783px) {
    .glsr-notice-top-of-page .notice-dismiss {
        right: 10px;
    }
}

.glsr-responsive-table td .glsr-notice-inline.is-warning {
    background-color: #fff8e5;
    border-left: 4px solid #f0b849;
    display: inline-block;
    padding: 2px 8px;
    margin-top: 4px;
}
