:root {
	/* base00 - Default Background */
	/* base01 - Lighter Background (Used for status bars) */
	/* base02 - Selection Background */
	/* base03 - Comments, Invisibles, Line Highlighting */
	/* base04 - Dark Foreground (Used for status bars) */
	/* base05 - Default Foreground, Caret, Delimiters, Operators */
	/* base06 - Light Foreground (Not often used) */
	/* base07 - Light Background (Not often used) */
	/* base08 - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
	/* base09 - Integers, Boolean, Constants, XML Attributes, Markup Link Url */
	/* base0A - Classes, Markup Bold, Search Text Background */
	/* base0B - Strings, Inherited Class, Markup Code, Diff Inserted */
	/* base0C - Support, Regular Expressions, Escape Characters, Markup Quotes */
	/* base0D - Functions, Methods, Attribute IDs, Headings */
	/* base0E - Keywords, Storage, Selector, Markup Italic, Diff Changed */
	--base00: #2b303b;
	--base01: #343d46;
	--base02: #4f5b66;
	--base03: #65737e;
	--base04: #a7adba;
	--base05: #c0c5ce;
	--base06: #dfe1e8;
	--base07: #eff1f5;
	--base08: #bf616a;
	--base09: #d08770;
	--base0A: #ebcb8b;
	--base0B: #a3be8c;
	--base0C: #96b5b4;
	--base0D: #8fa1b3;
	--base0E: #b48ead;
	--base0F: #ab7967;
}

.syntax-shortcode,
code[class*="language-"],
pre[class*="language-"] {
	background-color: #181818;
	background-color: var(--base00);
	color: #d8d8d8;
	color: var(--base05);
	font-family: monospace;
	font-size: 1em;
	hyphens: none;
	line-height: 1.5;
	tab-size: 4;
	text-align: left;
	white-space: pre;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	border-radius: 2px;
}

/* Code blocks */
.syntax-shortcode,
pre[class*="language-"] {
	display: block;
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}
pre[class*="language-"] > code {
	margin: 0;
	padding: 0;
}

/* Inline code */
*:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.syntax-shortcode .tag {
	color: #ab4642;
	color: var(--base08);
}
.syntax-shortcode .attr-name {
	color: #ba8baf;
	color: var(--base0E);
}
.syntax-shortcode .attr-value {
	color: #a1b56c;
	color: var(--base0B);
}

// CSS

.language-css .comment {
	color: #585858;
	color: var(--base03);
}
.language-css .selector,
.language-css .important {
	color: #ba8baf;
	color: var(--base0E);
}
.language-css .property,
.language-css .function,
.language-css .url .function {
	color: #7cafc2;
	color: var(--base0D);
}
.language-css .string,
.language-css .url {
	color: #a1b56c;
	color: var(--base0B);
}
.language-css .atrule,
.language-css .atrule .punctuation,
.language-css .url .punctuation {
	color: #d8d8d8;
	color: var(--base05);
}
.language-css .atrule .rule {
    color: #f7ca88;
    color: var(--base0A);
}
.language-css .atrule .keyword {
    color: #ab4642;
    color: var(--base08);
}

// HTML

.language-html .tag {
	color: #ab4642;
	color: var(--base08);
}
.language-html .attr-name {
	color: #ba8baf;
	color: var(--base0E);
}
.language-html .attr-value {
	color: #a1b56c;
	color: var(--base0B);
}
.language-html .attr-equals {
	color: #d8d8d8;
	color: var(--base05);
}

// PHP

.language-php .punctuation,
.language-php .package .punctuation,
.language-php .attr-value,
.language-php .char,
.language-php .regex,
.language-php .variable,
.language-php .property,
.language-php .constant {
	color: #d8d8d8;
	color: var(--base05);
}
.language-php .cdata,
.language-php .comment,
.language-php .block-comment,
.language-php .doctype,
.language-php .prolog {
	color: #585858;
	color: var(--base03);
}
.language-php .string {
	color: #a1b56c;
	color: var(--base0B);
}
.language-php .keyword,
.language-php .selector,
.language-php .important {
	color: #ba8baf;
	color: var(--base0E);
}
.language-php .number,
.language-php .operator {
	color: #ab4642;
	color: var(--base08);
}
.language-php .boolean,
.language-php .function,
.language-php .class-name,
.language-php .package {
	color: #7cafc2;
	color: var(--base0D);
}
