// =============================================================================
// Partials -> Status table
// =============================================================================

.glsr-status {
	max-width: 1000px;
}

.glsr-status th.site {
	width: 25%;
}

.glsr-status td {
	vertical-align: middle;
}

.glsr-status td.site {
	font-weight: 600;
	span {
		font-weight: 400;
		font-size: 90%;
	}
}

.glsr-status .toggle-row {
	top: 0;
}

.glsr-status .toggle-row:before {
	top: 6px;
}

@media only screen and (min-width: 783px) {
	.glsr-status th.total-fetched,
	.glsr-status td.total-fetched {
		text-align: center;
	}
}

@media only screen and (max-width: 782px) {
	.glsr-status tr:not(.inline-edit-row):not(.no-items) td.site,
	.glsr-status th.site {
		display: table-cell !important;
		width: 230px !important;
		vertical-align: top;
		padding: 8px 10px;
	}

	.glsr-status tr:not(.inline-edit-row):not(.no-items) td.total-fetched ~ td:not(.site) {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		padding: 0 10px 0 260px;
		margin-left: -250px;
		margin-bottom: 8px;
	}

	.glsr-status tr:not(.inline-edit-row):not(.no-items) td.total-fetched ~ td:before {
		width: 240px;
	}
}

@media only screen and (max-width: 691px) {
	.glsr-status tr:not(.inline-edit-row):not(.no-items) td.site,
	.glsr-status th.site {
		width: 200px !important;
	}

	.glsr-status tr:not(.inline-edit-row):not(.no-items) td.total-fetched ~ td:not(.site) {
		padding-left: 230px;
		margin-left: -220px;
	}

	.glsr-status tr:not(.inline-edit-row):not(.no-items) td.total-fetched ~ td:before {
		width: 210px;
	}
}

@media only screen and (max-width: 600px) {
	.glsr-status tr:not(.inline-edit-row):not(.no-items) td.site,
	.glsr-status th.site {
		width: 170px !important;
	}

	.glsr-status tr:not(.inline-edit-row):not(.no-items) td.total-fetched ~ td:not(.site) {
		padding-left: 200px;
		margin-left: -190px;
	}

	.glsr-status tr:not(.inline-edit-row):not(.no-items) td.total-fetched ~ td:before {
		width: 180px;
	}
}

@media only screen and (max-width: 480px) {
	.glsr-status tr:not(.inline-edit-row):not(.no-items) td.site,
	.glsr-status th.site {
		width: 130px !important;
	}

	.glsr-status tr:not(.inline-edit-row):not(.no-items) td.total-fetched ~ td:not(.site) {
		padding-left: 160px;
		margin-left: -150px;
	}

	.glsr-status tr:not(.inline-edit-row):not(.no-items) td.total-fetched ~ td:before {
		width: 140px;
	}
}

@media only screen and (max-width: 425px) {
	.glsr-status td:before {
		font-weight: 600;
	}

	.glsr-status tr:not(.inline-edit-row):not(.no-items) td.total-fetched ~ td:not(.site) {
		padding-left: 10px;
	}

	.glsr-status tr:not(.inline-edit-row):not(.no-items) td.total-fetched ~ td:before {
		position: static;
	}
}

/* WordPress compatibility
-------------------------------------------------------------------- */

body.branch-4,
body.branch-4-1 {
	.glsr-status.striped > tbody > :nth-child(odd) {
		background-color: #f9f9f9;
	}
}

body.branch-4,
body.branch-4-1,
body.branch-4-2 {
	.glsr-status .toggle-row {
		display: none;
		position: absolute;
		top: 10px;
		right: 8px;
		width: 40px;
		height: 40px;
		border: none;
		outline: none;
		background: transparent;
		padding: 0;

		&:hover {
			cursor: pointer;
		}

		&:focus:before {
			box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8);
		}

		&:active {
			box-shadow: none;
		}

		&:before {
			display: block;
			position: absolute;
			top: -5px;
			left: 10px;
			border-radius: 50%;
			color: #666;
			content: '\f140';
			font: normal 20px/1 'dashicons';
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			speak: none;
			padding: 1px 2px 1px 0;
		}
	}

	.glsr-status .is-expanded .toggle-row:before {
		content: '\f142';
	}

	@media screen and ( max-width: 782px ) {

		.glsr-status .column-primary {
			width: 100%;

			~ th,
			~ td {
				display: none;
			}

			.toggle-row {
				display: block;
			}
		}

		.glsr-status td {
			position: relative;
			clear: both;
			display: block;
			width: auto !important;

			&.column-primary {
				padding-right: 50px;

				~ td:not(.check-column) {
					padding: 3px 8px 3px 35%;
				}
			}

			&:not(.column-primary)::before {
				position: absolute;
				left: 10px;
				display: block;
				overflow: hidden;
				width: 32%;
				content: attr(data-colname);
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}

		.glsr-status .is-expanded td:not(.hidden) {
			display: block;
			overflow: hidden;
		}

		&.post-type-review .fixed .column-rating,
		&.post-type-review .fixed .column-reviewer,
		&.post-type-review .fixed .column-site,
		&.post-type-review .fixed .column-stars {
			display: none;
		}
	}
}
