// =============================================================================
// Partials -> Status table
// =============================================================================

.glsr-status {
	max-width: 1000px;
}

.glsr-status th.column-primary {
	width: 50%;
}

.glsr-status td.column-primary {
	position: relative;
	font-size: 14px !important;
	font-weight: 600;
	span {
		font-weight: 400;
	}
}

.glsr-status .toggle-row {
	top: 0;
}

.glsr-status .toggle-row:before {
	top: 6px;
}

.glsr-status thead td.glsr-radio-column,
.glsr-status tfoot td.glsr-radio-column {
	color: #82878c;
	text-align: center;
	padding-left: 4px;
}

@media screen and (max-width: 782px) {
	.glsr-status th input[type="radio"] {
		margin-bottom: 8px;
	}
	.glsr-status thead td.glsr-radio-column,
	.glsr-status tfoot td.glsr-radio-column {
		padding-top: 4px;
		padding-left: 9px;
	}
}
