// =============================================================================
// Partials -> Status table
// =============================================================================

.glsr-status {
	max-width: 1000px;
}

.glsr-status th.column-primary {
	width: 50%;
}

.glsr-status td.column-primary {
	position: relative;
	font-size: 14px !important;
	font-weight: 600;
	span {
		font-weight: 400;
	}
}

.glsr-status .toggle-row {
	top: 0;
}

.glsr-status .toggle-row:before {
	top: 6px;
}
