.glsr-screenshot {
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-sizing: border-box;
}
.glsr-welcome .badge {
    position: absolute;
    top: 1em;
    right: 0;
    padding: .25rem .5rem;
    font-weight: 500;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    background-color: #72777c;
    color: #fff;
    border-radius: 5px;
}
@media only screen and (max-width: 500px) {
    .glsr-welcome .badge {
        display: inline-block;
        position: relative;
        top: auto;
    }
}
.glsr-welcome.about-wrap {
    display: block;
    margin: 40px 40px 0 20px;
}
.glsr-welcome.about-wrap .inside p,
.glsr-welcome.about-wrap .inside li {
    font-size: 16px;
}
.glsr-welcome.about-wrap .glsr-about-text {
    margin: 1em 0;
}
.glsr-welcome-banner {
    margin: 2em 0 0;
}
.glsr-welcome .about-buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 1.5em 0;
}
.glsr-welcome .components-button {
    margin: 0 .5em .5em 0;
}
.glsr-welcome .dashicon::before {
    font: normal 18px dashicons;
    margin-right: 6px;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.glsr-welcome .glsr-nav-view {
    margin-top: 0;
}
.glsr-welcome ul:not(.glsr-flex-row) {
    list-style: circle;
    padding-left: 20px;
}
.glsr-flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
}
.glsr-column {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}
.glsr-has-2-columns .glsr-column,
.glsr-has-3-columns .glsr-column {
    @media (min-width: 601px) {
        max-width: 50%;
    }
}
.glsr-has-3-columns .glsr-column {
    @media (min-width: 783px) {
        max-width: 33.33%;
    }
}
