// =============================================================================
// Partials -> WP List Table
// =============================================================================

[class*=post-type-site-review] .row-actions .id > span {
    color: #999;
}

#wpbody-content .inline-edit-row .glsr-inline-edit-col-right {
	margin-top: calc(30px + .2em);
}
#wpbody-content .inline-edit-row .glsr-inline-edit-col-left,
#wpbody-content .inline-edit-row .glsr-inline-edit-col-right {
	width: 50%;
	textarea {
		height: 8em;
	}
	@media screen and (max-width: 782px) {
		float: none;
		margin-top: 0;
		width: 100%;
	}
}

.wp-locked .row-actions .approve,
.wp-locked .row-actions .unapprove,
.wp-locked .row-actions .respond {
    display: none;
}

.glsr-responsive-table {
	position: relative;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	td {
		white-space: nowrap;
	}
}

.glsr-metabox-table .star-rating .star,
.post-type-site-review .star-rating .star {
	width: 16px;
	font-size: 16px;
	line-height: 20px;
	color: #555;
}
.post-type-site-review .star-rating .star {
	margin-top: -2px;
}


.post-type-site-review .hide-column-tog + .pinned-icon + svg {
	display: none;
}

.post-type-site-review .wp-list-table {

	.approve,
	.status-pending .unapprove {
		display: none;
	}

	.status-pending .approve,
	.spam .approve,
	.trash .approve {
		display: inline;
	}

	.approve a {
		color: #006505;
		&:hover {
			color: lighten( #006505, 5 );
		}
	}

	.unapprove a {
		color: #d98500;
		&:hover {
			color: lighten( #d98500, 5 );
		}
	}

	th.column-rating {
		width: 100px;
	}

	td.column-is_pinned {
		i.pin-review {
			align-items: center;
			cursor: pointer;
			display: flex;
			float: none;
			justify-content: center;
			margin: 0;
			transition: none;
		}
		i {
			line-height: 24px;
			text-indent: -3px;
		}

		i:not(.pinned) {
			color: rgba(85,85,85,0.2);
		}
	}

	:not(.status-pending) + tr.status-pending th.check-column {
		box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.07), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
	}

	:not(.status-pending) + tr.status-pending td:nth-child(2) {
		box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.07);
	}

	:not(.status-pending) + tr.status-pending:not(.is-expanded) td:nth-child(2) {
		box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.07), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
	}

	tr.status-pending th.check-column {
		box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.07);
	}

	tr.status-pending:not(.is-expanded) td:nth-child(2),
	tr.status-pending.is-expanded td:last-child {
		box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.07);
	}

	tr.status-pending th.check-column,
	tr.status-pending td {
		background-color: #fef7f1;
	}

	tr.status-pending th.check-column {
		position: relative;
		border-left: 4px solid #d54e21;
		z-index: 1;

		input {
			margin-left: 4px;
		}
	}
}

@media screen and (min-width: 783px) {
	.post-type-site-review .wp-list-table {

		:not(.status-pending) + tr.status-pending td {
			box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.07), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
		}

		tr.status-pending td {
			box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.07);
		}

		th.column-assigned_posts,
		th.column-assigned_users,
		th.column-ip_address {
			white-space: nowrap;
		}

		th.column-name,
		th.column-taxonomy-site-review-category,
		th.column-assigned_posts,
		th.column-assigned_users,
		th.column-type {
			width: 120px;
		}

		th.column-is_pinned {
			width: 45px;

			// span.sorting-indicator,
			span.pinned-icon span {
				display: none;
			}

			span.pinned-icon::after {
				@include pin;
				width: 16px;
				height: 20px;
				line-height: 22px;
				font-size: 16px;
				text-align: center;
			}

			.sorting-indicator {
				margin-left: 3px;
			}
		}

		td.column-is_pinned {
			padding: 8px 6px;

			i {
				text-indent: 0;
			}
		}
	}
}
