// =============================================================================
// Partials -> WP List Table
// =============================================================================

@media screen and (min-width: 783px) {
	#wpbody-content.has-footer-notice {
		padding-bottom: 105px;
	}
}

[class*=post-type-site-review] .row-actions .id > span {
    color: #999;
}
@media screen and (max-width: 782px) {
	[class*=post-type-site-review] .row-actions .id > span {
		display: inline-block;
		padding: 4px 8px;
		line-height: 1.5;
	}
}

.bulk-edit-site-review select {
	vertical-align: baseline;
	width: 100%;
}
.bulk-edit-site-review .inline-edit-author {
	width: 100%;
}
.bulk-edit-site-review .inline-edit-status {
	box-sizing: border-box;
	padding-right: 1em;
	@media screen and (max-width: 782px) {
		padding-right: 0;
	}
}

#wpbody-content .inline-edit-row .glsr-inline-edit-col-right {
	margin-top: calc(35px + .2em);
}
#wpbody-content .inline-edit-row .glsr-inline-edit-col-left,
#wpbody-content .inline-edit-row .glsr-inline-edit-col-right {
	width: 50%;
	textarea {
		height: 8em;
	}
	@media screen and (max-width: 782px) {
		float: none;
		margin-top: 0;
		width: 100%;
	}
}

.wp-locked .row-actions .approve,
.wp-locked .row-actions .unapprove,
.wp-locked .row-actions .respond {
    display: none;
}

.glsr-responsive-table {
	position: relative;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	td {
		white-space: nowrap;
	}
}

.glsr-metabox-table .star-rating .star,
.post-type-site-review .star-rating .star {
	width: 16px;
	font-size: 16px;
	line-height: 20px;
	color: #555;
}
.post-type-site-review .star-rating .star {
	margin-top: -2px;
}


.post-type-site-review .hide-column-tog + .pinned-icon + svg,
.post-type-site-review .hide-column-tog + .verified-icon + svg {
	display: none;
}

.post-type-site-review .wp-list-table {

	.approve,
	.status-pending .unapprove {
		display: none;
	}

	.status-pending .approve,
	.spam .approve,
	.trash .approve {
		display: inline;
	}

	.approve a {
		color: #006505;
		&:hover {
			color: lighten( #006505, 5 );
		}
	}

	.unapprove a {
		color: #d98500;
		&:hover {
			color: lighten( #d98500, 5 );
		}
	}

	td.column-is_pinned {
		i.pin-review {
			align-items: center;
			cursor: pointer;
			display: flex;
			float: none;
			justify-content: center;
			margin: 0;
			transition: none;
		}
		i {
			line-height: 24px;
			text-indent: -3px;
		}

		i:not(.pinned) {
			color: rgba(85,85,85,0.2);
		}
		i.spinner::before {
			display: none;
		}
	}

	td.column-is_verified {
		i.verify-review {
			align-items: center;
			cursor: pointer;
			display: flex;
			float: none;
			justify-content: center;
			margin: 0;
			transition: none;
		}
		i {
			color: #00a32a;
			line-height: 24px;
			text-indent: -3px;
		}
		i:not(.verified) {
			color: rgba(85,85,85,0.2);
		}
		i.spinner::before {
			display: none;
		}
	}


	:not(.status-pending) + tr.status-pending th.check-column {
		box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.07), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
	}

	:not(.status-pending) + tr.status-pending td:nth-child(2) {
		box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.07);
	}

	:not(.status-pending) + tr.status-pending:not(.is-expanded) td:nth-child(2) {
		box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.07), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
	}

	tr.status-pending th.check-column {
		box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.07);
	}

	tr.status-pending:not(.is-expanded) td:nth-child(2),
	tr.status-pending.is-expanded td:last-child {
		box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.07);
	}

	tr.status-pending th.check-column,
	tr.status-pending td {
		background-color: #fef7f1;
	}

	tr.status-pending th.check-column {
		position: relative;
		border-left: 4px solid #d54e21;
		z-index: 1;

		input {
			margin-left: 4px;
		}
	}
}

@media screen and (min-width: 783px) {
	.post-type-site-review .wp-list-table {

		:not(.status-pending) + tr.status-pending td {
			box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.07), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
		}

		tr.status-pending td {
			box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.07);
		}

		th.column-assigned_posts,
		th.column-assigned_users,
		th.column-ip_address {
			white-space: nowrap;
		}

		th.column-author_name,
		th.column-author_email,
		th.column-ip_address,
		th.column-taxonomy-site-review-category,
		th.column-assigned_posts,
		th.column-assigned_users,
		th.column-type,
		th.column-rating,
		th.column-response {
			width: 120px;
		}
		th.column-is_pinned,
		th.column-is_verified {
			width: 45px;
		}
		th.column-is_pinned .pinned-icon > span,
		th.column-is_verified .verified-icon > span {
			display: none;
		}
		th.column-is_pinned .pinned-icon::after {
			@include pin;
			width: 16px;
			height: 20px;
			line-height: 22px;
			font-size: 16px;
			text-align: center;
		}
		th.column-is_verified .verified-icon::after {
			@include verified;
			width: 16px;
			height: 20px;
			line-height: 22px;
			font-size: 16px;
			text-align: center;
		}
		th.column-is_pinned .sorting-indicator,
		th.column-is_verified .sorting-indicator {
			margin-left: 3px;
		}
		td.column-is_pinned,
		td.column-is_verified {
			padding: 8px 6px;
			i {
				text-indent: 0;
			}
		}
	}
}

#scheduled.glsr-nav-view {
	margin-top: .5em;
}
#scheduled.glsr-nav-view .subsubsub {
	margin-top: 0;
}
#scheduled.glsr-nav-view thead td {
	padding-left: 4px;
}
#scheduled.glsr-nav-view tbody th {
	border-left: 4px solid transparent;
	padding-left: 0;
}
#scheduled.glsr-nav-view tbody tr.action-in-progress th {
	border-color: #c3c4c7;
}
#scheduled.glsr-nav-view tbody tr.action-pending th {
	border-color: #FFB900;
}
#scheduled.glsr-nav-view tbody tr.action-failed th {
	border-color: #dc3232;
}
#scheduled.glsr-nav-view .column-args .glsr-tooltip,
#scheduled.glsr-nav-view .column-log_entries .glsr-tooltip {
	float: none;
	margin: 0;
}
@media screen and (min-width: 783px) {
	#scheduled.glsr-nav-view .column-args,
	#scheduled.glsr-nav-view .column-log_entries {
		text-align: center;
		width: 40px;
	}
	#scheduled.glsr-nav-view .column-status,
	#scheduled.glsr-nav-view .column-recurrence {
		width: 12%;
	}
	#scheduled.glsr-nav-view .column-schedule {
		width: 210px;
	}
}

// Status loading indicator
.locked-indicator.spinner {
	background-position: center;
	display: flex;
	float: none;
	justify-content: center;
	margin: 3px 0 0;
	width: auto;
}
.locked-indicator.spinner .locked-indicator-icon {
	opacity: 0;
}
.status-pending .locked-indicator.spinner {
	margin-right: 4px;
}
