
.glsr-youtube {
    position: relative;
    margin-top: 2em;
    padding-bottom: 56.25%; 
    position: relative;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #000;
}
.glsr-card.postbox .glsr-youtube {
    margin-top: 1.5em;
}
.glsr-youtube-overlay {
    color: rgba(201,153,3,.5);
    display: block;
    top: 0;
    right: 0;
    bottom: 50%;
    left: 0;
    mix-blend-mode: multiply;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 5;
    overflow: hidden;
    transition: opacity 1s cubic-bezier(0,0,0.2,1);
}
.glsr-youtube-overlay svg {
    margin-top: -10%;
}
.glsr-youtube iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}
.glsr-youtube-button {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform .2s cubic-bezier(0,0,0.2,1);
    z-index: 5;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}
.glsr-youtube-button:hover {
    transform: scale(1.25);
}
.glsr-youtube-button svg {
    pointer-events: none;
}
