.post-type-site-review #titlediv #title {
  margin-bottom: 20px;
}
.post-type-site-review #contentdiv textarea,
.post-type-site-review .wp-editor-area {
  display: block;
  width: 100%;
  height: 320px;
  font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
  resize: vertical;
  -webkit-font-smoothing: antialiased !important;
  overflow-wrap: break-word;
}
.post-type-site-review .misc-pub-section[data-action]::before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: currentColor;
  display: inline-block;
  font: normal 20px/1 dashicons;
  left: -1px;
  padding: 0 2px 0 0;
  position: relative;
  speak: none;
  top: 0;
  vertical-align: top;
}
body.admin-color-fresh.post-type-site-review .misc-pub-section[data-action]::before {
  color: #8c8f94;
}
.post-type-site-review .misc-pub-section[data-action="toggle-pinned"]::before {
  content: "\f537";
}
.post-type-site-review .misc-pub-section[data-action="toggle-verified"]::before {
  content: "\f12a";
}
.post-type-site-review .misc-pub-text {
  font-weight: 600;
}
.post-type-site-review .misc-pub-select {
  margin-top: 3px;
}
.post-type-site-review #side-sortables .misc-pub-select select {
  max-width: 150px;
}

.wp-admin .glsr-response {
  display: block;
  height: 6em;
  width: 100%;
  margin: 12px 0 0;
}
