#glsr-flyout {
  align-items: center;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  opacity: 1;
  position: fixed;
  right: 40px;
  row-gap: 10px;
  transition: opacity 0.2s ease-in-out;
  z-index: 99999;
}
#glsr-flyout:not(.is-open) {
  pointer-events: none;
}
@media (max-width: 959px) {
  #glsr-flyout {
    display: none;
  }
}
@media (min-width: 960px) {
  body[class*="post-type-site-review"].edit-php #wpbody-content,
  body[class*="site-review_page_"] #wpbody-content {
    padding-bottom: 115px; /* 65px + 50px */
  }
}
#glsr-flyout .glsr-flyout-mascot {
  align-items: center;
  display: flex;
  position: relative;
  pointer-events: auto;
}
#glsr-flyout .glsr-flyout-mascot::after {
  content: '';
  height: 60px;
  width: 60px;
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #212121, 0 3px 20px rgba(0,0,0,.2);
  transition: all 0.2s ease-in-out;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: #fff;
  z-index: -1;
}
#glsr-flyout .glsr-flyout-mascot:hover::after {
  box-shadow: 0 0 0 1px #212121, 0 3px 30px rgba(0,0,0,.25);
}
#glsr-flyout .glsr-flyout-mascot:focus {
  box-shadow: none;
}
#glsr-flyout .glsr-flyout-mascot svg {
  display: block;
  width: 60px;
}
#glsr-flyout .glsr-mascot__eyes {
  transition: transform 0.2s ease-in-out;
}
#glsr-flyout.is-open .glsr-mascot__eyes {
  transform: translateY(-2.5%);
}
#glsr-flyout .glsr-flyout-label {
  align-items: center;
  display: flex;
  height: auto !important;
  position: absolute;
  right: 100%;
  padding-right: 10px;
  transition: all 0.2s ease-out;
  white-space: nowrap;
}
#glsr-flyout .glsr-flyout-label > div {
  background-color: rgba(44 51 56/.9);
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  line-height: 1.4;
  padding: 6px 12px;
  position: relative;
}
#glsr-flyout .glsr-flyout-item:hover .glsr-flyout-label > div,
#glsr-flyout .glsr-flyout-mascot .glsr-flyout-label > div {
  background-color: rgba(44 51 56/1);
}
#glsr-flyout .glsr-flyout-mascot .glsr-flyout-label {
  opacity: 1;
  transform: scale(1);
  transform-origin: right;
}
#glsr-flyout.is-open .glsr-flyout-mascot .glsr-flyout-label {
  opacity: 0;
  transform: scale(0);
}
#glsr-flyout .glsr-flyout-items {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
#glsr-flyout .glsr-flyout-item {
  align-items: center;
  background-color: var(--wp-components-color-accent,var(--wp-admin-theme-color,#3858e9));
  border-radius: 50%;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  height: 40px;
  justify-content: center;
  opacity: 0;
  text-decoration: none;
  transform: scale(0);
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  visibility: hidden;
  width: 40px;
}
#glsr-flyout .glsr-flyout-item:hover {
  background-color: var(--wp-components-color-accent-darker-10, var(--wp-admin-theme-color-darker-10, #2145e6));
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.25);
}
#glsr-flyout .glsr-flyout-item.glsr-flyout-premium {
  background-color: #26A69A;
}
#glsr-flyout .glsr-flyout-item.glsr-flyout-premium:hover {
  background-color: #009688;
}
#glsr-flyout .glsr-flyout-item.glsr-flyout-premium i {
  align-items: center;
  color: #161e2e;
  display: flex;
  justify-content: center;
  position: relative;
}
#glsr-flyout .glsr-flyout-item.glsr-flyout-premium i::after {
  font-size: 20px;
  content: '\f155';
  position: absolute;
  color: #ffce0b;
  margin-top: 1px;
}
#glsr-flyout.is-open .glsr-flyout-item {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
#glsr-flyout .glsr-flyout-item i {
  color: #fff;
  font-size: 26px;
  height: 26px;
  width: 26px;
}
