[class*="post-type-site-review"] .metabox-holder .components-panel__header {
  padding: 0;
}

/* Metabox footer */
.glsr-metabox-footer {
  background-color: #f7f7f7;
  border-top: 1px solid #ccd0d4;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  box-sizing: border-box;
  font-size: 13px;
  line-height: 1.5;
  margin: 0 -12px -12px;
  padding: 2px 12px;
  width: calc(100% + 24px);
}
.glsr-metabox-footer p {
  margin: 6px 0;
}
.glsr-metabox-footer code {
  border-radius: 3px;
  font-size: 12px;
  margin: 0;
  padding: 4px;
}

/* Details Metabox */
#site-review-detailsdiv .inside {
  padding: 0;
  margin: 0;
}
.glsr-metabox-fields {
  container-name: fields-grid;
  container-type: inline-size;
  display: grid;
  grid-template-columns: auto 1fr;
}
.glsr-metabox-field {
  border-top: 1px solid rgba(0,0,0,.1);
  display: grid;
  gap: 6px;
  grid-column: span 2;
  &:first-child {
    border-top: none;
  }
}
.glsr-metabox-field .glsr-label {
  box-sizing: border-box;
  padding: 12px 12px 0;
}
.glsr-metabox-field .glsr-input {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 0 12px 12px;
}
.glsr-metabox-field .glsr-input input,
.glsr-metabox-field .glsr-input input > * {
  margin: 0;
}
.glsr-metabox-field .glsr-label label {
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.glsr-metabox-field .glsr-input img {
  border-radius: 3px;
}

@container fields-grid (min-width:480px) {
  .glsr-metabox-field {
    gap: 0;
    grid-template-columns: subgrid;
  }
  .glsr-metabox-field .glsr-label {
    background: #f9f9f9;
    border-right: 1px solid rgba(0,0,0,.1);
    max-width: 150px;
    min-width: 150px;
    padding: 6px 12px;
  }
  .glsr-metabox-field .glsr-label label {
    box-sizing: border-box;
    display: flex;
    line-height: 1.2;
    min-height: 30px;
    padding: 7px 0;
  }
  .glsr-metabox-field .glsr-input {
    padding: 6px 12px;
  }
  .glsr-metabox-field .glsr-input:has(> #site-reviews-form) {
    padding-bottom: 12px;
  }
  .glsr-metabox-field .glsr-toggle,
  .glsr-metabox-field .glsr-star-rating,
  .glsr-metabox-field .glsr-input:has(> :only-child) label {
    margin: auto 0;
  }
}
@container fields-grid (min-width:600px) {
  .glsr-metabox-field .glsr-label {
    max-width: 200px;
  }
}
@container fields-grid (min-width:720px) {
  .glsr-metabox-field .glsr-label {
    max-width: 250px;
  }
}
@container fields-grid (min-width:960px) {
  .glsr-metabox-field .glsr-label {
    max-width: none;
  }
}

@media screen and (max-width: 782px) {
  @container fields-grid (min-width:480px) {
    .glsr-metabox-field .glsr-label label {
      min-height: 40px;
    }
  }
}

/* Toggle Control */
.glsr-toggle {
  --size: 18px;
  height: var(--size);
  position: relative;
  width: calc(var(--size) * 2);
}
.glsr-toggle .glsr-toggle__track {
  background-color: #fff;
  border: 1px solid #1e1e1e;
  border-radius: var(--size);
  box-sizing: border-box;
  display: block;
  height: 100%;
  transition: background-color .2s ease;
  width: 100%;
}
.glsr-toggle .glsr-toggle__thumb {
  background-color: #1e1e1e;
  border-radius: var(--size);
  box-sizing: border-box;
  display: block;
  height: calc(var(--size) / 1.5);
  left: calc(var(--size) / 6);
  position: absolute;
  top: calc(var(--size) / 6);
  transition: transform .1s ease;
  width: calc(var(--size) / 1.5);
}
.glsr-toggle input {
  appearance: none;
  height: 100%;
  inset: 0;
  margin: 0;
  opacity: 0 !important;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.glsr-toggle input:checked ~ .glsr-toggle__track {
  background-color: var(--wp-admin-theme-color, #2271b1);
  border: calc(var(--size) / 2) solid transparent;
}
.glsr-toggle input:checked ~ .glsr-toggle__thumb {
  background-color: #fff;
  border-width: 0;
  transform: translateX(var(--size));
}
.glsr-toggle input:focus ~ .glsr-toggle__track {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3.5px var(--wp-admin-theme-color, #2271b1);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

/* Form Control */
.glsr-metabox-field > input,
.glsr-metabox-field textarea,
.glsr-metabox-field select {
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 30px;
  padding: 3px 8px;
  width: 100%;
}
.glsr-metabox-field select {
  padding-right: 20px;
}
.glsr-metabox-field input:disabled,
.glsr-metabox-field select:disabled,
.glsr-metabox-field textarea:disabled {
  background-color: #f0f0f1 !important;
  border-color: #8c8f94 !important;
  color: #2c3338 !important;
  cursor: default;
  opacity: 1;
}
.glsr-metabox-field select:focus {
  /* This fixes the focus color to match admin color theme because WP doesn't */
  border-color: var(--wp-admin-theme-color, #2271b1);
  color: var(--wp-admin-theme-color-darker-20, #0a4b78);
  box-shadow: 0 0 0 1px var(--wp-admin-theme-color, #2271b1);
}
.glsr-metabox-field input[type="number"] {
  appearance: textfield;
}

@media screen and (max-width: 782px) {
  .glsr-metabox-field .glsr-input {
    gap: 12px;
  }
  .glsr-metabox-field.glsr-field-choice .glsr-input label {
    font-size: 14px;
  }
  .glsr-metabox-field:not(.glsr-field-choice) input {
    font-size: 16px;
    min-height: 40px;
    padding: 3px 10px;
  }
  .glsr-metabox-field textarea {
    font-size: 16px;
    min-height: 40px;
    padding: 6px 10px;
  }
  .glsr-metabox-field select {
    font-size: 16px;
    line-height: 1.625;
    min-height: 40px;
    padding: 6px 24px 6px 10px;
  }
}

/* Other stuff */
.glsr-metabox-field .glsr-input-group {
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.glsr-metabox-field input[type="number"].small-text {
  padding: 0 6px;
  max-width: 100px;
}

.glsr-metabox-field .glsr-number-field {
    align-items: center;
    display: flex;
    gap: .5em;
}

.glsr-metabox-field .glsr-icon-select {
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px #8c8f94;
  display: flex;
  &:has(select:focus) {
    box-shadow: 0 0 0 1px inset var(--wp-admin-theme-color, #2271b1),
                0 0 0 1px var(--wp-admin-theme-color, #2271b1);
    color: var(--wp-admin-theme-color-darker-20);
  }
}
.glsr-metabox-field .glsr-icon-select i {
  flex-shrink: 0;
  width: 32px;
}
.glsr-metabox-field .glsr-icon-select select {
  border-bottom-left-radius: 0;
  border-left-width: 0;
  border-top-left-radius: 0;
  padding-inline-start: 0;
  &:focus {
    box-shadow: none;
  }
}

.glsr-metabox-field [data-star-rating] > select {
  clip-path: circle(1px at 0 0) !important;
  height: 1px !important;
  margin: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  top: 0 !important;
  visibility: visible !important;
  white-space: nowrap !important;
  width: 1px !important;
}
.glsr-metabox-field [data-star-rating] > select::before,
.glsr-metabox-field [data-star-rating] > select::after {
  display: none !important;
}
.glsr-metabox-field .glsr-star-rating:not([data-star-rating]) .glsr-star-rating--stars {
  display: none !important;
}
.glsr-metabox-field .glsr-star-rating--stars {
  align-items: center;
  color: #555d66;
  cursor: pointer;
  display: flex;
  float: left;
  position: relative;
  white-space: nowrap;
}
.glsr-metabox-field [data-star-rating] > select[disabled] + .glsr-star-rating--stars {
  color: #72777c;
  cursor: default;
}
.glsr-metabox-field .glsr-star-rating--stars > span {
  -webkit-font-smoothing: antialiased;
  font-family: dashicons;
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 1;
  text-align: center;
  transition: color .1s ease-in;
}
@media screen and (min-width: 783px) {
  .glsr-metabox-field .glsr-star-rating--stars > span {
    font-size: 24px;
  }
}
.glsr-metabox-field .glsr-star-rating--stars[class*=" s"] > span::before {
  content: "\f154";
}
.glsr-metabox-field .glsr-star-rating--stars[class*=" s"] > span.gl-active::before,
.glsr-metabox-field .glsr-star-rating--stars[class*=" s"] > span.gl-active.gl-selected::before {
  content: "\f155";
}

.glsr-metabox-field [data-star-rating] > select:focus + .glsr-star-rating--stars::before {
  border-radius: 3px;
  border: 1px solid var(--wp-admin-theme-color, #2271b1);
  box-shadow: 0 0 0 1px var(--wp-admin-theme-color, #2271b1);
  box-sizing: border-box;
  content: '';
  display: block;
  height: 40px;
  pointer-events: none;
  position: absolute;
  width: 100%;
}
@media screen and (min-width: 783px) {
  .glsr-metabox-field [data-star-rating] > select:focus + .glsr-star-rating--stars::before {
    height: 30px;
  }
}





/* Panel */
.glsr-metabox-fields[data-panel] .glsr-metabox-field {
  border-top: none;
}
.glsr-metabox-fields[data-panel] .glsr-metabox-field > div {
  padding-bottom: 0;
}
@container fields-grid (min-width:480px) {
  .glsr-metabox-fields[data-panel] .glsr-metabox-field > div {
    padding-top: 12px;
  }
  .glsr-metabox-fields[data-panel] + .glsr-metabox-fields:not([data-panel]) .glsr-metabox-field > div {
    padding: 12px;
  }
}
@media screen and (max-width: 782px) {
  @container fields-grid (min-width:480px) {
    .glsr-metabox-fields[data-panel] .glsr-metabox-field .glsr-label label {
      align-items: center;
      display: flex;
      line-height: 1;
      min-height: 40px;
    }
    .glsr-metabox-fields[data-panel] .glsr-metabox-field .glsr-input {
      justify-content: center;
    }
  }
}
@media screen and (min-width: 783px) {
  @container fields-grid (min-width:480px) {
    .glsr-metabox-fields[data-panel] .glsr-metabox-field .glsr-label label {
      align-items: center;
      display: flex;
      line-height: 1;
      min-height: 30px;
    }
    .glsr-metabox-fields[data-panel] .glsr-metabox-field .glsr-input {
      justify-content: center;
    }
  }
}
