#glsr-notice-catcher {
  display: none;
}
[class*="site-reviews-welcome"] .wrap > .notice:not(.glsr-notice, .settings-error, .notice-error, #message, #local-storage-notice, #lost-connection-notice),
[class*="post-type-site-review"] .wrap > .notice:not(.glsr-notice, .settings-error, .notice-error, #message, #local-storage-notice, #lost-connection-notice),
[class*="site-reviews-welcome"] .wrap > :is(.fs-notice, #setting-error-tgmpa, .wp-helpers-notice),
[class*="post-type-site-review"] .wrap > :is(.fs-notice, #setting-error-tgmpa, .wp-helpers-notice) {
  display: none !important;
}
[class*="post-type-site-review"] .notice {
  border-radius: 3px;
}

.glsr-notice.notice-error .dashicons-before::before {
  color: #d63638;
}
.glsr-notice.notice-warning .dashicons-before::before {
  color: #dba617;
}
.glsr-notice.notice-success .dashicons-before::before {
  color: #00a32a;
}

.glsr-notice.is-error .dashicons-before::before {
  color: #cc1818;
}
.glsr-notice.is-warning .dashicons-before::before {
  color: #f0b849;
}
.glsr-notice.is-success .dashicons-before::before {
  color: #4ab866;
}

.glsr-notice:not(.is-info, .is-success, .is-warning, .is-error, .notice-info, .notice-success, .notice-warning, .notice-error) {
  border-color: var(--wp-admin-theme-color-darker-10);
  border-left-color: var(--wp-admin-theme-color);
}
.glsr-notice-buttons {
  gap: 6px;
  display: flex;
  flex-wrap: wrap;
}
.glsr-notice-buttons .button {
  margin-bottom: 0;
}
.glsr-notice-buttons .button-link {
  padding: 0 6px;
}
.glsr-notice-buttons .button-link:active,
.glsr-notice-buttons .button-link:focus,
.glsr-notice-buttons .button-link:hover {
  background-color: transparent;
}
.glsr-notice-footer {
  background: #fff;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-left-width: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  padding: 1px 12px;
  margin: 10px 0;
}
.glsr-notice-footer .button-link {
  line-height: inherit;
  min-height: auto;
}
#wpfooter .glsr-notice-footer p {
  margin: .5em 0;
  padding: 2px;
}

.glsr-notice-banner {
  background-color: var(--wp-admin-theme-color);
  border-width: 0;
  border-radius: 0;
  box-shadow: inset 0 -1px var(--wp-admin-theme-color-darker-20);
  color: #fff;
  display: none;
  font-size: 15px;
  line-height: 1.4;
  padding: 12px 60px 16px 20px;
  position: relative;
}
@media screen and (min-width: 783px) {
  .glsr-notice-banner {
    padding-top: 10px;
    padding-bottom: 12px;
  }
}
@media screen and (min-width: 1440px) {
  .glsr-notice-banner {
    text-align: center;
  }
}
.glsr-notice-banner a {
  color: #fff;
}
.glsr-notice-banner a:hover {
  text-decoration: none;
}
.glsr-notice-banner .notice-dismiss::before {
  color: #fff;
  text-shadow: 0px -1px 0px #4E426C;
  content: "\f335";
  font: normal 24px/24px dashicons;
  height: 24px;
  width: 24px;
}
@media screen and (min-width: 783px) {
  .glsr-notice-banner .notice-dismiss {
    right: 10px;
  }
}

.glsr-table td .glsr-notice-inline,
.glsr-responsive-table td .glsr-notice-inline {
  display: block;
  margin: 0.5em 0 0 !important;
  padding-block: 2px;
}

.glsr-card .components-notice,
.glsr-notice-inline.components-notice {
  margin: 0;
}
.postbox .glsr-notice-inline.components-notice {
  margin: 12px 0;
}
.glsr-card .components-notice.is-info,
.glsr-notice-inline.components-notice.is-info {
  background-color: #E5F5FA;
}
.glsr-card .components-notice.is-error,
.glsr-notice-inline.components-notice.is-error {
  background-color: #FBEAEA;
}
.glsr-card .components-notice.is-success,
.glsr-notice-inline.components-notice.is-success {
  background-color: #ECF7ED;
}
.glsr-card .components-notice.is-warning,
.glsr-notice-inline.components-notice.is-warning {
  background-color: #FFF8E5;
}
.glsr-card .glsr-notice-inline .components-notice__content,
.glsr-notice-inline .components-notice__content {
  margin: 4px 0;
}

@media (max-width: 782px) { /* 959px */
  .glsr-notice-popup {
    display: none !important;
  }
}

body:has(.glsr-notice-popup) .glsr-flyout-mascot .glsr-flyout-label {
  display: none !important;
}

body:has(#glsr-flyout) .glsr-notice-popup {
  --angle: 75deg;
  --bg-color: #fff;
  --border-color: #c3c4c7; /* var(--wp-admin-theme-color-darker-10); /* #2c3338 */
  --border-radius: 7px;
  --border-width: 1px;
  --heading-color: #2c3338;
  --pos: calc(100% - 50px); /* (0%:left 100%:right) */
  --size: 1em;
  background: none;
  border-width: 0;
  bottom: 120px;
  box-shadow: none;
  filter: drop-shadow(0 0 8px rgba(0,0,0,.2));
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  opacity: 1;
  padding: 0;
  position: fixed;
  right: 20px;
  transform-origin: calc(100% - 50px) calc(100% + 20px);
  transform: scale(1);
  transition-delay: 0.2s;
  transition-duration: 0.2s;
  transition-property: transform, opacity;
  transition-timing-function: ease-in-out;
  width: 40ch;
  z-index: 99999;
}

body:has(#glsr-flyout) .glsr-notice-popup.is-closing,
body:has(#glsr-flyout.is-open) .glsr-notice-popup {
  opacity: 0;
  transform: scale(0);
  transition-delay: 0s;
}

body:has(#glsr-flyout) .glsr-notice-popup > div {
  background: var(--border-color);
  border-image: conic-gradient(var(--border-color) 0 0) fill 0/ var(--border-radius) max(0%,100% - var(--pos) - var(--size)*tan(var(--angle)/2)) 0 max(0%,var(--pos) - var(--size)*tan(var(--angle)/2))/0 0 var(--size) 0;
  border-radius: var(--border-radius) var(--border-radius) min(var(--border-radius),100% - var(--pos) - var(--size)*tan(var(--angle)/2)) min(var(--border-radius),var(--pos) - var(--size)*tan(var(--angle)/2))/var(--border-radius);
  clip-path: polygon(0 100%,0 0,100% 0,100% 100%,
    min(100%,var(--pos) + var(--size)*tan(var(--angle)/2)) 100%,
    var(--pos) calc(100% + var(--size)),
    max(0%  ,var(--pos) - var(--size)*tan(var(--angle)/2)) 100%);
  display: inline-block;
  &::before {
    background: var(--bg-color) content-box;
    border-image: conic-gradient(var(--bg-color) 0 0) fill 0/ var(--border-radius) max(var(--border-width),100% - var(--pos) - var(--size)*tan(var(--angle)/2)) 0 max(var(--border-width),var(--pos) - var(--size)*tan(var(--angle)/2))/0 0 var(--size) 0;
    border-radius: inherit;
    clip-path: polygon(0 100%,0 0,100% 0,100% 100%,
      min(100% - var(--border-width),var(--pos) + var(--size)*tan(var(--angle)/2) - var(--border-width)*tan(45deg - var(--angle)/4)) calc(100% - var(--border-width)),
      var(--pos) calc(100% + var(--size) - var(--border-width)/sin(var(--angle)/2)),
      max(var(--border-width),var(--pos) - var(--size)*tan(var(--angle)/2) + var(--border-width)*tan(45deg - var(--angle)/4)) calc(100% - var(--border-width)));
    content: "";
    inset: 0;
    padding: var(--border-width);
    position: absolute;
    z-index: -1;
  }
}

.glsr-notice-popup h3 {
  align-items: center;
  background-color: var(--heading-color);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  color: #fff;
  display: flex;
  font-size: 14px;
  line-height: 1;
  margin: 0;
  padding: 1em 1em 1em calc(1.5em + 26px);
  position: relative;
}
.glsr-notice-popup h3 svg {
  left: 12px;
  position: absolute;
  width: 26px;
}
.glsr-notice-popup p {
  margin: 1em 0;
  padding: 0 1em;
}
.glsr-notice-popup .glsr-notice-buttons {
  justify-content: end;
}
