button.glsr-button[data-ajax-import] {
  flex-grow: 0;
  justify-content: center;
  transition: background-color .2s, border-radius .2s, flex-grow .2s, min-height .2s;
}
@keyframes glsr-progress-animation {
  0% {
    background-position: -100px 0;
  }
}
.wp-core-ui button.glsr-progress {
  align-items: center;
  animation: glsr-progress-animation 2.5s linear infinite;
  background-color: transparent;
  background-image: linear-gradient(-45deg,#fafafa 33%,#e0e0e0 0,#e0e0e0 70%,#fafafa 0);
  background-size: 50px 100%;
  border-radius: 24px;
  border-width: 0;
  box-shadow: inset 0 0 0 1px #8f98a1,
              inset 0 1px 2px rgba(0,0,0,.1);
  color: #50575e;
  display: flex;
  flex: 1 0 fit-content;
  height: 24px;
  justify-content: center;
  min-height: 24px !important;
  overflow: hidden;
  pointer-events: none !important;
  transition: background-color .2s, border-radius .2s, flex-grow .2s, min-height .2s;
  width: 100%;
}
@media screen and (max-width: 782px) {
  .wp-core-ui button.glsr-progress {
    min-height: 30px !important;
  }
}
button.glsr-progress .glsr-progress__bar {
  background-color: rgba(var(--wp-admin-theme-color--rgb, 0,124,186), .8);
  border-radius: 24px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  display: block;
  height: 100%;
  left: 0;
  max-width: 0%;
  overflow: hidden;
  position: absolute;
  transition: max-width 0.4s;
  z-index: 10;
  &::after {
    align-items: center;
    animation: components-animate__loading 1.6s ease-in-out infinite;
    color: #fff;
    content: attr(data-text);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    text-shadow: 0 1px 2px rgba(0,0,0,.2);
    width: inherit;
  }
}
button.glsr-progress .glsr-progress__bar + .glsr-progress__bar {
  background-color: var(--wp-admin-theme-color-darker-20, #005a87);
  z-index: 20;
}


button.glsr-progress .glsr-progress__percent {
  animation: components-animate__loading 1.6s ease-in-out infinite;
}
/*
div.glsr-progress {
  background-color: #dcdcde;
  border-radius: 24px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex: 1 0 300px;
  height: 24px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
div.glsr-progress__bar {
  background-color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
  border-radius: 24px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  display: block;
  height: 100%;
  left: 0;
  max-width: 0%;
  overflow: hidden;
  position: absolute;
  transition: min-width 0.4s ease-in-out;
  z-index: 10;
  &::after {
    align-items: center;
    color: #fff;
    content: attr(data-text);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    text-shadow: 0 1px 2px rgba(0,0,0,.2);
    width: inherit;
  }
}
div.glsr-progress__percent {
  align-items: center;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  font-weight: 400;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 9;
}
*/
