/*var(--wp-components-color-accent,var(--wp-admin-theme-color,#3858e9));*/

.glsr-search-box {
  margin: 1em 0;
  max-width: 800px;
  position: relative;
}
.glsr-search-box * {
  box-sizing: border-box;
}
.glsr-search-box.is-active .spinner {
  visibility: visible;
}
.glsr-search-box.is-active .glsr-search-input::-webkit-search-cancel-button {
  display: none !important;
}
.glsr-search-box .glsr-remove-button {
  position: absolute;
  left: -4px;
  width: 20px;
  height: 20px;
  border: none;
  margin: 0;
  padding: 0;
  background: 0 0;
  cursor: pointer;
  text-indent: 0;
}
.glsr-search-box .glsr-remove-icon::before {
  margin-left: 0px;
  border-radius: 50%;
  color: var(--wp-admin-theme-color);
  line-height: 1.28;
  background: 0 0;
  content: "\f153";
  display: block;
  font: 400 16px/20px dashicons;
  speak: none;
  height: 20px;
  text-align: center;
  width: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glsr-search-box .glsr-remove-button:hover .glsr-remove-icon::before,
.glsr-search-box .glsr-remove-button:focus .glsr-remove-icon::before {
  color: #1e1e1e;
}

.glsr-search-box .glsr-search-input {
  position: relative;
  width: 100%;
  font-weight: 300;
  line-height: 1.5;
  padding: 3px 5px;
  margin: 0;
  z-index: 2;
  &:focus {
    z-index: 20;
  }
}
.glsr-search-box .glsr-search-box-wrap {
  align-items: center;
  display: flex;
  position: relative;
}
.glsr-search-box .glsr-search-box-wrap .glsr-spinner {
  top: auto;
  right: 6px;
}
.glsr-search-box .description {
  display: block;
}
.glsr-search-box .glsr-selected-entries {}
.glsr-search-box .glsr-multibox-entry {
  color: #444;
  display: block;
  margin-left: 20px;
}

.glsr-search-box .glsr-search-results {
  position: absolute;
  top: calc(100% - 4px);
  padding-top: 4px;
  left: 0;
  width: 100%;
  max-height: 315px;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  border: 1px solid #7e8993;
  border-top: none;
  box-shadow: 0 1px 1px rgba(0,0,0,0.04);
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 0 0 4px 4px;
  z-index: 3;
  &:not(.is-active) {
    display: none;
  }
  &::before {
    display: block;
    background: #fff;
    border-left: 1px solid #7e8993;
    border-right: 1px solid #7e8993;
    box-sizing: border-box;
    content: "";
    height: 4px;
    position: absolute;
    top: 0;
    left: -1px;
    right: -1px;
  }
}
.glsr-search-box .glsr-search-results > div,
.glsr-search-box .glsr-search-results > span {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
  margin-top: -1px;
  overflow: hidden;
}
.glsr-search-box .glsr-search-results > div {
  background-color: #f6fbfd;
}
.glsr-search-box .glsr-search-results > span:hover,
.glsr-search-box .glsr-search-results > span:active,
.glsr-search-box .glsr-search-results > span:focus {
  color: #fff;
  background-color: var(--glsr-theme-color);
  cursor: pointer;
  outline: none;
}

.site-review_page_settings .glsr-search-box .glsr-search-input {
  font-size: 16px;
  height: 32px;
}

.glsr-strings-form .glsr-search-box .glsr-search-input {
  font-size: 1.2em;
}
.glsr-strings-form .glsr-search-results > span::after {
  align-items: center;
  background: rgba(0,0,0,.07);
  border-radius: 2px;
  content: attr(data-domain);
  display: inline-flex;
  flex: 0;
  font-family: Consolas,Monaco,monospace;
  font-size: 11px;
  line-height: 1.2;
  padding: 4px 6px;
}
.glsr-strings-form .glsr-search-results > span > span  {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
