[data-tippy-root] {
  --arrow-size: 16px;
  --color: #2c3338;
  --link-color: #72aee6;
  --link-color-hover: #4f94d4;
}

.glsr-tooltip {
    color: #646970;
    cursor: help;
}

body[class*="type-site-review"] [data-tippy-root] {
  max-width: calc(100vw - 10px);
}

body[class*="type-site-review"] .tippy-box {
  background-color: var(--color);
  border-radius: 4px;
  color: white;
  font-size: 14px;
  line-height: 1.4;
  outline: 0;
  position: relative;
  transition-property: transform, visibility, opacity;
}
body[class*="type-site-review"] .tippy-box a {
  color: var(--link-color);
}
body[class*="type-site-review"] .tippy-box a:hover {
  color: var(--link-color-hover);
}
body[class*="type-site-review"] .tippy-box code {
    background-color: rgba(255,255,255,.25);
    display: inline-block;
    padding: 0px 3px;
    border-radius: 2px;
}

body[class*="type-site-review"] .tippy-box[data-animation='fade'][data-state='hidden'] {
  opacity: 0;
}
body[class*="type-site-review"] .tippy-box[data-animation='scale'][data-placement^='top'] {
  transform-origin: bottom;
}
body[class*="type-site-review"] .tippy-box[data-animation='scale'][data-placement='top-start'] {
  transform-origin: left bottom;
}
body[class*="type-site-review"] .tippy-box[data-animation='scale'][data-placement^='right'] {
  transform-origin: left;
}
body[class*="type-site-review"] .tippy-box[data-animation='scale'][data-placement^='bottom'] {
  transform-origin: top;
}
body[class*="type-site-review"] .tippy-box[data-animation='scale'][data-placement^='left'] {
  transform-origin: right;
}
body[class*="type-site-review"] .tippy-box[data-animation='scale'][data-state='hidden'] {
  transform: scale(0.5);
  opacity: 0;
}

body[class*="type-site-review"] .tippy-box[data-placement^='bottom'] > .tippy-arrow {
  top: 0;
}
body[class*="type-site-review"] .tippy-box[data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: initial;
  border-width: 0 8px 8px;
  left: 0;
  top: -7px;
  transform-origin: center bottom;
}
body[class*="type-site-review"] .tippy-box[data-placement^='top'] > .tippy-arrow {
  bottom: 0;
}
body[class*="type-site-review"] .tippy-box[data-placement^='top'] > .tippy-arrow::before {
  border-top-color: initial;
  border-width: 8px 8px 0;
  bottom: -7px;
  left: 0;
  transform-origin: center top;
}
body[class*="type-site-review"] .tippy-box[data-placement^='left'] > .tippy-arrow {
  right: 0;
}
body[class*="type-site-review"] .tippy-box[data-placement^='left'] > .tippy-arrow::before {
  border-left-color: initial;
  border-width: 8px 0 8px 8px;
  right: -7px;
  transform-origin: center left;
}
body[class*="type-site-review"] .tippy-box[data-placement^='right'] > .tippy-arrow {
    left: 0;
}
body[class*="type-site-review"] .tippy-box[data-placement^='right'] > .tippy-arrow::before {
  border-right-color: initial;
  border-width: 8px 8px 8px 0;
  left: -7px;
  transform-origin: center right;
}

body[class*="type-site-review"] .tippy-box[data-inertia][data-state='visible'] {
  transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}

body[class*="type-site-review"] .tippy-arrow {
  color: var(--color);
  height: var(--arrow-size);
  width: var(--arrow-size);
}
body[class*="type-site-review"] .tippy-arrow::before {
  border-color: transparent;
  border-style: solid;
  content: '';
  position: absolute;
}

body[class*="type-site-review"] .tippy-content {
  padding: 8px 10px;
  position: relative;
  z-index: 1;
  max-height: 320px;
  overflow: auto;
}
body[class*="type-site-review"] .tippy-content ul {
  list-style: square;
}
body[class*="type-site-review"] .tippy-content ul li {
  margin-bottom: 3px;
}
body[class*="type-site-review"] .tippy-content ol,
body[class*="type-site-review"] .tippy-content ul {
  margin: 0.5em 0.5em 0.5em 1.5em;
}
body[class*="type-site-review"] .tippy-box pre[class*=language-] {
  margin: 0;
  padding: 0;
  background-color: transparent;
}
body[class*="type-site-review"] .tippy-box pre[class*=language-] code {
  background-color: transparent;
}
