.wp-block-site-reviews-form {
    display: block;
}

.has-text-align-left .glsr:not([data-theme]) {
    .glsr-field:not(.glsr-layout-inline) .glsr-field-subgroup > *,
    .glsr-layout-inline .glsr-field-subgroup,
    .glsr-range-options input:checked + label,
    .glsr-range-options:not(:has(input:checked))::after,
    .glsr-star-rating {
        display: flex;
        justify-content: left;
    }
}
.has-text-align-center .glsr:not([data-theme]) {
    .glsr-field:not(.glsr-layout-inline) .glsr-field-subgroup > *,
    .glsr-layout-inline .glsr-field-subgroup,
    .glsr-range-options input:checked + label,
    .glsr-range-options:not(:has(input:checked))::after,
    .glsr-star-rating {
        display: flex;
        justify-content: center;
    }
}
.has-text-align-right .glsr:not([data-theme]) {
    .glsr-field:not(.glsr-layout-inline) .glsr-field-subgroup > *,
    .glsr-layout-inline .glsr-field-subgroup,
    .glsr-range-options input:checked + label,
    .glsr-range-options:not(:has(input:checked))::after,
    .glsr-star-rating {
        display: flex;
        justify-content: right;
    }
}

.items-justified-left .glsr:not([data-theme]) {
    .wp-block-buttons {
        justify-content: left;
    }
}
.items-justified-center .glsr:not([data-theme]) {
    .wp-block-buttons {
        justify-content: center;
    }
}
.items-justified-right .glsr:not([data-theme]) {
    .wp-block-buttons {
        justify-content: right;
    }
}
