/*Field Labels*/
:--namespace form.glsr-form label.glsr-label:not(.glsr-label-toggle) {
    color:  var(--glsr-gray-dark);
    display: block;
    float: none;
    font-family: var(--glsr-form-font-family-sans);
    font-size: var(--glsr-form-font-size-small);
    font-weight: 500;
    hyphens: none;
    letter-spacing: 1px;
    line-height: var(--glsr-form-line-height);
    margin-bottom: calc(var(--glsr-base-font-size) * .25);
    text-transform: uppercase;
}
