@import "../default/variables";

:root {
    --glsr-white                : #ffffff;
    --glsr-gray-light           : #f7f7f7;
    --glsr-gray                 : #d1d1d1;
    --glsr-gray-dark            : #686868;
    --glsr-black                : #1a1a1a;
    --glsr-blue                 : #007acc;
    --glsr-green                : #057a55; /*green-600*/
    --glsr-red                  : #e02424; /*red-600*/
    --glsr-yellow               : #faca15; /*yellow-300*/

    --glsr-form-font-family-sans     : Montserrat, "Helvetica Neue", sans-serif;
}
