:root {
    --glsr-white                : #ffffff;
    --glsr-gray-light           : #f7f7f7;
    --glsr-gray                 : #d1d1d1;
    --glsr-gray-dark            : #686868;
    --glsr-black                : #1a1a1a;
    --glsr-blue                 : #007acc;
    --glsr-green                : #057a55; /*green-600*/
    --glsr-red                  : #e02424; /*red-600*/
    --glsr-yellow               : #faca15; /*yellow-300*/

    --glsr-base-font-size       : 16px;
    --glsr-border-radius        : calc(var(--glsr-font-size) * .15);
    --glsr-box-shadow           : 0 0 0 3px rgba(var(--glsr-gray-dark), .15);
    --glsr-font-family-sans     : Montserrat, "Helvetica Neue", sans-serif;
    --glsr-font-family-serif    : Merriweather, Georgia, serif;
    --glsr-font-size-small      : 0.8125rem;
    --glsr-font-size            : 1rem;
    --glsr-font-size-large      : 1.1875rem;
    --glsr-line-height          : 1.5;
    --glsr-toggle-bg            : var(--glsr-gray);
    --glsr-toggle-size          : 1.25rem;

    --glsr-star-empty           : none;
    --glsr-star-full            : none;
    --glsr-star-half            : none;
    --glsr-star-size-form       : calc(var(--glsr-font-size) * 2);
    --glsr-star-size-review     : calc(var(--glsr-font-size) * 1.5);
    --glsr-star-size-summary    : calc(var(--glsr-font-size) * 1.5);

    --glsr-summary-bar-opacity  : 0.1;
    --glsr-summary-max-width    : 400px;
    --glsr-summary-spacing      : 10px;

    --glsr-form-bg-color        : var(--glsr-white);
    --glsr-form-border-color    : var(--glsr-gray);
    --glsr-form-border-radius   : var(--glsr-border-radius);
    --glsr-form-border-width    : 1px;
    --glsr-form-font-size-small : var(--glsr-font-size-small);
    --glsr-form-font-size       : var(--glsr-font-size);
    --glsr-form-line-height     : 1.75;
    --glsr-form-pb              : calc(var(--glsr-form-font-size) * .5);
    --glsr-form-pl              : calc(var(--glsr-form-font-size) * .75);
    --glsr-form-pr              : calc(var(--glsr-form-font-size) * .75);
    --glsr-form-pt              : calc(var(--glsr-form-font-size) * .5);
}
