@import "../../public/default/variables";

:root {
    --glsr-blue                 : #21759b; /*blue-600*/
    --glsr-red                  : #cd2653; /*red-600*/

    --glsr-base-font-size       : 18px;
    --glsr-border-radius        : 0;
    --glsr-box-shadow           : 0 0 0 0.2rem rgba(var(--glsr-gray-dark), .15);
    --glsr-font-family-sans     : "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
    --glsr-font-family-serif    : NonBreakingSpaceOverride, "Hoefler Text", Garamond, "Times New Roman", serif;

    --glsr-toggle-size          : 1.25rem;

    --glsr-form-border-color    : var(--glsr-gray-light);
}
