:root .glsr-button {
    border:none;
}
:--namespace button.glsr-button {
    white-space: nowrap;
    display: flex;
    align-items: center;
}
:--namespace button.glsr-button .glsr-button-loading {
    display: none;
}
:--namespace button.glsr-button[aria-busy="true"] .glsr-button-loading {
    display: inline;
    position: relative;
}
:--namespace button.glsr-button[aria-busy="true"] .glsr-button-text {
    display: none;
}
:--namespace button.glsr-button[aria-busy="true"]::after {
    content: attr(data-loading) !important;
}
:--namespace button.glsr-button .glsr-button-loading::before,
:--namespace button.glsr-button .glsr-button-loading::after {
    animation: glsr-spin 0.5s infinite linear;
    border-radius: 100%;
    border: 0.2em solid currentColor;
    box-sizing: border-box;
    content: '';
    display: inline-block;
    height: 1em;
    margin: -0.5em auto 0;
    position: absolute;
    top: 50%;
    width: 1em;
}
:--namespace button.glsr-button .glsr-button-loading::before {
    border-top-color: transparent;
    opacity: 0.5;
}
:--namespace button.glsr-button .glsr-button-loading::after {
    border-color: transparent;
    border-top-color: currentColor;
}
:--namespace.glsr-ltr button.glsr-button[aria-busy="true"] .glsr-button-loading {
    margin-right: 1.65em;
}
:--namespace.glsr-ltr button.glsr-button .glsr-button-loading::before,
:--namespace.glsr-ltr button.glsr-button .glsr-button-loading::after {
    left: 0;
}
:--namespace.glsr-rtl button.glsr-button[aria-busy="true"] .glsr-button-loading {
    margin-left: 1.65em;
}
:--namespace.glsr-rtl button.glsr-button .glsr-button-loading::before,
:--namespace.glsr-rtl button.glsr-button .glsr-button-loading::after {
    right: 0;
}
