@import "../minimal/field-toggle";

:--namespace form.glsr-form .glsr-toggle label {
    font-size: var(--gl-text-size);
    line-height: var(--gl-leading);
}
:--namespace form.glsr-form .glsr-toggle input[type=checkbox]:focus {
    outline: none;
}
:--namespace form.glsr-form .glsr-toggle input[type=checkbox]:focus + .glsr-toggle-track {
    outline: 1px solid transparent;
    box-shadow: 0 0 0 3px Highlight;
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    box-shadow: 0 0 0 3px -webkit-focus-ring-color;
}
