/*Field Labels*/
:--namespace form.glsr-form label.glsr-label {
    display: block;
    float: none;
    font-size: var(--glsr-form-font-size-small);
    font-weight: var(--glsr-form-label-font-weight);
    hyphens: none;
    line-height: var(--glsr-form-line-height);
    margin-bottom: calc(var(--glsr-base-font-size) * .25);
    text-transform:  var(--glsr-form-label-text-transform);
}
