@import "../minimal/field-choice";

:--namespace form.glsr-form input[type=checkbox].glsr-input-checkbox,
:--namespace form.glsr-form input[type=radio].glsr-input-radio {
    appearance: none;
    background-color: var(--gl-white);
    background-origin: border-box;
    border: 1px solid var(--gl-gray-400);
    print-color-adjust: exact;
    color: currentColor;
    &:checked,
    &:checked {
        background-color: currentColor;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-color: transparent;
    }
    &:focus,
    &:focus {
        outline: 1px solid transparent;
        box-shadow: 0 0 0 3px -moz-mac-focusring;
        box-shadow: 0 0 0 3px -webkit-focus-ring-color;
        box-shadow: 0 0 0 3px Highlight;
    }
    &:checked:focus,
    &:checked:focus {
        border-color: transparent;
    }
}
:--namespace form.glsr-form input[type=checkbox].glsr-input-checkbox {
    border-radius: var(--gl-rounded);
    &:checked {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
    }
}
:--namespace form.glsr-form input[type=radio].glsr-input-radio {
    border-radius: 100%;
    &:checked {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
    }
}
@media not print {
    :--namespace form.glsr-form input[type=checkbox].glsr-input-checkbox::-ms-check,
    :--namespace form.glsr-form input[type=radio].glsr-input-radio::-ms-check {
        background: inherit;
        border-color: inherit;
        border-radius: inherit;
        border-width: 1px;
        color: transparent;
    }
}
