@import "../minimal/field-input";

:--namespace form.glsr-form input.glsr-input,
:--namespace form.glsr-form select.glsr-select,
:--namespace form.glsr-form textarea.glsr-textarea {
    appearance: none;
    background-clip: padding-box;
    background-color: var(--gl-input-bg);
    border-radius: var(--gl-rounded);
    border-width: var(--gl-input-border-w);
    border-style: solid;
    border-color: var(--gl-input-border-color);
    color: inherit;
    font-family: inherit;
    font-size: var(--gl-text-size);
    line-height: var(--gl-leading);
    padding-top: var(--gl-py);
    padding-right: var(--gl-px);
    padding-bottom: var(--gl-py);
    padding-left: var(--gl-px);
    transition: var(--gl-input-transition);
    &:focus {
        background-color: var(--gl-input-bg);
        outline: 1px solid transparent;
        box-shadow: 0 0 0 3px -moz-mac-focusring;
        box-shadow: 0 0 0 3px -webkit-focus-ring-color;
        box-shadow: 0 0 0 3px Highlight;
    }
}
:--namespace form.glsr-form select.glsr-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none'%3e%3cpath d='M7 7l3-3 3 3m0 6l-3 3-3-3' stroke='%239fa6b2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
    background-position: right 0.5em center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    print-color-adjust: exact;
    height: auto;
    padding-right: 3em;
    &::-ms-expand {
        border: none;
        color: var(--gl-gray-400);
    }
}
@media not print {
    :--namespace form.glsr-form select.glsr-select::-ms-expand {
        display: none;
    }
}
@media print and (-ms-high-contrast: active), print and (-ms-high-contrast: none) {
    :--namespace form.glsr-form select.glsr-select {
        padding-right: var(--gl-px);
    }
}
