@keyframes glsr-fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes glsr-fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}
@keyframes glsr-loader {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}
@keyframes glsr-slideIn {
  from { transform: translateY(-10%); }
    to { transform: translateY(0); }
}
@keyframes glsr-slideOut {
    from { transform: translateY(0); }
    to { transform: translateY(10%); }
}
@keyframes glsr-zoomIn {
  from { transform: scale(.95); }
    to { transform: scale(1); }
}
@keyframes glsr-zoomOut {
  from { transform: scale(1); }
    to { transform: scale(.95); }
}
