:--namespace .glsr-pagination .glsr-loader {
    align-items: center;
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    width: 100%;
}
:--namespace.glsr-hide .glsr-pagination .glsr-loader,
:--namespace .glsr-hide .glsr-pagination .glsr-loader {
    display: flex;
}
:--namespace .glsr-spinner {
    animation: glsr-spin 0.5s infinite linear;
    border-radius: 50%;
    height: 24px;
    position: relative;
    width: 24px;
}
:--namespace .glsr-spinner::before,
:--namespace .glsr-spinner::after {
    background: var(--glsr-black);
    border-radius: 50%;
    content: '';
    height: 8px;
    position: absolute;
    width: 8px;
}
:--namespace .glsr-spinner::before {
    left: 0;
    top: 0;
}
:--namespace .glsr-spinner::after {
    bottom: 0;
    right: 0;
}
