:--namespace .glsr-summary {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-family: var(--glsr-summary-font-family);
    font-size: var(--glsr-summary-font-size);
    line-height:var(--glsr-summary-line-height);
    max-width: var(--glsr-summary-max-width);
    position: relative;
    width: 100%;
}
:--namespace .glsr-summary > div:first-of-type {
    margin-top: 0;
}
:--namespace .glsr-bar {
    display: table-row;
    white-space: nowrap;
}
:--namespace .glsr-bar > span {
    display: table-cell;
    vertical-align: middle;
}
:--namespace .glsr-bar-background {
    position: relative;
    width: 100%;
}
:--namespace .glsr-bar-background::before {
    background-color: currentColor;
    content: '';
    display: block;
    height: var(--glsr-summary-font-size);
    margin-top: calc(calc(var(--glsr-summary-font-size) / 2) * -1);
    opacity: var(--glsr-summary-bar-opacity);
    position: absolute;
    top: 50%;
    width: 100%;
}
:--namespace .glsr-bar-background-percent {
    background-color: var(--glsr-yellow);
    display: block;
    height: var(--glsr-summary-font-size);
    position: relative;
}
:--namespace .glsr-bar-label {
    line-height: 1;
    padding-bottom: calc(var(--glsr-summary-font-size) * .25);
    padding-left: 0;
    padding-right: calc(var(--glsr-summary-font-size) / 2);
    padding-top: calc(var(--glsr-summary-font-size) * .25);
}
:--namespace.glsr-rtl.glsr-bar-label {
    padding-right: 0;
    padding-left: calc(var(--glsr-summary-font-size) / 2);
}
:--namespace .glsr-bar-percent {
    line-height: 1;
    padding-left: calc(var(--glsr-summary-font-size) / 2);
    padding-right: 0;
    text-align: right;
}
:--namespace.glsr-rtl.glsr-bar-percent {
    padding-left: 0;
    padding-right: calc(var(--glsr-summary-font-size) / 2);
}
:--namespace .glsr-summary-percentages {
    font-size: var(--glsr-summary-font-size);
    line-height:var(--glsr-summary-line-height);
    margin-top: calc(var(--glsr-summary-font-size) * .5);
    max-width: var(--glsr-summary-max-width);
    position: relative;
    width: 100%;
}
:--namespace .glsr-summary-rating {
    display: inline-block;
    font-size: var(--glsr-summary-star-size);
    font-weight: 700;
    line-height: 1;
    margin-left: 0;
    margin-right: calc(var(--glsr-summary-font-size) / 2);
    vertical-align: top;
}
:--namespace.glsr-rtl.glsr-summary-rating {
    margin-left: calc(var(--glsr-summary-font-size) / 2);
    margin-right: 0;
}
:--namespace .glsr-summary-stars {
    display: inline-block;
    margin-left: 0;
    margin-right: calc(var(--glsr-summary-font-size) / 2);
}
:--namespace.glsr-rtl.glsr-summary-stars {
    margin-left: calc(var(--glsr-summary-font-size) / 2);
    margin-right: 0;
}
:--namespace .glsr-summary-stars .glsr-star {
    background-size: var(--glsr-summary-star-size);
    height: var(--glsr-summary-star-size);
    width: var(--glsr-summary-star-size);
}
:--namespace.glsr-rtl.glsr-summary-stars .glsr-star {
    transform: scaleX(-1);
}
:--namespace .glsr-summary-text {
    margin-top: calc(var(--glsr-summary-font-size) * .5);
    width: 100%;
}
