:--namespace form.glsr-form {
    display: grid;
    font-size: var(--glsr-base-font-size);
    grid-template-columns: repeat(1, minmax(0, 1fr));
    line-height: var(--glsr-form-line-height);
    row-gap: var(--glsr-form-font-size);
}
:--namespace form.glsr-hide-form {
    max-height: 0 !important;
    opacity: 0;
    overflow: hidden;
}
:--namespace form.glsr-form .glsr-field {
    position: relative;
}
:--namespace form.glsr-form .glsr-field ul {
    list-style-type: none;
}
:--namespace form.glsr-form .glsr-field-error {
    color: var(--glsr-red);
    font-family:  var(--glsr-font-family-sans);
    font-size: var(--glsr-form-font-size-small);
    line-height: var(--glsr-form-line-height);
}
:--namespace form.glsr-form .glsr-form-message {
    display: none;
}
:--namespace form.glsr-form .glsr-recaptcha-holder {
    margin-top: var(--glsr-font-size);
}
:--namespace form.glsr-form .glsr-has-errors {
    color: var(--glsr-red);
    display: block;
}
:--namespace form.glsr-form .glsr-has-success {
    color: var(--glsr-green);
    display: block;
}

