:--namespace form.glsr-form {
    display: grid;
    font-size: var(--glsr-base-font-size);
    grid-template-columns: repeat(1, minmax(0, 1fr));
    line-height: 1.5;
    row-gap: var(--glsr-font-size);
}
:--namespace form.glsr-hide-form {
    max-height: 0 !important;
    opacity: 0;
    overflow: hidden;
}
:--namespace form.glsr-form .glsr-field {
    position: relative;
}
:--namespace form.glsr-form .glsr-field ul {
    list-style-type: none;
}
:--namespace form.glsr-form .glsr-field-error {
    color: var(--glsr-red);
    font-size: var(--glsr-font-size-small);
}
:--namespace form.glsr-form .glsr-form-message {
    display: none;
}
:--namespace form.glsr-form .glsr-recaptcha-holder {
    margin-top: var(--glsr-font-size);
}
:--namespace form.glsr-form .glsr-has-errors {
    color: var(--glsr-red);
    display: block;
}
:--namespace form.glsr-form .glsr-has-success {
    color: var(--glsr-green);
    display: block;
}
/*Field Labels*/
:--namespace form.glsr-form label.glsr-label {
    display: block;
    float: none;
    font-size: var(--glsr-font-size-small);
    font-weight: 500;
    hyphens: none;
    line-height: 1.25;
    margin-bottom: calc(var(--glsr-font-size) * .25);
}
/*Field Label asterisks for required fields*/
:--namespace form.glsr-form .glsr-required label.glsr-label span:last-child::after,
:--namespace form.glsr-form .glsr-required > div span:last-child::after {
    color: var(--glsr-red);
    content: '\002a';
    margin-left: calc(var(--glsr-font-size) * .25);
}
:--namespace.glsr-rtl form.glsr-form .glsr-required label.glsr-label span:last-child::after,
:--namespace.glsr-rtl form.glsr-form .glsr-required > div span:last-child::after {
    margin-left: 0;
    margin-right: calc(var(--glsr-font-size) * .25);
}
:--namespace form.glsr-form .glsr-required label.glsr-label ~ div span:last-child::after {
    display: none;
}
/*Form Input*/
:--namespace form.glsr-form input.glsr-input,
:--namespace form.glsr-form select.glsr-select,
:--namespace form.glsr-form textarea.glsr-textarea {
    appearance: none;
    background-clip: padding-box;
    background-color: var(--glsr-white);
    border-radius: calc(var(--glsr-font-size) * .15);
    border: 1px solid var(--glsr-gray);
    box-sizing: border-box;
    color: inherit; /* reset text color */
    display: block;
    float: none;
    font-family: inherit;
    font-size: var(--glsr-font-size);
    line-height: 1.5;
    margin: 0; /* Remove the margin in Firefox and Safari. */
    transition: border-color 0.15s ease-in-out;
    width: 100%;
}
:--namespace form.glsr-form input.glsr-input {
    overflow: visible; /* Show the overflow in IE and Edge. */
    padding: calc(var(--glsr-font-size) * .5) calc(var(--glsr-font-size) * .75);
}
:--namespace form.glsr-form select.glsr-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none'%3e%3cpath d='M7 7l3-3 3 3m0 6l-3 3-3-3' stroke='%239fa6b2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    color-adjust: exact;
    padding-bottom: calc(var(--glsr-font-size) * .5);
    padding-left: calc(var(--glsr-font-size) * .75);
    padding-right: calc(var(--glsr-font-size) * 2.5);
    padding-top: calc(var(--glsr-font-size) * .5);
    text-transform: none; /* Remove the inheritance of text transform in Firefox. */
}
:--namespace form.glsr-form select.glsr-select::-ms-expand {
    border: none;
    color: var(--glsr-gray);
}
@media not print {
    :--namespace form.glsr-form select.glsr-select::-ms-expand {
        display: none;
    }
}
@media print and (-ms-high-contrast: active), print and (-ms-high-contrast: none) {
    :--namespace form.glsr-form select.glsr-select {
        padding-right: calc(var(--glsr-font-size) * .75);
    }
}
:--namespace form.glsr-form textarea.glsr-textarea {
    padding: calc(var(--glsr-font-size) * .5) calc(var(--glsr-font-size) * .75);
    overflow: auto; /* Remove the default vertical scrollbar in IE 10+. */
    resize: vertical;
}
:--namespace form.glsr-form input.glsr-input:focus,
:--namespace form.glsr-form select.glsr-select:focus,
:--namespace form.glsr-form textarea.glsr-textarea:focus {
    background-color: var(--glsr-white);
    border-color: var(--glsr-gray-dark);
    box-shadow: var(--glsr-box-shadow);
    outline: none;
}
:--namespace form.glsr-form input.glsr-input.glsr-is-invalid,
:--namespace form.glsr-form select.glsr-select.glsr-is-invalid,
:--namespace form.glsr-form textarea.glsr-textarea.glsr-is-invalid {
    border-color: var(--glsr-red);
}
/*Form Checkbox/Radio*/
:--namespace form.glsr-form .glsr-field-checkbox label.glsr-label-checkbox,
:--namespace form.glsr-form .glsr-field-radio label.glsr-label-radio {
    align-items: flex-start;
    display: inline-flex;
    margin: 0;
}
:--namespace form.glsr-form .glsr-field-checkbox span:first-of-type,
:--namespace form.glsr-form .glsr-field-radio span:first-of-type {
    align-items: center;
    display: flex;
}
:--namespace form.glsr-form input.glsr-input-checkbox,
:--namespace form.glsr-form input.glsr-input-radio {
    appearance: none;
    background-color: var(--glsr-white);
    background-origin: border-box;
    border: 1px solid var(--glsr-gray);
    box-sizing: border-box; /* Add the correct box sizing in IE 10. */
    color-adjust: exact;
    color: var(--glsr-black);
    display: inline-block;
    flex-shrink: 0;
    height: var(--glsr-font-size);
    margin-right: calc(var(--glsr-font-size) * .5);
    outline: none;
    padding: 0; /* Remove the padding in IE 10. */
    user-select: none;
    vertical-align: middle;
    width: var(--glsr-font-size);
}
:--namespace form.glsr-form input.glsr-input-checkbox {
    border-radius: calc(var(--glsr-font-size) * .15);
}
:--namespace form.glsr-form input.glsr-input-radio {
    border-radius: 100%;
}
:--namespace.glsr-rtl form.glsr-form input.glsr-input-checkbox,
:--namespace.glsr-rtl form.glsr-form input.glsr-input-radio {
    margin-left: calc(var(--glsr-font-size) * .5);
    margin-right: 0;
}
:--namespace form.glsr-form input.glsr-input-checkbox:checked,
:--namespace form.glsr-form input.glsr-input-radio:checked {
    background-color: currentColor;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-color: transparent;
}
:--namespace form.glsr-form input.glsr-input-checkbox:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
}
:--namespace form.glsr-form input.glsr-input-radio:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}
:--namespace form.glsr-form input.glsr-input-checkbox:focus,
:--namespace form.glsr-form input.glsr-input-radio:focus {
    border-color: var(--glsr-gray-dark);
    box-shadow: var(--glsr-box-shadow);
    outline: none;
}
:--namespace form.glsr-form input.glsr-input-checkbox:checked:focus,
:--namespace form.glsr-form input.glsr-input-radio:checked:focus {
    border-color: transparent;
}
@media not print {
    :--namespace form.glsr-form input.glsr-input-checkbox::-ms-check,
    :--namespace form.glsr-form input.glsr-input-radio::-ms-check {
        background: inherit;
        border-color: inherit;
        border-radius: inherit;
        border-width: 1px;
        color: transparent;
    }
}
/*Form Toggle*/
:--namespace form.glsr-form .glsr-toggle-switch {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: row-reverse;
}
:--namespace form.glsr-form label.glsr-label-toggle {
    font-size: var(--glsr-font-size);
    line-height: 1.5;
    margin-left: calc(var(--glsr-font-size) * 0.5);
}
:--namespace.glsr-rtl form.glsr-form label.glsr-label-toggle {
    margin-left: 0;
    margin-right: calc(var(--glsr-font-size) * 0.5);
}
:--namespace form.glsr-form .glsr-toggle-wrap {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    position: relative;
}
:--namespace form.glsr-form input[type=checkbox].glsr-toggle {
    appearance: none;
    background-color: transparent;
    border-radius: var(--glsr-toggle-size);
    box-sizing: border-box;
    cursor: pointer;
    height: var(--glsr-toggle-size);
    margin: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    user-select: none;
    width: calc(calc(var(--glsr-toggle-size) * 2) - 4px);
}
:--namespace form.glsr-form input[type=checkbox].glsr-toggle + .glsr-toggle-track {
    background-color: var(--glsr-gray);
    border-radius: var(--glsr-toggle-size);
    box-sizing: border-box;
    height: var(--glsr-toggle-size);
    opacity: 1;
    padding: 2px;
    pointer-events: none;
    transition: background-color 0.15s ease-in-out;
    width: calc(calc(var(--glsr-toggle-size) * 2) - 4px);
}
:--namespace form.glsr-form input[type=checkbox].glsr-toggle:checked + .glsr-toggle-track {
    background-color: currentColor;
    transition: background-color 0.15s ease-in-out;
}
:--namespace form.glsr-form input[type=checkbox].glsr-toggle:focus + .glsr-toggle-track {
    box-shadow: var(--glsr-box-shadow);
    outline: none;
}
:--namespace form.glsr-form input[type=checkbox].glsr-toggle + .glsr-toggle-track::before {
    background-color: var(--glsr-white);
    border-radius:calc(var(--glsr-toggle-size) - 4px);
    box-shadow: 0 calc(var(--glsr-toggle-size) * 0.125) calc(var(--glsr-toggle-size) * 0.25) rgba(0, 0, 0, 0.2);
    content: '';
    display: block;
    height: calc(var(--glsr-toggle-size) - 4px);
    pointer-events: none;
    transition: transform 0.075s ease-in-out;
    width: calc(var(--glsr-toggle-size) - 4px);
}
:--namespace form.glsr-form input[type=checkbox].glsr-toggle:checked + .glsr-toggle-track::before {
    transform: translateX(calc(var(--glsr-toggle-size) - 4px));
}
