/*Submit button*/
:--namespace form.glsr-form [type=submit] {
    white-space: nowrap;
}
:--namespace form.glsr-form [type=submit] .glsr-button-loading {
    display: none;
}
:--namespace form.glsr-form [type=submit][disabled] .glsr-button-loading {
    display: inline;
    position: relative;
}
:--namespace form.glsr-form [type=submit] .glsr-button-loading::before,
:--namespace form.glsr-form [type=submit] .glsr-button-loading::after {
    animation: glsr-spin 0.5s infinite linear;
    border-radius: 100%;
    border: 0.2em solid currentColor;
    box-sizing: border-box;
    content: '';
    display: inline-block;
    height: 1em;
    margin: -0.5em auto 0;
    position: absolute;
    top: 50%;
    width: 1em;
}
:--namespace form.glsr-form [type=submit] .glsr-button-loading::before {
    border-top-color: transparent;
    opacity: 0.5;
}
:--namespace form.glsr-form [type=submit] .glsr-button-loading::after {
    border-color: transparent;
    border-top-color: currentColor;
}
:--namespace.glsr-ltr form.glsr-form [type=submit][disabled] .glsr-button-loading {
    margin-right: 1.65em;
}
:--namespace.glsr-ltr form.glsr-form [type=submit] .glsr-button-loading::before,
:--namespace.glsr-ltr form.glsr-form [type=submit] .glsr-button-loading::after {
    left: 0;
}
:--namespace.glsr-rtl form.glsr-form [type=submit][disabled] .glsr-button-loading {
    margin-left: 1.65em;
}
:--namespace.glsr-rtl form.glsr-form [type=submit] .glsr-button-loading::before,
:--namespace.glsr-rtl form.glsr-form [type=submit] .glsr-button-loading::after {
    right: 0;
}
