:root {
    --glsr-white                   : #ffffff;
    --glsr-gray-light              : #d2d6dc; /*gray-300*/
    --glsr-gray                    : #9fa6b2; /*gray-400*/
    --glsr-gray-dark               : #6b7280; /*gray-500*/
    --glsr-black                   : #161e2e; /*gray-900*/
    --glsr-blue                    : #1c64f2; /*blue-600*/
    --glsr-green                   : #057a55; /*green-600*/
    --glsr-red                     : #e02424; /*red-600*/
    --glsr-yellow                  : #faca15; /*yellow-300*/

    --glsr-border-radius           : calc(var(--glsr-font-size) * .15);
    --glsr-box-shadow              : 0 0 0 3px rgba(var(--glsr-gray-dark), .15);
    --glsr-font-family-sans        : inherit;
    --glsr-font-family-serif       : inherit;
    --glsr-font-size-small         : 0.875rem;
    --glsr-font-size               : 1rem;
    --glsr-font-size-large         : 1.125rem;
    --glsr-line-height             : 1.5;

    --glsr-star-empty              : none;
    --glsr-star-full               : none;
    --glsr-star-half               : none;
    --glsr-star-size               : calc(var(--glsr-font-size) * 1.5);

    --glsr-toggle-bg-active        : currentColor;
    --glsr-toggle-bg-inactive      : currentColor;
    --glsr-toggle-font-weight      : normal;
    --glsr-toggle-opacity-active   : 1;
    --glsr-toggle-opacity-inactive : 0.15;
    --glsr-toggle-padding          : 3px;
    --glsr-toggle-radius-inner     : 999px;
    --glsr-toggle-radius-outer     : 999px;
    --glsr-toggle-size             : 1.4rem;

    --glsr-form-bg-color           : var(--glsr-white);
    --glsr-form-border-color       : var(--glsr-gray);
    --glsr-form-border-radius      : var(--glsr-border-radius);
    --glsr-form-border-width       : 1px;
    --glsr-form-box-shadow         : var(--glsr-box-shadow);
    --glsr-form-duration           : 0.15s;
    --glsr-form-font-family-sans   : inherit;
    --glsr-form-font-family-serif  : inherit;
    --glsr-form-font-size-small    : var(--glsr-font-size-small);
    --glsr-form-font-size          : var(--glsr-font-size);
    --glsr-form-label-font-weight  : 500;
    --glsr-form-line-height        : var(--glsr-line-height);
    --glsr-form-px                 : calc(var(--glsr-form-font-size) * .75);
    --glsr-form-py                 : calc(var(--glsr-form-font-size) * .5);
    --glsr-form-star-size          : calc(var(--glsr-font-size) * 2);

    --glsr-summary-bar-opacity     : 0.1;
    --glsr-summary-font-family     : inherit;
    --glsr-summary-font-size       : var(--glsr-font-size);
    --glsr-summary-line-height     : var(--glsr-line-height);
    --glsr-summary-max-width       : 400px;
    --glsr-summary-star-size       : var(--glsr-star-size);
}
