/*Form Input*/
:--namespace form.glsr-form input.glsr-input,
:--namespace form.glsr-form select.glsr-select,
:--namespace form.glsr-form textarea.glsr-textarea {
    appearance: none;
    background-clip: padding-box;
    background-color: var(--glsr-form-bg-color);
    border-radius: var(--glsr-form-border-radius);
    border: var(--glsr-form-border-width) solid var(--glsr-form-border-color);
    box-sizing: border-box;
    color: inherit; /* reset text color */
    display: block;
    float: none;
    font-family: inherit;
    font-size: var(--glsr-form-font-size);
    line-height: var(--glsr-form-line-height);
    margin: 0; /* Remove the margin in Firefox and Safari. */
    transition: border-color 0.15s ease-in-out;
    width: 100%;
}
:--namespace form.glsr-form input.glsr-input {
    overflow: visible; /* Show the overflow in IE and Edge. */
    padding-top: var(--glsr-form-pt);
    padding-right: var(--glsr-form-pr);
    padding-bottom: var(--glsr-form-pb);
    padding-left: var(--glsr-form-pl);
}
:--namespace form.glsr-form select.glsr-select {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E');
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    color-adjust: exact;
    height: auto;
    max-height: none;
    max-width: none;
    min-height: none;
    min-width: none;
    opacity: 1;
    padding-top: var(--glsr-form-pt);
    padding-right: calc(var(--glsr-form-pr) * 3);
    padding-bottom: var(--glsr-form-pb);
    padding-left: var(--glsr-form-pl);
    text-transform: none; /* Remove the inheritance of text transform in Firefox. */
}
@media print and (-ms-high-contrast: active), print and (-ms-high-contrast: none) {
    :--namespace form.glsr-form select.glsr-select {
        padding-right: var(--glsr-form-pr);
    }
}
:--namespace form.glsr-form textarea.glsr-textarea {
    padding-top: var(--glsr-form-pt);
    padding-right: var(--glsr-form-pr);
    padding-bottom: var(--glsr-form-pb);
    padding-left: var(--glsr-form-pl);
    overflow: auto; /* Remove the default vertical scrollbar in IE 10+. */
    resize: vertical;
}
