/*Form Checkbox/Radio*/
:--namespace form.glsr-form .glsr-field-checkbox,
:--namespace form.glsr-form .glsr-field-radio {
    display: flex;
}
:--namespace form.glsr-form .glsr-field-checkbox label,
:--namespace form.glsr-form .glsr-field-radio label {
    align-items: flex-start;
    display: inline-flex;
    margin: 0;
}
:--namespace form.glsr-form .glsr-field-checkbox span:first-of-type,
:--namespace form.glsr-form .glsr-field-radio span:first-of-type {
    align-items: center;
    display: flex;
}
:--namespace form.glsr-form input[type=checkbox].glsr-input-checkbox,
:--namespace form.glsr-form input[type=radio].glsr-input-radio {
    box-sizing: border-box; /* Add the correct box sizing in IE 10. */
    display: inline-block;
    flex-shrink: 0;
    left: 0;
    margin-left: 0;
    margin-right: calc(var(--glsr-base-font-size) * .5);
    margin-top: 0;
    outline: none;
    padding: 0; /* Remove the padding in IE 10. */
    top: 0;
    user-select: none;
    vertical-align: middle;
}
:--namespace.glsr-rtl form.glsr-form input[type=checkbox].glsr-input-checkbox,
:--namespace.glsr-rtl form.glsr-form input[type=radio].glsr-input-radio {
    margin-left: calc(var(--glsr-base-font-size) * .5);
    margin-right: 0;
}
