// =============================================================================
// Partials -> Rating
// =============================================================================

.star-rating .glsr-star {
	width: 16px;
	font-size: 16px;
	line-height: 20px;
	color: #555;
}
