.wp-block-site-reviews-summary { // ensure that the CSS is used
    display: block;
}

.has-custom-color .glsr:not([data-theme]) .glsr-summary {
    .glsr-star {
        background: var(--glsr-summary-star-bg);
        mask-size: 100%;
    }
    .glsr-star-empty {
        mask-image: var(--glsr-star-empty);
    }
    .glsr-star-full {
        mask-image: var(--glsr-star-full);
    }
    .glsr-star-half {
        mask-image: var(--glsr-star-half);
    }
}

.items-justified-left .glsr-summary {
    --glsr-summary-align: start;
}
.items-justified-center .glsr-summary {
    --glsr-summary-align: center;
}
.items-justified-right .glsr-summary {
    --glsr-summary-align: end;
}

div.is-style-1,
div.is-style-3 {
    .glsr-summary {
        display: grid;
        grid-template-columns: auto 1fr;
    }
    .glsr-summary-rating {
        font-size: 3em;
        grid-row-end: span 2;
    }
    .glsr-summary-percentages {
        grid-column-end: span 2;
    }
    .glsr-summary-stars {
        grid-column-start: 2;
    }
    .glsr-summary-text {
        grid-column-start: 2;
    }
    :not(:has(:is(.glsr-summary-rating))) {
        .glsr-summary-stars,
        .glsr-summary-text {
            grid-column: 1 / span 2;
        }
    }
    :not(:has(:is(.glsr-summary-stars,.glsr-summary-text))) {
        .glsr-summary-stars,
        .glsr-summary-text {
            grid-row-end: span 2;
        }
    }
    &.items-justified-left {
        .glsr-summary-rating {
            justify-content: start;
        }
    }
    &.items-justified-center {
        .glsr-summary {
            grid-template-columns: 1fr auto auto 1fr;
        }
        .glsr-summary-rating {
            grid-column-start: 2;
        }
        .glsr-summary-stars,
        .glsr-summary-text {
            grid-column-start: 3;
            text-align: start;
        }
        .glsr-summary-percentages {
            grid-column-end: span 4;
        }
    }
    &.items-justified-right {
        .glsr-summary {
            grid-template-columns: 1fr auto;
        }
        .glsr-summary-rating {
            justify-content: end;
        }
        .glsr-summary-text {
            text-align: start;
        }
    }
}
div.is-style-2,
div.is-style-3 {
    .glsr-summary-percentages {
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    }
    .glsr-summary-bar {
        grid-column: span 1;
        grid-row: span 3;
    }
    .glsr-summary-bar > span {
        align-items: end;
        justify-content: center;
    }
    .glsr-summary-bar-label {
        white-space: wrap;
    }
    .glsr-summary-bar-background {
        align-items: end;
        border-radius: var(--glsr-input-radius);
        grid-row-start: 1;
        height: var(--glsr-bar-size);
        overflow: hidden;
        &::after {
            border-radius: var(--glsr-input-radius);
            height: var(--glsr-bar-percent);
            min-height: 1px;
            width: 100%;
        }
    }
    .glsr-summary-bar-percent {
        display: none;
    }
}
