.wp-block-site-reviews-summary { // ensure that the CSS is used
    display: block;
}

.has-custom-color .glsr:not([data-theme]) .glsr-summary {
    .glsr-star {
        background: var(--glsr-summary-star-bg);
        mask-size: 100%;
    }
    .glsr-star-empty {
        mask-image: var(--glsr-star-empty);
    }
    .glsr-star-full {
        mask-image: var(--glsr-star-full);
    }
    .glsr-star-half {
        mask-image: var(--glsr-star-half);
    }
}

.items-justified-left .glsr-summary {
    --glsr-summary-align: start;
}
.items-justified-center .glsr-summary {
    --glsr-summary-align: center;
}
.items-justified-center .glsr-summary-text {
    flex: 0 auto;
}
.items-justified-right .glsr-summary {
    --glsr-summary-align: end;
}
.items-justified-right .glsr-summary-text {
    flex: 0 auto;
}
