.wp-block-site-reviews-summary { // ensure that the CSS is used
    display: block;
}

.items-justified-left .glsr-summary {
    --glsr-summary-align: start;
}
.items-justified-center .glsr-summary {
    --glsr-summary-align: center;
}
.items-justified-right .glsr-summary {
    --glsr-summary-align: end;
}
