// =============================================================================
// Partials -> Twenty Fifteen
// =============================================================================

$twenty-fifteen-rembase: 10;
$twenty-fifteen-color: #21759b;
$twenty-fifteen-error: #c0392b;
$twenty-fifteen-sans-serif: "Noto Sans", sans-serif;
$twenty-fifteen-serif: "Noto Serif", serif;

.glsr-form-messages {
	color: $twenty-fifteen-color;
}

.gslr-has-errors {
	color: $twenty-fifteen-error;
}

//fs: 15|17|19
//pt: 24|28|32
.shortcode-reviews-form {
	border-top: 1px solid #eaeaea;
	border-top: 1px solid rgba(51, 51, 51, 0.1);
	padding-top: (24 / 15) + em;

	> :last-child {
		margin-bottom: 0;
	}

	@media screen and (min-width: 46.25em) {
		padding-top: (28 / 17) + em;
	}

	@media screen and (min-width: 55em) {
		padding-top: (32 / 19) + em;
	}

	@media screen and (min-width: 59.6875em) {
		padding-top: (24 / 15) + em;
	}

	@media screen and (min-width: 68.75em) {
		padding-top: (28 / 17) + em;
	}

	@media screen and (min-width: 77.5em) {
		padding-top: (32 / 19) + em;
	}
}

//fs: 18|24|27
//lh: 24|28|32
//mb: 24|28|32
.shortcode-reviews-form h3.glsr-form-title {
	font-family: $twenty-fifteen-serif;
	font-size: 18px;
	font-size: (18 / $twenty-fifteen-rembase) + rem;
	line-height: (24 / 18);
	margin-top: 0;
	margin-bottom: (24 / 18) + em;

	@media screen and (min-width: 46.25em) {
		font-size: 24px;
		font-size: (24 / $twenty-fifteen-rembase) + rem;
		line-height: (28 / 24);
		margin-bottom: (28 / 24) + em;
	}

	@media screen and (min-width: 55em) {
		font-size: 27px;
		font-size: (27 / $twenty-fifteen-rembase) + rem;
		line-height: (32 / 27);
		margin-bottom: (32 / 27) + em;
	}

	@media screen and (min-width: 59.6875em) {
		font-size: 18px;
		font-size: (18 / $twenty-fifteen-rembase) + rem;
		line-height: (24 / 18);
		margin-bottom: (24 / 18) + em;
	}

	@media screen and (min-width: 68.75em) {
		font-size: 24px;
		font-size: (24 / $twenty-fifteen-rembase) + rem;
		line-height: (28 / 24);
		margin-bottom: (28 / 24) + em;
	}

	@media screen and (min-width: 77.5em) {
		font-size: 27px;
		font-size: (27 / $twenty-fifteen-rembase) + rem;
		line-height: (32 / 27);
		margin-bottom: (32 / 27) + em;
	}
}

//fs: 12|14|16
//lh: 18|21|24
//mb: 24|28|32
.glsr-form-description {
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
	margin-bottom: (24 / 12) + em;

	span {
		color: $twenty-fifteen-error;
	}
}

.glsr-form-description,
.glsr-field-error {
	font-family: $twenty-fifteen-sans-serif;
	font-size: 12px;
	font-size: (12 / $twenty-fifteen-rembase) + rem;
	line-height: (18 / 12);

	@media screen and (min-width: 46.25em) {
		font-size: 14px;
		font-size: (14 / $twenty-fifteen-rembase) + rem;
	}

	@media screen and (min-width: 55em) {
		font-size: 16px;
		font-size: (16 / $twenty-fifteen-rembase) + rem;
	}

	@media screen and (min-width: 59.6875em) {
		font-size: 12px;
		font-size: (12 / $twenty-fifteen-rembase) + rem;
	}

	@media screen and (min-width: 68.75em) {
		font-size: 14px;
		font-size: (14 / $twenty-fifteen-rembase) + rem;
	}

	@media screen and (min-width: 77.5em) {
		font-size: 16px;
		font-size: (16 / $twenty-fifteen-rembase) + rem;
	}
}

//mb: 24|28|32
.glsr-field {
	margin-bottom: 1.6em;

	&:last-child {
		margin-bottom: 0;
	}

	&-error {
		color: $twenty-fifteen-error;

		// &:first-child {
		// 	margin-top: (24 / 12) + em;
		// }
	}

	// fs: 12|14|16
	// lh: 18|21|24
	label {
		color: #707070;
		color: rgba(51, 51, 51, 0.7);
		font-family: $twenty-fifteen-sans-serif;
		font-size: 12px;
		font-size: (12 / $twenty-fifteen-rembase) + rem;
		font-weight: 700;
		letter-spacing: 0.04em;
		line-height: 1.5;
		text-transform: uppercase;

		@media screen and (min-width: 46.25em) {
			font-size: 14px;
			font-size: (14 / $twenty-fifteen-rembase) + rem;
		}

		@media screen and (min-width: 55em) {
			font-size: 16px;
			font-size: (16 / $twenty-fifteen-rembase) + rem;
		}

		@media screen and (min-width: 59.6875em) {
			font-size: 12px;
			font-size: (12 / $twenty-fifteen-rembase) + rem;
		}

		@media screen and (min-width: 68.75em) {
			font-size: 14px;
			font-size: (14 / $twenty-fifteen-rembase) + rem;
		}

		@media screen and (min-width: 77.5em) {
			font-size: 16px;
			font-size: (16 / $twenty-fifteen-rembase) + rem;
		}
	}

	label[for^="rating"]:after,
	&.glsr-required label:after {
		color: $twenty-fifteen-error;
	}

	input[type="checkbox"] {
		&:focus {
			outline: none;
		}
	}

	input[type="submit"] {
		width: 100%;
	}

	@media screen and (min-width: 46.25em) {
		margin-bottom: 1.6471em;
	}

	@media screen and (min-width: 55em) {
		margin-bottom: 1.6842em;
	}

	@media screen and (min-width: 59.6875em) {
		margin-bottom: 1.6em;
	}

	@media screen and (min-width: 68.75em) {
		margin-bottom: 1.6471em;
	}

	@media screen and (min-width: 77.5em) {
		margin-bottom: 1.6842em;
	}
}

.glsr-review-response {
	margin-top: 1.6em;
}

.glsr-loader {
	bottom: 12px;
}

@media screen and (min-width: 46.25em) {
	.glsr-loader {
		bottom: 16px;
	}
}

@media screen and (min-width: 55em) {
	.glsr-loader {
		bottom: 20px;
	}
}

@media screen and (min-width: 59.6875em) {
	.glsr-loader {
		bottom: 12px;
	}
}

@media screen and (min-width: 68.75em) {
	.glsr-loader {
		bottom: 16px;
	}
}

@media screen and (min-width: 77.5em) {
	.glsr-loader {
		bottom: 20px;
	}
}

.widget .glsr-review-title {
	margin-bottom: 1em;
}
