// =============================================================================
// Partials -> Twenty Fourteen
// =============================================================================

$twenty-fourteen-error: #c0392b;
$twenty-fourteen-success: #21759b;
$twenty-fourteen-sans-serif: Lato, sans-serif;

.glsr-form-messages {
	color: $twenty-fourteen-success;
}

.gslr-has-errors {
	color: $twenty-fourteen-error;
}

h3.glsr-form-title {
	font: 900 16px/1.5 $twenty-fourteen-sans-serif;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 24px;
}

.glsr-form-description span {
	color: $twenty-fourteen-error;
}

.shortcode-reviews-form .glsr-form-description {
	font-size: 14px;
	line-height: (24 / 14);
	color: #767676;
}

.glsr-field {
	margin-bottom: 24px;

	&-error {
		color: $twenty-fourteen-error;
	}

	label[for^="rating"]:after,
	&.glsr-required label:after {
		color: $twenty-fourteen-error;
	}

	input[type="text"],
	input[type="email"],
	input[type="url"] {
		width: 100%;
	}
}

@media screen and (max-width: 1079px) {
	#secondary .gl-star-rating[data-star-rating] .gl-star-rating-stars > span {
		width: 21px;
		height: 21px;
		background-size: 21px;
	}
	#secondary .gl-star-rating-ltr[data-star-rating] .gl-star-rating-stars > span:last-child {
		margin-right: 0;
	}
	#secondary .gl-star-rating-rtl[data-star-rating] .gl-star-rating-stars > span:last-child {
		margin-left: 0;
	}
}

.primary-sidebar .glsr-review-response,
.footer-sidebar .glsr-review-response {
	background-color: rgba(255,255,255,0.075);
	&::before {
		border-color: rgba(255,255,255,0.075) transparent;
	}
}

.glsr-loader {
	bottom: 100px;
}
